{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="col-lg-12">
        <h2>Scheduled Emails</h2>
    </div>
    <div class="col-lg-12">
    {{#if totalPages}}
        <h4>Pages:
            <select id="slection-page-product" style="width:60px;text-align-last:center">
                <option value="{{page}}" hidden="hidden" selected="selected">{{page}}</option>
                {{#each totalPages}}
                    <option {{selectState this page}}>{{this}}</option>
                {{/each}}
            </select>
        </h4>
    {{/if}}
    </div>
    {{#if emails}}
        <div class="col-xs-12 col-md-12">
            <table class="table table-bordered table-sortable" id="productTable">
                <thead>
                <tr>
                    <td>{{@index}}</td>
                    <th>Receiver</th>
                    <th>Subject</th>
                    <th>Link file</th>
                    <th>Sent At</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each emails}}
                    <tr>
                        <td>{{@index}}</td>
                        <td>
                            <input type="hidden" id="reciever_{{@index}}" value="{{this.emailManufacture}}"/>
                            {{this.emailManufacture}}
                        </td>
                        <td>
                            <input type="hidden" id="subject_{{@index}}" value="{{this.subject}}"/>
                            <input type="hidden" id="content_{{@index}}" value="{{this.content}}"/>
                            {{this.subject}}
                        </td>
                        {{#if this.fileName}}
                            <td><a target="_blank" href="/admin/download-directly/{{this.fileName}}">Download</a></td>
                        {{else}}
                            <td>No Link</td>
                        {{/if}}
                        <td>{{formatDate this.createdAt "YYYY-MM-DDThh:mm"}}</td>
                        <td>
                        {{#if this.isSent}}
                            <label class="pull-left" style="color: #18bc9c">Sent</label>
                        {{else}}
                            <label class="pull-left" style="color: #18bc9c">pending</label>
                        {{/if}}
                        </td>
                        <td>
                            <button type="button" onclick="showEmailContent('{{this.subject}}','{{this.content}}','{{this.emailManufacture}}')" class="btn btn-default btn-sm"><i class="fa fa-eye"></i></button>
                            <a href="/admin/email/delete/{{this._id}}" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <div class="col-lg-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Empty</strong>
                </li>
            </ul>
        </div>
    {{/if}}
</div>

<script type="text/javascript">
    function localize(t)
    {
        var d=new Date(t+" UTC");
        document.write(d.toString());
    }
</script>
