{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-md-8">
            <h2>Edit notification</h2>
            <form method="post" id="edit_form" autocomplete="off" action="/admin/settings/send-notification" data-toggle="validator">
                <div class="form-group">
                    <label>Title</label>
                    <input type="hidden" autocomplete="off" class="form-control" name="notificationId" value="{{notification._id}}" required>
                    <input type="text" class="form-control" name="title" value="{{notificationTitle}}" required>
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea style="min-height: 80px;" type="text" class="form-control" name="content" required>{{notificationBody}}</textarea>
                </div>
                <div class="form-group">
                    <label>To Email(Optional)</label>
                    <input type="text"  autocomplete="off" class="form-control" name="emails" placeholder="abc@gmail.com,def@gmail.com" value="{{notification.receiverEmail}}">
                </div>
                <div class="form-group">
                    <label>Payload(Optional)</label>
                    <textarea style="min-height: 80px;" type="text" class="form-control" name="payload"
                        placeholder="{ }">{{notification.payload}}</textarea>
                </div>
                <div>
                    <label>Schedule time(Optional) - <label class="text-danger">Please use Singapore timezone for
                            setting schedule(DD/MM/YYYY)</label></label>
                    <input type='hidden'  class="form-control" id="scheduleTimeDefault" value="{{ formatDate notification.scheduleTime "DD/MM/YYYY hh:mm A"}}" />
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" id="scheduleTime" name="scheduleTime" autocomplete="off"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <label>Choose Products(Optional)</label>
                    <select id="productId" class="form-control" name="productId">
                        <option value="-1">None</option>
                        {{#each products}}
                        <option value="{{this._id}}" {{selectState this._id @root.notification.productLocalId}}>{{this.productTitle}}({{this.productVariantSku}})
                        </option>
                        {{/each}}
                    </select>
                </div>
<!--                <div class="b2b-item">-->
<!--                    <input type="checkbox" name="B2BItem" {{checkedState notification.isB2BItem}}></input>-->
<!--                    <span class="b2b-checkbox">Nyansum exclusive mobile sale</span>-->
<!--                </div>-->
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
<script>
    $(document).ready(function () {
        $('select').selectize({
            sortField: 'text'
        });
        $('#datetimepicker1').datetimepicker({
            format:'DD/MM/YYYY hh:mm A',
        });
    });
</script>