{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="col-lg-12">
        <h2>Scheduled Notification</h2>
        <br/>
        <br/>
    </div>
    {{#if notifications}}
        <div class="col-xs-12 col-md-12">
            <table class="table table-bordered table-sortable" id="productTable">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Scheduled</th>
                    <th>Channel</th>
                    <th>Is Sent?</th>
                    <th>Status</th>
                    <th>action</th>
                </tr>
                </thead>
                <tbody>
                {{#each notifications}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{ formatDate this.scheduleTime "dddd, DD-MM-YYYY hh:mm A"}} +8 GMT</td>
                        <td>{{this.topic}}</td>
                        <td>{{this.isSent}}</td>
                        <td>{{this.status}}</td>
                        <td style="min-width: 50px;">
                            <button type="button"><a class="text-success" href="/admin/notification/edit/{{this._id}}" > <i class="fa fa-edit"></i></button></a>
                            <a onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm" href="/admin/notification/delete/{{this._id}}" > <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <div class="col-lg-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Empty</strong>
                </li>
            </ul>
        </div>
    {{/if}}
    <div class="box-footer no-padding">
        <div class="mailbox-controls">
            <div class="text-center">
                <div class="btn-group">
                    {{{showPaginationAtBottom currentPage totalPage 5 navigationUrl}}}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function localize(t)
    {
        let d=new Date(t+" UTC");
        document.write(d.toString());
    }
</script>
