{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="row table-margin-bottom">
        <div class="col-lg-8">
            <h2>List of products with digital content</h2>
            <br/>
            <label>Digital content</label>
            <select class="form-control" id="digitalContentGroupType" name="groupType" required>
                <option value="">Select</option>
                {{#each allGroupType}}
                    <option {{selectState @root.groupItem._id this._id}} value="{{this._id}}">{{this.groupName}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-xs-12 col-md-12">
            <hr/>
            <table class="table table-bordered table-sortable" id="productTable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Button Displayed</th>
                    <th>Product SKU</th>
                    <th>Content Url or Screen</th>
                    <th>In App?</th>
                    <th>Disabled</th>
                    <th>Edit/Delete</th>
                </tr>
                </thead>
                <tbody>
                {{#each digitalContents}}
                    <tr>
                        <td>
                            <p class="text-info">{{this.toyId}}</p>
                        </td>
                        <td>
                            <p class="text-info">{{this.toyName}}</p>
                        </td>
                        <td>
                            <button style="background-color: {{this.buttonColor}}"><span style="color: {{this.textColor}}">{{this.buttonText}}</span></button>
                        </td>
                        <td>
                            <p class="text-info">{{arrayToString this.productSkus}}</p>
                        </td>
                        <td>
                            <p class="text-info">{{this.contentUrlOrScreen}}</p>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" {{checkedState this.isHostedInApp}} onclick="return false;">
                        </td>
                        <td class="text-center">
                            <input class="isFeatureCollection"
                                   onclick="return false;"
                                   type="checkbox" {{checkedState this.isDisable}}
                                   name="isDisable">
                        </td>
                        <td >
                            <a style="text-decoration:none" href="/admin/character/edit/{{this._id}}"><button><i class="fa fa-edit text-success"></i></button> </a>
                            <a onclick="return confirm('Are you sure you want to unlink product?')" href="/admin/character/unlink-product/{{this._id}}"><button><i class="fa fa-chain-broken text-danger"></i></button></a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $( document ).ready( function() {
        $('#digitalContentGroupType').bind('change', function () {
            // bind change event to select
            const groupTypeId = $(this).val(); // get selected value
            window.location.href = '/admin/all-characters?id=' + groupTypeId;
            return true;
        });
    });
</script>

