{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row table-margin-bottom">
		<div class="col-md-8">
			<h2>Linking products to digital content</h2>
            <br/>
            <label>Digital content Type</label>
            <select class="form-control" id="digitalContentGroupType" name="groupType" required>
                <option value="">Select</option>
                {{#each allGroupType}}
                    <option {{selectState @root.groupItem._id this._id}} value="{{this._id}}">{{this.groupName}}</option>
                {{/each}}
            </select>
            {{#if groupItem}}
            <hr/>
			<form method="post" id="edit_form" action="/admin/character/link-product" data-toggle="validator">
                <div class="form-group">
                    <label>Select Item</label>
                    <select class="form-control" id="selectItem" name="digitalContentId" required>
                        {{#each digitalContents}}
                            <option value="{{this._id}}">{{this.toyName}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label>Id</label>
                    <input type="text" id="toyId" class="form-control" name="toyId" required readonly>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" id="toyName" class="form-control" name="toyName" required readonly>
                </div>
                <div class="form-group">
                    <label>Button Text</label>
                    <input type="text" id="buttonText" class="form-control" name="buttonText" required readonly>
                </div>
                <hr/>
                <div class="form-group">
                    <div class="col-md-12 no-pad-left">
                        <div class="col-md-4 no-pad-left">
                            <label class="modal-title ">Button Color</label>
                            <input type="color" id="buttonColor" name="buttonColor" class="" placeholder="#0000" value="#000000" required disabled/>
                        </div>
                        <div class="col-md-4 no-pad-left">
                            <label class="modal-title">Text Color</label>
                            <input type="color" id="textColor" name="textColor" class="" placeholder="#0000" value="#FFFFFF" required disabled/>
                        </div>
                    </div>
                </div>
                <br/>
                <hr/>
                <div class="form-group">
                    <label>Content Url or Screen</label>
                    <input type="text" id="contentUrlOrScreen" class="form-control" name="contentUrlOrScreen" required readonly>
                </div>
                <div class="form-group">
                    <label>Is hosted in app?</label>
                    <input type="checkbox" id="isHostedInApp" name="isHostedInApp" onclick="return false;" disabled>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" id="description" class="form-control" name="description" required readonly>
                </div>
                <div class="form-group">
                    <label>Product SKUs * (Separate multiple values by comma)</label>
                    <input type="text" placeholder="Separate multiple values by comma" class="form-control" name="productSku" required>
                </div>
                <div class="form-group" style="padding-left: 0px;">
                    <label for="isFeatureCollection" class="col-sm-2 control-label no-pad-left">Disable</label>
                    <input class="isFeatureCollection"
                           type="checkbox"
                           name="isDisable">
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
            {{/if}}
		</div>
	</div>
</div>


<script type="text/javascript">
    let groupData = JSON.parse(`{{{digitalContentsString}}}`)
    $( document ).ready( function() {
        $('#digitalContentGroupType').bind('change', function () {
            // bind change event to select
            const groupTypeId = $(this).val(); // get selected value
            window.location.href = '/admin/digital-content/new-character?id=' + groupTypeId;
            return true;
        });

        $('#selectItem').bind('change', function () {
            // bind change event to select
            const itemId = $(this).val(); // get selected value
            const itemFound = groupData.find(x => x._id === itemId);
            if(itemFound){
                $('#toyId').val(itemFound.toyId);
                $('#toyName').val(itemFound.toyName);
                $('#buttonText').val(itemFound.buttonText);
                $('#buttonColor').val(itemFound.buttonColor);
                $('#textColor').val(itemFound.textColor);
                $('#contentUrlOrScreen').val(itemFound.contentUrlOrScreen);
                $('#isHostedInApp').prop('checked', itemFound.isHostedInApp);
                $('#description').val(itemFound.description);
            }
        });

        if(groupData && groupData && groupData.length >0){
            const itemFound = groupData[0];
            $('#toyId').val(itemFound.toyId);
            $('#toyName').val(itemFound.toyName);
            $('#buttonColor').val(itemFound.buttonColor);
            $('#textColor').val(itemFound.textColor);
            $('#buttonText').val(itemFound.buttonText);
            $('#contentUrlOrScreen').val(itemFound.contentUrlOrScreen);
            $('#isHostedInApp').prop('checked', itemFound.isHostedInApp);
            $('#description').val(itemFound.description);
        }

    });
</script>