{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row table-margin-bottom">
		<div class="col-md-8">
			<h2>Edit Digital Content</h2>
            <br/>
            <form method="post" id="edit_form" action="/admin/character/link-product" data-toggle="validator">
                <input type="hidden" name="groupId" value="{{groupItem._id}}">
                <input type="hidden" name="digitalContentId" value="{{digitalContent._id}}">
                <div class="form-group">
                    <label>Id</label>
                    <input type="text" id="toyId" class="form-control" name="toyId" value="{{digitalContent.toyId}}" readonly  required>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" id="toyName" class="form-control" name="toyName" value="{{digitalContent.toyName}}" readonly required>
                </div>
                <div class="form-group">
                    <label>Button Text</label>
                    <input type="text" id="buttonText" class="form-control" name="buttonText" value="{{digitalContent.buttonText}}" readonly required>
                </div>
                <hr/>
                <div class="form-group">
                    <div class="col-md-4 no-pad-left">
                        <label class="modal-title ">Button Color</label>
                        <input type="color" id="buttonColor" name="buttonColor" class="" placeholder="#0000" value="{{digitalContent.buttonColor}}" required disabled/>
                    </div>
                    <div class="col-md-4 no-pad-left">
                        <label class="modal-title">Text Color</label>
                        <input type="color" id="textColor" name="textColor" class="" placeholder="#0000" value="{{digitalContent.textColor}}" required disabled/>
                    </div>
                </div>
                <br/>
                <hr/>
                <div class="form-group">
                    <label>Content Url or Screen</label>
                    <input type="text" id="contentUrlOrScreen" class="form-control" name="contentUrlOrScreen" value="{{digitalContent.contentUrlOrScreen}}" readonly required>
                </div>
                <div class="form-group">
                    <label>Is hosted in app?</label>
                    <input type="checkbox" id="isHostedInApp" name="isHostedInApp" {{checkedState digitalContent.isHostedInApp}} onclick="return false;" disabled>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" id="description" class="form-control" name="description"  value="{{digitalContent.description}}" readonly required>
                </div>
                <div class="form-group">
                    <label>Product SKUs * (Separate multiple values by comma)</label>
                    <input type="text" placeholder="Separate multiple values by comma" class="form-control" name="productSku" value="{{arrayToString digitalContent.productSkus}}" required>
                </div>
                <div class="form-group" style="padding-left: 0px;">
                    <label for="isFeatureCollection" class="col-sm-2 control-label no-pad-left" >Disable</label>
                    <input class="isFeatureCollection"
                           type="checkbox"
                           {{checkedState digitalContent.isDisable}}
                           name="isDisable">
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
</div>
