{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-12">
			<h2>Edit Digital Content: {{groupItem.groupName}}</h2>
			<form method="post" id="edit_form" action="/admin/digital-content/digital-content-edit" data-toggle="validator">
                <input type="hidden" id="groupItemId" name="groupItemId" value="{{groupItem._id}}"/>
                <div class="form-group">
                    <label>Name *</label>
                    <input type="text" class="form-control" name="groupName" value="{{groupItem.groupName}}" required>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" class="form-control" name="description">{{groupItem.description}}</textarea>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
    <hr/>
    <div class="row table-margin-bottom">
        <div class="col-md-12">
            <h4>Manage Characters
                <button type="button" onclick="openNewForm()" class="btn btn-new">New Character</button>
            </h4>
            <table class="table table-bordered table-sortable" id="groupField">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Button Displayed</th>
                    <th>Content Url or Screen</th>
                    <th>In App?</th>
                    <th>Description</th>
                    <th>Edit/Delete</th>
                </tr>
                </thead>
                <tbody>
                {{#each digitalContents}}
                    <tr>
                        <td>
                            <span class="text-info">{{this.toyId}}</span>
                            <input type="hidden" id="{{this._id}}_id" value="{{this._id}}"/>
                            <input type="hidden" id="{{this._id}}_toyId" value="{{this.toyId}}"/>
                        </td>
                        <td>
                            <span class="text-info">{{this.toyName}}</span>
                            <input type="hidden" id="{{this._id}}_toyName" value="{{this.toyName}}"/>
                        </td>
                        <td>
                            <button style="background-color: {{this.buttonColor}}"><span style="color: {{this.textColor}}">{{this.buttonText}}</span></button>
                            <input type="hidden" id="{{this._id}}_buttonText" value="{{this.buttonText}}"/>
                            <input type="hidden" id="{{this._id}}_buttonColor" value="{{this.buttonColor}}"/>
                            <input type="hidden" id="{{this._id}}_textColor" value="{{this.textColor}}"/>
                        </td>
                        <td>
                            <span class="text-info">{{this.contentUrlOrScreen}}</span>
                            <input type="hidden" id="{{this._id}}_contentUrlOrScreen" value="{{this.contentUrlOrScreen}}"/>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" id="{{this._id}}_isHostedInApp" {{checkedState this.isHostedInApp}} onclick="return false;">
                        </td>
                        <td>
                            <span class="text-info">{{this.description}}</span>
                            <input type="hidden" id="{{this._id}}_description" value="{{this.description}}"/>
                        </td>
                        <td style="min-width: 50px;">
                            <button onclick="openEditForm('{{this._id}}')"><i class="fa fa-edit text-success"></i></button>
                            <a onclick="return confirm('Are you sure you want to delete?')" href="/admin/delete-character/{{this.groupId}}/{{this._id}}"><button><i class="fa fa-trash text-danger"></i></button></a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myNewItem" tabindex="-1" role="dialog" aria-labelledby="myNewItem" aria-hidden="true">
    <form method="post" class="form-horizontal" id="itemForm" action="/admin/digital-content/character-insert" data-toggle="validator">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Item</h4>
                    <input type="hidden" id="groupItemId" name="groupItemId" value="{{groupItem._id}}">
                    <input type="hidden" id="digitalItemId" name="digitalItemId">
                </div>
                <div class="modal-body">
                    <div class="col-xxl-12">
                        <label class="modal-title">ID *</label>
                        <input class="form-control" id="toyId" type="text" placeholder="" value="" name="toyId" required/>
                    </div>
                    <br/>
                    <div class="col-xxl-12">
                        <label class="modal-title">Name *</label>
                        <input class="form-control" id="toyName" type="text" placeholder="" name="toyName" required/>
                    </div>
                    <br/>
                    <div class="col-xxl-12">
                        <label class="modal-title">Button Text *</label>
                        <input class="form-control" id="buttonText" type="text" placeholder="" name="buttonText" required/>
                    </div>
                    <br/>
                    <div class="col-xxl-12">
                        <div class="col-md-4 no-pad-left">
                            <label class="modal-title ">Button Color</label>
                            <input type="color" id="buttonColor" name="buttonColor" class="" placeholder="#0000" value="#000000" required/>
                        </div>
                        <div class="col-md-4 no-pad-left">
                            <label class="modal-title">Text Color</label>
                            <input type="color" id="textColor" name="textColor" class="" placeholder="#0000" value="#FFFFFF" required/>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="col-xxl-12">
                        <label class="modal-title">Content Url or Screen *</label>
                        <input class="form-control" id="contentUrlOrScreen" type="text" placeholder="" name="contentUrlOrScreen" required/>
                    </div>
                    <br/>
                    <div class="col-xxl-12">
                        <label class="modal-title" >Is hosted in app?</label>
                        <input class="" id="isHostedInApp" type="checkbox" placeholder="" name="isHostedInApp"/>
                    </div>
                    <br/>
                    <div class="col-xxl-12">
                        <label class="modal-title" >Description</label>
                        <input class="form-control" id="description" type="text" placeholder="" name="description"/>
                    </div>
                    <br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary button-loader"
                            id="submit"
                            name="submit"
                            type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
    function openEditForm(itemId){
        $('#itemForm').prop('action', '/admin/digital-content/character-update');
        $('#myModalLabel').html('Edit Character');
        $('#toyId').val($('#'+itemId+'_toyId').val());
        $('#toyName').val($('#'+itemId+'_toyName').val());
        $('#buttonText').val($('#'+itemId+'_buttonText').val());
        $('#buttonColor').val($('#'+itemId+'_buttonColor').val());
        $('#textColor').val($('#'+itemId+'_textColor').val());
        $('#contentUrlOrScreen').val($('#'+itemId+'_contentUrlOrScreen').val());
        $('#description').val($('#'+itemId+'_description').val());
        $('#isHostedInApp').prop('checked', $('#'+itemId+'_isHostedInApp:checked').val());
        $('#digitalItemId').val(itemId);
        $('#myNewItem').modal('show');
    }

    function openNewForm(){
        $('#itemForm').prop('action', '/admin/digital-content/character-insert');
        $('#myModalLabel').html('New Character');
        $('#toyId').val('');
        $('#digitalItemId').val();
        $('#toyName').val('');
        $('#contentUrlOrScreen').val('');
        $('#description').val();
        $('#buttonText').val()
        $('#buttonColor').val();
        $('#textColor').val()
        $('#isHostedInApp').prop('checked',false);
        $('#myNewItem').modal('show');
    }
</script>
