{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="row table-margin-bottom">
        <div class="col-lg-6">
            <h2>Manage digital content</h2>
            <br/>
        </div>
        <div class="col-lg-6">
            <div class="product-create-new">
                <button type="button" class="btn btn-new" data-toggle="modal" data-target="#newGroup">Add New Digital Content</button>
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <table class="table table-bordered table-sortable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>Last Updated At</th>
                    <th>Edit/Delete</th>
                </tr>
                </thead>
                <tbody>
                {{#each digitalContentGroupTypes}}
                    <tr>
                        <td>
                            <span class="text-info">{{this.groupName}}</span>
                        </td>
                        <td>
                            <span class="text-info">{{this.description}}</span>
                        </td>
                        <td>
                            <span class="text-info">{{formatDate this.createdAt "DD/MM/YYYY hh:mmA"}}</span>
                        </td>
                        <td>
                            <span class="text-info">{{formatDate this.updatedAt "DD/MM/YYYY hh:mmA"}}</span>
                        </td>
                        <td style="min-width: 50px;">
                            <a class="text-success" href="/admin/digital-content/digital-content-edit/{{this._id}}" ><button><i class="fa fa-edit"></i></button></a>
                            <a onclick="return confirm('Are you sure you want to delete?')" class="text-danger" href="/admin/digital-content/delete/{{this._id}}" ><button><i class="fa fa-trash"></i></button></a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="post" class="form-horizontal" id="insert_form" action="/admin/digital-content/digital-content-new" data-toggle="validator">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">New Digital Content</h4>
            </div>
            <div class="modal-body">
                <div class="col-xxl-12">
                    <label class="modal-title" id="myModalLabel">Name (*)</label>
                </div>
                <div class="col-xxl-12">
                    <input class="form-control" type="text" placeholder="" value="" name="groupName" required/>
                </div>
                <br/>
                <div class="col-xxl-12">
                    <label class="modal-title" id="myModalLabel">Description</label>
                </div>
                <div class="col-xxl-12">
                    <input class="form-control" type="text" placeholder="" name="description"/>
                </div>
            </div>
            <div class="modal-footer">
                <br/>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary button-loader"
                        id="submit"
                        name="submit"
                        type="submit">
                    Submit
                </button>
            </div>
        </div>
    </div>
    </form>
</div>