{{> partials/menu}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 content-color">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 content-header">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 padding-left-0">
            <h2 class="page-title">List of Sports</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 padding-right-0">
            <div class="sport-create-new row">
                <div class="col-md-9"></div>
                <div class="col-md-3 mt-8">
                    <a href="/admin/sport/new">
                        <button class="btn btn-new btn-new-sport">Create New</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <table class="sport-table">
            <thead class="sport-header" id="sport-table">
            <tr>
                <th class="sport-table-header-center col-md-2"></th>
                <th class="sport-table-header col-md-4">Name</th>
                <th class="sport-table-header col-md-4">Number of Collections</th>
                <th class="sport-table-header-center col-md-2">Edit</th>
            </tr>
            </thead>
            <div style="display:none; " name="frmResult" id="frmResult">{{{json results}}}</div>
            <tbody class="sport-body" id="sport-body">
            {{#each results}}
                <tr id="{{_id}}">
                    <td class="sport-table-content sport-table-content-center" >
                        <div>
                            <button onclick="sortUpSport('{{_id}}')"><i class="fa fa-arrow-up"></i></button>
                            <button onclick="sortDownSport('{{_id}}')"><i class="fa fa-arrow-down"></i></button>
                        </div>
                        
                    </td>
                    <td class="sport-table-content sport-table-content-center">{{name}}</td>
                    <td class="sport-table-content sport-table-content-left">{{collections.length}}</td>
                    <th class="sport-table-content sport-table-content-center" >
                        <div class="sport-button-edit-delete" id="sport-button-edit-delete-{{_id}}">
                            <div class="row">
                                
                                <div class="col-md-3">
                                    <a href="/admin/sport/edit/{{_id}}" style="text-decoration: none; color: black">
                                        <div class="sport-button-edit glyphicon glyphicon-edit"></div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <div class="sport-button-delete fa fa-trash" onclick="clickExpandButton('{{_id}}');deleteTagSubmit();">
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </th>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>


<script>
    // --- Start: Handle event when click expand button (three dots vetical)
    let btnIdActived = '';
    var listSort;
    var listIdSport = [];
    $(document).ready(function() {
        var frmResult = $('#frmResult').html();
        listSport = JSON.parse(frmResult);
        for(let sp=0;sp<listSport.length;sp++){
            listIdSport[sp] = listSport[sp]._id; 
        }
    })
    function clickExpandButton(id) {
        btnIdActived = id;
    }

    // --- Start: Handle event delete record
    function deleteTagSubmit() {
        if (confirm("Are you sure?") == true) {
            fetch("/admin/sport/delete/" + btnIdActived, {
                method: "GET"
            }).then(res => {
                toastr.success('Sport have been deleted.', 'Success');
                setTimeout(() => {
                    window.location.href = "/admin/sports"
                }, 1000);
            });
        }else {
            return false;
        }
    }
    function sortUpSport(id) {
       let index = listIdSport.findIndex(function(o){
            return o === id;
        })
        if (index !== -1){
            if(index !== 0){
                let idIndex = listIdSport[index];
                let idIndexAbover = listIdSport[index-1];
                $(`#${idIndexAbover}`).before($(`#${idIndex}`));

                let idIndexTemp = listIdSport[index];
                listIdSport[index] = listIdSport[index-1];
                listIdSport[index-1] = idIndexTemp;
                var listtempSortSport = [
                    {
                        _id:  listIdSport[index],
                        sortSport: index
                    },
                    {
                        _id:  listIdSport[index - 1],
                        sortSport: index - 1
                    }
                ];
                $.ajax({
                url : "/admin/sport/sortSport",
                type : "post",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify({
                    'listtempSortSport':listtempSortSport
                }
                    ),
                success : function (result){
                    return true;
                }
                });
            }
            else{}
        }
        else{}
    }
    function sortDownSport(id){
        let index = listIdSport.findIndex(function(o){
            return o === id;
        })
        if (index !== -1){
            if(index !== listIdSport.length - 1 ){
                let idIndex = listIdSport[index];
                let idIndexAbover = listIdSport[index + 1];
                $(`#${idIndex}`).before($(`#${idIndexAbover}`));
                let idIndexTemp = listIdSport[index];
                listIdSport[index] = listIdSport[index + 1];
                listIdSport[index + 1] = idIndexTemp;
                var listtempSortSport = [
                    {
                        _id:  listIdSport[index],
                        sortSport: index
                    },
                    {
                        _id:  listIdSport[index + 1],
                        sortSport: index + 1
                    }
                ];
               
                $.ajax({
                url : "/admin/sport/sortSport",
                type : "post",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify({
                    'listtempSortSport':listtempSortSport
                }
                    ),
                success : function (result){
                    return true;
                }
                });
            }
            else{}
        }
        else{}
    }
  
</script>