{{> partials/menu}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 content-color">
    <div class="col-lg-12">
        <div class="page-header-sport">
            <div class="pull-right btn-add-tag">
                <button id="btn-add-new-tag" onclick="functionAddSport();resetFormSport();" class="Add-sport btn" type="submit">
                   Save</a> 
                    </button>
            </div>
            <h2 class="page-title">
                <a href="javascript:history.back()" class="disabled-link">
                    <svg class="back-icon-page-title" xmlns="http://www.w3.org/2000/svg" width="8.414"
                        height="14.829" viewBox="0 0 8.414 14.829">
                        <path id="Path_768" data-name="Path 768" d="M-748-1179l-6,6,6,6"
                            transform="translate(755 1180.415)" fill="none" stroke="#000" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                    </svg>
                </a>
                Create Sport
            </h2>
        </div>
        <br>
        <div class="form-group-sport row">
            <label for="frmTitleTag" class="col-sm-2 control-label label-sport">Sport Name*</label>
            <div class="col-md-10 col-md-10-no-padding">
                <input id="input-title-tag" type="text" name="frmSportName" class="form-control" required
                    minlength="2" maxlength="200" value="{{name}}" />
            </div>
        </div>
        <br>
        <div class="form-group-sport row">
            <label for="frmBannerText" class="col-sm-2 control-label label-sport">Collection</label>
            <div>
                <div class="glyphicon glyphicon-plus" data-toggle="modal"  id="btn-add-collection" data-target="#modalAddCollecion"></div>
            </div>
        </div>
        <br>
        <div class="col-sm-12 row" >
            <table class="sport-table" id="sport-table">
                <thead class="sport-header">
                <tr>
                    <th class="sport-table-header-center col-md-2"></th>
                    <th class="sport-table-header col-md-3">Name</th>
                    <th class="sport-table-header col-md-3">Shopify Handle</th>
                    <th class="sport-table-header col-md-3">Banner</th>
                    <th class="sport-table-header-center col-md-1">Edit</th>
                </tr>
                </thead>
                <tbody class="table-body-collection" id="table-body-collection">
                    
                </tbody>
            </table>
        </div>
    <!-- Modal -->
    <div class="myModalAddCollecion modal fade" id="modalAddCollecion" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: scroll;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                   <h4 class="modal-title" id="title-collection"></h4>
                </div>
                <div class="modal-body">
                    <span >
                        <h4>Name</h4>
                        <input type="text" class="form-control" name="frmCollectionName" id="frmCollectionName">
                    </span>
                    <label id="name"></label>
                </div>
                <div class="modal-body">
                    <span>
                        <h4>Shopify Handle</h4>
                        <input type="text" class="form-control" name="frmCollectionShopifyHandle" id="shopify_handle">
                    </span>
                    <label id="shopify_handle"></label>
                </div>
                <div class="modal-body">
                    <div class="form-group-sport-sale">
                        <label for="frmImgUrl" class="col-sm-3 col-md-3 control-label label-exclusive-sale">Banner Image*</label>
                        <div class="col-md-9 col-md-10-no-padding">
                            <button type="button" class="btn btn-info btn-upload-img">Upload Banner</button>
                            <div class="exclusiveBannerImage">
                                <img id="imgUrl" class="pull-left" src="{{result.imgUrl}}"
                                    style="padding-left: 0px; width: 300px;" />
                                <input type="text" class="frmImgUrl" name="frmImgUrl" id="frmImgUrl1" value="{{result.imgUrl}}" hidden>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md3"></div>
                        <div class="col-md-9">
                            <img src="/images/icon/ic_upload.png" class="exclusive-icons upload">
                            <img src="/images/icon/ic_delete.png" class="exclusive-icons delete" onclick="removeTagImage()">
                        </div>
                    </div>
                    </div>
                </div>
                <div class="modal-body">
                    <label for="frmBannerText" class="col-sm-2 control-label label-sport">Edition</label>
                    <button id="new-edition" class="glyphicon glyphicon-plus btn-add-edition" data-toggle="modal" data-target="#modalAddEdition">
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-edition" >
                        <thead>
                            <tr>
                                <th width="20%"></th>
                                <th width="20%">Name</th>
                                <th width="20%">Tag</th>
                                <th width="20%">Active</th>
                                <th width="20%">Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-body-edition">

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-cancel-upload-img "
                        data-dismiss="modal" id ="btn-canced-collection">Cancel</button>
                    <button class="button-loader button-loader-sport btn-success btn"
                        onclick="saveCollection()"
                        data-loading-text="<iclass='fa fa-spinner fa-spin'></i> Uploading..." id="saveCollectionButton"
                        name="saveCollectionButton" type="submit">
                        Save
                    </button>
                </div>
                </div>
            {{!-- </form> --}}
        </div>
    </div>
    <!-- Modal upload file -->
    <div class="myModalBackground modal fade" id="myModalBackground" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Tag Image Upload</h4>
                </div>
                <div class="modal-body">
                    <span class="btn btn-info btn-file btn-file-sport-sale">
                        Select file<input type="file" name="upload_file" id="upload_file" accept="image/*">
                    </span>
                    <label id="file_name"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-cancel-upload-img"
                        data-dismiss="modal">Cancel</button>
                    <button class="btn-success btn"
                        onclick="uploadImageFileToServerTag('imgUrl')"
                        data-loading-text="<iclass='fa fa-spinner fa-spin'></i> Uploading..." id="saveBackgroundButton"
                        name="saveBackgroundButton" type="submit">
                        Upload
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal AddEdition -->
    <div class="myModalEdition modal fade" id="modalAddEdition" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
         
        <div class="modal-dialog">
            <form method="post" class="form-horizontal" id="insert_form" action="/admin/sport/insert"></form>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Edition</h4>
                    </div>
                    <div class="modal-body">
                        <h4>Name</h4>
                        <input type="text" name="frmEditionName" class="form-control" id="frmEditionName">
                    </div>
                    <div class="modal-body">
                        <h4>Tag</h4>
                        <input type="text" name="frmEditionTag" class="form-control" id="frmEditionTag">
                    </div>
                    <div class="modal-body">
                        <h4>Active</h4>
                        <input type="checkbox" name="frmEditionActive" value ="true" id="frmEditionActive">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-cancel-upload-img"
                            data-dismiss="modal" id ="btn-canced-edition">Cancel</button>
                        <button class="btn-save-edition btn-success btn"
                            onclick="myCreateEditionFunction()"
                            data-loading-text="<iclass='fa fa-spinner fa-spin'></i> Uploading..." id="saveEditionButton"
                            name="saveEditionButton">
                            Save
                        </button>
                    </div>
                </div>
            </form>   
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"
    rel="stylesheet" />
<script>
    var lstcollection = [],edition,i = 0,idEditiontemp = 8758434837,sportName,editionForFill,collectionForFill, statusAddCollection;
    var idCollectionTemp,listIdCollection = [],arr = [];
    var idTempForEditCollection;
    function myCreateEditionFunction() {
        var table = document.getElementById("table-body-edition");
        var countRow = document.getElementById("table-body-edition").rows.length;
        var row = table.insertRow(countRow);
        row.id = "" + idEditiontemp;
        var cell0 = row.insertCell(0);
        var cell1 = row.insertCell(1);
        var cell2 = row.insertCell(2);
        var cell3 = row.insertCell(3);
        var cell4 = row.insertCell(4);
        cell0.innerHTML = `
            <div>
                <button onclick="sortUpEdition(${idEditiontemp})"><i class="fa fa-arrow-up"></i></button>
                <button onclick="sortDownEdition(${idEditiontemp})"><i class="fa fa-arrow-down"></i></button>
            </div>
            `;
        cell1.innerHTML = document.getElementById("frmEditionName").value;
        cell2.innerHTML = document.getElementById("frmEditionTag").value;
        cell3.innerHTML = isCheckedEditionStatus();
        cell4.innerHTML = `<div class="sport-button-delete fa fa-trash" onclick="myDeleteEditionFunction(${idEditiontemp})"> </div>`;
        resetFormEdition();
        arr.insert(countRow,idEditiontemp);
        idEditiontemp +=1;
        $('#frmEditionActive').prop('checked', false);
    }
    $('#btn-add-collection').on('click',function(){
        resetFormCollection();
        document.getElementById("title-collection").innerHTML = "Add Collection";
        statusAddCollection = 1;
    })
    function resetFormEdition(){
        document.getElementById("frmEditionName").value= "";
        document.getElementById("frmEditionTag").value ="";
        document.getElementById("btn-canced-edition").click();
    }
    function resetFormCollection(){
        document.getElementById("frmCollectionName").value= "";
        document.getElementById("shopify_handle").value ="";
        document.getElementById("table-body-edition").innerHTML ="";
        $('.frmImgUrl').val('');
        removeTagImage();
        document.getElementById("imgUrl").src ="";
        document.getElementById("btn-canced-collection").click();
    }
    function resetFormSport(){
        document.getElementById("input-title-tag").value= "";
        document.getElementById("table-body-collection").innerHTML ="";
    }
    function myDeleteEditionFunction(id) {
        if (confirm("Are you sure?") == true) {
            document.getElementById("table-body-edition").removeChild(document.getElementById(id));
        } else {
            return false;
        }
    }
    function isCheckedEditionStatus(){
        if($("#frmEditionActive").is(':checked')){
            return "true";
        } else {
            return "false";
        }
    }
    function myDeleteCollectionFunction(id) {
        if (confirm("Are you sure?") == true) {
            document.getElementById("table-body-collection").removeChild(document.getElementById(id));
            var index = lstcollection.findIndex(function(o){
                return o.collection_id === id;
            })
            if (index !== -1) 
            lstcollection.splice(index, 1);
            i--;
        } else {
            return false;
        }
    }
    function uuidv4() {
        return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        );
    }
    function saveCollection(){
        if(statusAddCollection == 1){
            var collectionName,collectionShopifyHandle,collectionFileName;
            collectionName = $('#frmCollectionName').val();
            collectionShopifyHandle = $('#shopify_handle').val();
            collectionFileName = $('#frmImgUrl1').val();
            var editionName,editionTag,editionActive;       
            var lstEdition = $('#table-body-edition tr:has(td)').map(function(i, v) {
                var $td =  $('td', this);
                return {
                    edtion_id:uuidv4(),
                    sortEdition:0,
                    editionName: $td.eq(1).text(),
                    editionTag: $td.eq(2).text(),
                    editionActive: $td.eq(3).text()               
                }
            }).get();
            var collection = {
                collection_id:uuidv4(),
                sortCollection : 0,
                collectionName: collectionName,
                collectionShopifyHandle: collectionShopifyHandle,
                collectionFileName: collectionFileName,
                editions: lstEdition
            }
            lstcollection.insert(0, collection);
            i++;
            var table = document.getElementById("table-body-collection");
            var row = table.insertRow(0);
            row.id = "" + collection.collection_id;
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);
            var cell3 = row.insertCell(3);
            var cell4 = row.insertCell(4);
            cell0.innerHTML = `
                <button onclick="sortUpCollection('${collection.collection_id}')"><i class="fa fa-arrow-up"></i></button>
                <button onclick="sortDownCollection('${collection.collection_id}')"><i class="fa fa-arrow-down"></i></button>
            `;
            cell1.innerHTML = collection.collectionName;
            cell2.innerHTML = collection.collectionShopifyHandle;
            cell3.innerHTML = `<div class=""><img src="${collection.collectionFileName}" width="100px" alt=""/></div>`;
            cell4.innerHTML = `  
                <div class="row">
                    <div class="sport-button-edit glyphicon glyphicon-edit col-md-3" data-toggle="modal" data-target="#modalAddCollecion" onclick="myEditCollectionFunction('${collection.collection_id}')"></div>
                    <div class="sport-button-delete fa fa-trash col-md-3" onclick="myDeleteCollectionFunction('${collection.collection_id}')"> </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                </div>
            `;

            listIdCollection.insert(0, collection.collection_id);

            for(let atemp=0;atemp<lstcollection.length;atemp++){
                lstcollection[atemp].sortCollection = atemp;
            }
            for(let abc=0;abc<lstEdition.length;abc++){
                lstEdition[abc].sortEdition = abc;
            }
            resetFormCollection();
        }
        else if(statusAddCollection == 0){
            var collectionName,collectionShopifyHandle,collectionFileName,collection_id;
            collectionName = $('#frmCollectionName').val();
            collection_id = 
            collectionShopifyHandle = $('#shopify_handle').val();
            collectionFileName = document.getElementById("imgUrl").src;
            var editionName,editionTag,editionActive;  
            // delete collection
            var index = lstcollection.findIndex(function(o){
                return o.collection_id === idCollectionTemp;
            })
            document.getElementById("table-body-collection").removeChild(document.getElementById(idCollectionTemp));
            
            if (index !== -1) 
                lstcollection[index] = "";  
            // end delete collection
            //get list  edition
            var lstEdition = $('#table-body-edition tr:has(td)').map(function(i, v) {
                var $td =  $('td', this);
                return {
                    edtion_id:uuidv4(),
                    sortEdition: 0,
                    editionName: $td.eq(1).text(),
                    editionTag: $td.eq(2).text(),
                    editionActive: $td.eq(3).text()               
                }
            }).get();
            //end get list edition

            var collection = {
                collection_id:idTempForEditCollection,
                sortCollection : 0,
                collectionName: collectionName,
                collectionShopifyHandle: collectionShopifyHandle,
                collectionFileName: collectionFileName,
                editions: lstEdition
            }
            var table = document.getElementById("table-body-collection");
            var row = table.insertRow(index);
            row.id = "" + collection.collection_id;
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);
            var cell3 = row.insertCell(3);
            var cell4 = row.insertCell(4);
            cell0.innerHTML = `
                <button onclick="sortUpCollection('${collection.collection_id}')"><i class="fa fa-arrow-up"></i></button>
                <button onclick="sortDownCollection('${collection.collection_id}')"><i class="fa fa-arrow-down"></i></button>
            `;
            cell1.innerHTML = collection.collectionName;
            cell2.innerHTML = collection.collectionShopifyHandle;
            cell3.innerHTML = `<div><img id="frmCollectionUrlTemp" src="${collection.collectionFileName}" width="100px" alt=""/></div>`;
            cell4.innerHTML = `  
            <div class="row">
            <div class="sport-button-edit glyphicon glyphicon-edit col-md-3" data-toggle="modal" data-target="#modalAddCollecion" onclick="myEditCollectionFunction('${collection.collection_id}')"></div>
            <div class="sport-button-delete fa fa-trash col-md-3" onclick="myDeleteCollectionFunction('${collection.collection_id}')"> </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            </div>
            `;
            lstcollection[index] = collection;
            for(let atemp=0;atemp<lstcollection.length;atemp++){
                lstcollection[atemp].sortCollection = atemp;
            }
            for(let abc=0;abc<lstEdition.length;abc++){
                lstEdition[abc].sortEdition = abc;
            }
            console.log(listIdCollection);
            resetFormCollection();
        }
    }
    function myEditCollectionFunction(id){
        document.getElementById("title-collection").innerHTML = "Edit Collection";
        statusAddCollection = 0;
        idCollectionTemp = id;
        lstcollection.forEach(function(e) {
            if (id == e.collection_id)
                {collectionForFill = e;}
        }        
        );   
            idTempForEditCollection = collectionForFill.collection_id
            editionForFill = collectionForFill.editions;
            resetFormCollection();
            document.getElementById("frmCollectionName").value= collectionForFill.collectionName;
            document.getElementById("shopify_handle").value =collectionForFill.collectionShopifyHandle;
            document.getElementById("imgUrl").src = collectionForFill.collectionFileName;
            for(let sp=0;sp<editionForFill.length;++sp){
                var table = document.getElementById("table-body-edition");
                var row = table.insertRow(sp);
                row.id = "" + idEditiontemp;
                var cell0 = row.insertCell(0);
                var cell1 = row.insertCell(1);
                var cell2 = row.insertCell(2);
                var cell3 = row.insertCell(3);
                var cell4 = row.insertCell(4);
                cell0.innerHTML = `
                <div>
                    <button onclick="sortUpEdition(${idEditiontemp})"><i class="fa fa-arrow-up"></i></button>
                    <button onclick="sortDownEdition(${idEditiontemp})"><i class="fa fa-arrow-down"></i></button>
                </div>
                `;
                cell1.innerHTML = editionForFill[sp].editionName;
                cell2.innerHTML = editionForFill[sp].editionTag;
                cell3.innerHTML = editionForFill[sp].editionActive;
                cell4.innerHTML = `<div class="sport-button-delete fa fa-trash" onclick="myDeleteEditionFunction(${idEditiontemp})"> </div>`;
                resetFormEdition();
                idEditiontemp +=1;
            }
        getlstArrEdition();
    }
    function functionAddSport(){
        sportName = document.getElementById("input-title-tag").value;
        if(sportName != ""){
            $.ajax({
                url : "/admin/sport/insert",
                type : "post",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify({
                    'sportName': sportName,
                    'lstcollection':lstcollection
                }),
                success : function (result){
                    window.location.href='/admin/sports';
                }
            });
        }
        else{
            alert("Name sport is null");
            document.getElementById("input-title-tag").focus();
        }
    }
    function uploadImageFileToServerTag(uploadType) {
        let file_data = null;
        file_data = $('#upload_file').prop('files')[0];
        const form_data = new FormData();
        form_data.append('upload_file', file_data);
        form_data.append('upload_type', uploadType);
        form_data.append('src', $('#imgUrl').attr('src'));
        $('#saveBackgroundButton').button('loading');
        $.ajax({
            url: '/admin/sport/upload-file',
            enctype: 'multipart/form-data',
            processData: false, // Important!
            contentType: false,
            cache: false,
            data: form_data,
            type: 'post',
            success: function (response) {
                $('.myModalBackground').modal('hide');
                $('.btn.btn-info.btn-upload-img').css("display", "none");
                $('.exclusive-icons.upload').css("display", "unset");
                $('.exclusive-icons.delete').css("display", "unset");
                $('#saveBackgroundButton').button('reset');
                $('#imgUrl').attr('src', response.data.imageUrl); // show preview on client
                $('.frmImgUrl').val(response.data.imageUrl) // push data to server
                $('.btn.btn-info.btn-remove-img').css("display", "unset"); // show button remove image after upload image successfully
                showNotification(response.message, 'success', false);
            },
            error: function (response) {
                $('#saveBackgroundButton').button('reset');
                showNotification(response.responseJSON.message, 'danger');
            },
        });
    }
    function removeTagImage() {
        $('#imgUrl').attr('src', ''); // show preview on client
        $('.frmImgUrl').val('') // push data to server
        $('.btn.btn-info.btn-remove-img').css("display", "none"); // hide button remove image after remove image
        $('.btn.btn-info.btn-upload-img').css("display", "unset");
        $('.exclusive-icons.upload').css("display", "none");
        $('.exclusive-icons.delete').css("display", "none");
    }
    // To fixed error when re-upload image
    $('.btn-upload-img').click(function () {
        $('#myModalBackground').modal("show");
    });
    $('.exclusive-icons.upload').on('click', function () {
        $('.btn.btn-info.btn-upload-img').trigger('click')
    });
    Array.prototype.insert = function(index) {
        index = Math.min(index, this.length);
        arguments.length > 1
            && this.splice.apply(this, [index, 0].concat([].pop.call(arguments)))
            && this.insert.apply(this, arguments);
        return this;
    };
    function sortUpCollection(id) {
        let index = listIdCollection.findIndex(function(o){
            return o === id;
        })
        if (index !== -1){
            if(index !== 0){
                let idIndex = listIdCollection[index];
                let idIndexAbover = listIdCollection[index-1];
                $(`#${idIndexAbover}`).before($(`#${idIndex}`));

                let idIndexTemp = listIdCollection[index];
                listIdCollection[index] = listIdCollection[index-1];
                listIdCollection[index-1] = idIndexTemp;

                indexCollectionTemp = lstcollection[index];
                lstcollection[index] = lstcollection[index-1];
                lstcollection[index-1] = indexCollectionTemp;
                
                indexsortCollectionTemp = lstcollection[index].sortCollection;
                lstcollection[index].sortCollection = lstcollection[index-1].sortCollection;
                lstcollection[index-1].sortCollection = indexsortCollectionTemp;
            }
            else{}
        }
        else{}
    }
    function sortDownCollection(id){
        let index = listIdCollection.findIndex(function(o){
            return o === id;
        })
        if (index !== -1){
            if(index !== listIdCollection.length - 1 ){
                let idIndex = listIdCollection[index];
                let idIndexAbover = listIdCollection[index + 1];
                $(`#${idIndex}`).before($(`#${idIndexAbover}`));
                let idIndexTemp = listIdCollection[index];
                listIdCollection[index] = listIdCollection[index + 1];
                listIdCollection[index + 1] = idIndexTemp;
                indexCollectionTemp = lstcollection[index];
                lstcollection[index] = lstcollection[index+1];
                lstcollection[index+1] = indexCollectionTemp;
                indexsortCollectionTemp = lstcollection[index].sortCollection;
                lstcollection[index].sortCollection = lstcollection[index+1].sortCollection;
                lstcollection[index+1].sortCollection = indexsortCollectionTemp;
            }
            else{}
        }
        else{}
    }
    function getlstArrEdition(){
        $("#table-body-edition tr").each(function() {
        arr.push(parseInt(this.id));
    });
    }
    function sortUpEdition(id) {
        let index = arr.findIndex(function(o){
            return o === id;
        })
        if (index !== -1){
            if(index !== 0){
                let idIndex = arr[index];
                let idIndexAbover = arr[index-1];
                $(`#${idIndexAbover}`).before($(`#${idIndex}`));

                let idIndexTemp = arr[index];
                arr[index] = arr[index-1];
                arr[index-1] = idIndexTemp;
            }
            else{}
        }
        else{}
    }
    function sortDownEdition(id){
        let index = arr.findIndex(function(o){
            return o === id;
        })
        if (index !== -1){
            if(index !== arr.length - 1 ){
                let idIndex = arr[index];
                let idIndexAbover = arr[index + 1];
                $(`#${idIndex}`).before($(`#${idIndexAbover}`));

                let idIndexTemp = arr[index];
                arr[index] = arr[index + 1];
                arr[index + 1] = idIndexTemp;




            }
            else{}
        }
        else{}
    }
    </script>
