{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 content-header">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 padding-left-0">
            <h2 class="page-title">Certificates</h2>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6 no-pad-left">
            <div class="col-md-8 no-pad-left no-pad-right">
                <i class="glyphicon glyphicon-search certificate-search"></i>
            <input type="text" name="certificate_keyword" id="certificate_keyword" class="form-control border-radius-top-left-only"
                   placeholder="Search" value="{{keyword}}">
            </div>
            <div class="col-md-4 no-pad-left no-pad-right">
                <select class="form-control border-radius-right-bottom-only" name="filter_type" id="filter_type">
                    <option value="username" {{selectState filterType "username"}}>UserName</option>
                    <option value="udid" {{selectState filterType "udid"}}>UDID</option>
                    <option value="sku" {{selectState filterType "sku"}}>SKU</option>
                    <option value="email" {{selectState filterType "email"}}>Email address</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 no-pad-left no-pad-right pull-right">
            <select class="form-control" name="sort_type" id="sort_type">
                <option value="-1" {{selectState sortType "-1"}}>Date(Desc)</option>
                <option value="1" {{selectState sortType "1"}}>Date(Asc)</option>
            </select>
        </div>
        <br/>
        <div class="col-md-12 no-pad-left">
            <h5>Total number of chips: {{countChipped}}</h5>
            <h5>Total registered owners: {{countCertificate}}</h5>
            <h5>Unique registered owners: {{countNumberOfUserRegister}}</h5>
        </div>
    </div>

    <div class="col-md-12 table-margin-bottom">
        <table class="table table-bordered table-sortable" id="groupField">
            <thead>
            <tr>
                <th>UDID</th>
                <th>SKU</th>
                <th>Username</th>
                <th>Email</th>
                <th>Registered date</th>
            </tr>
            </thead>
            <tbody>
            {{#each results}}
                <tr>
                    <td>
                        <a href="/admin/certificate/detail/{{this.udid}}"><span class="text-info">{{this.udid}}</span></a>
                    </td>
                    <td>
                        <span class="text-info">{{this.sku}}</span>
                    </td>
                    <td>
                        {{#if this.orderCertNumber}}
                            <span class="text-info">{{this.orderUserName}}</span>
                        {{/if}}
                    </td>
                    <td>
                        {{#if this.orderCertNumber}}
                            <span class="text-info">{{this.orderEmail}}</span>
                        {{/if}}
                    </td>
                    <td>
                        {{#if this.orderCertNumber}}
                            <span class="text-info">{{formatDate this.orderDate "DD-MM-YYYY hh:mm A"}} +8 GMT</span>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <div class="box-footer no-padding">
            <div class="mailbox-controls">
                <div class="text-center">
                    <div class="btn-group">
                        {{{showPaginationAtBottom currentPage totalPage 5 navigationUrl}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>