{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12">
            <h2>Certificates Summary</h2>
            <h4>Registered count: {{countNumberRegistered}}</h4>
            <h4>Registered user count: {{countNumberOfUserRegister}}</h4>
        </div>

        <div class="col-xs-8 col-md-8">
            {{#if summary}}
            <table class="table-bordered">
                <tr>
                    <td><span class="text-info">SKU</span></td>
                    <td><span class="text-info">Count</span></td>
                </tr>
                {{#each summary}}
                <tr>
                    <td><span class="text-info">{{this._id}}</span></td>
                    <td><span class="text-info">{{this.count}}</span></td>
                </tr>
                {{/each}}
            </table>
            {{/if}}
        </div>
    </div>
</div>
