{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="col-lg-12">
        <h2>Certificate</h2>
    </div>
    <div class="col-md-12 margin-top">
        <h4>Toy Information</h4>
        <div class="col-md-12" style="border: 1px solid">
            <br/>
            <div class="col-md-6 no-pad-left">
                <div class="col-md-12">
                    <div class="col-md-4 no-pad-left">
                        <span class="certificate-text-detail">Toy Name</span><br/>
                    </div>
                    <div class="col-md-8 no-pad-left">
                        <span class="certificate-text-detail">
                            {{#if product}}
                                {{product.productTitle}}
                            {{/if}}
                        </span><br/>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 no-pad-left">
                        <span class="certificate-text-detail">SKU</span><br/>
                        <span class="certificate-text-detail">Edition Number</span><br/><br/>
                    </div>
                    <div class="col-md-8 no-pad-left">
                        <span class="certificate-text-detail">
                            {{#if product}}
                                {{product.productVariantSku}}
                            {{/if}}
                        </span><br/>
                        <span class="certificate-text-detail" style="text-decoration: underline; cursor: pointer">
                            {{#if product.enableEditionNumber}}
                                {{#if udid}}
                                    {{#if udid.editionNumber}}
                                        <a data-toggle="modal" data-target="#changeEditionNumber">{{udid.editionNumber}}</a>
                                    {{else}}
                                        <a data-toggle="modal" data-target="#changeEditionNumber">Add Edition Number</a>
                                    {{/if}}
                                {{/if}}
                            {{else}}
                                <span>Disabled (<a href="/admin/product/edit/{{product._id}}">click here to enable</a>)</span>
                            {{/if}}
                        </span><br/><br/>
                    </div>
                </div>
            </div>
            <div class="col-md-6 no-pad-left">
                <div class="col-md-12">
                    <div class="col-md-4 no-pad-left">
                        <span class="certificate-text-detail">Username</span><br/>
                        <span class="certificate-text-detail">Email Address</span><br/><br/>
                    </div>
                    <div class="col-md-8 no-pad-left">
                        <span class="certificate-text-detail" style="text-decoration: underline; cursor: pointer">
                            {{#if certificate}}
                                <a data-toggle="modal" data-target="#changeOwnerShip">{{certificate.orderUserName}}</a>
                            {{else}}
                                <a data-toggle="modal" data-target="#changeOwnerShip">Unknown</a>
                            {{/if}}
                        </span><br/>
                        <span class="certificate-text-detail">
                            {{#if certificate}}
                                {{certificate.orderEmail}}
                            {{/if}}
                        </span><br/><br/>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
        </div>
    </div>

    <div class="col-md-12 margin-top">
        <h4>Certificate/Chip Information</h4>
        <div class="col-md-12" style="border: 1px solid">
            <br/>
            <div class="col-md-12 no-pad-left">
                <div class="col-md-12">
                    <div class="col-md-2 no-pad-left">
                        <span class="certificate-text-detail">UDID</span><br/>
                        <span class="certificate-text-detail">Registered Date</span><br/>
                        <span class="certificate-text-detail">Certificate ID</span><br/>
                        <span class="certificate-text-detail">Encrypted String</span><br/><br/>
                    </div>
                    <div class="col-md-10 no-pad-left">
                        <span class="certificate-text-detail">{{udid.udid}}</span><br/>
                        <span class="certificate-text-detail">
                            {{#if certificate}}
                                {{formatDate certificate.orderDate "DD/MM/YYYY hh:mm A"}}
                            {{/if}}
                        </span><br/>
                        <span class="certificate-text-detail">
                            {{#if certificate}}
                                {{certificate.orderCertNumber}}
                            {{/if}}
                        </span><br/>
                        <p style="word-break: break-all">{{udid.encrytedMessage}}</p><br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="changeOwnerShip" tabindex="-1" role="dialog" aria-labelledby="changeOwnerShip" aria-hidden="true">
    <form method="post" onsubmit="return confirm('Do you really want to apply?');" class="form-horizontal" id="formChangeOwnerShip" action="/admin/certificate/change-ownership" data-toggle="validator">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Change Ownership</h4>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12">
                        <label class="modal-title" id="myModalLabel">Enter a username to transfer the ownership of this toy to that user</label>
                    </div>
                    <br/>
                    <br/>
                    <div class="col-xl-12">
                        <input class="form-control" type="text" placeholder="" name="newOwner" required/>
                        <input name="udid" type="hidden" value="{{udid.udid}}">
                        {{#if certificate}}
                            <input name="certificateId" type="hidden" value="{{certificate._id}}">
                        {{/if}}
                    </div>
                    <br/>
                </div>
                <div class="modal-footer">
                    {{#if certificate}}
                        <a style="color: black;text-decoration: underline;" class="pull-left" onclick="return confirm('Are you sure you want remove ownership?')" href="/admin/certificate/reset-certificate/{{certificate._id}}">Remove ownership</a>
                    {{/if}}
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary button-loader"
                            id="submit"
                            name="submit"
                            type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="changeEditionNumber" tabindex="-1" role="dialog" aria-labelledby="changeEditionNumber" aria-hidden="true">
    <form method="post" class="form-horizontal" id="formChangeEditionNumber" action="/admin/certificate/change-edition-number" data-toggle="validator">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Change Edition Number</h4>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12">
                        <p class="modal-title" id="myModalLabel">Enter an edition number you wish to assign to this specific toy</p><br/><br/>
                        <p class="modal-title" id="myModalLabel">In order to assign a new edition number to a toy, the following must<br/>
                            be checked:</p>
                        <br/>
                        <br/>
                        <label class="modal-title" id="myModalLabel">- The new edition number is not already assigned to another toy</label><br/>
                        <label class="modal-title" id="myModalLabel">- The new edition number doesn't exceed the maximum edition size</label><br/>
                        <label class="modal-title" id="myModalLabel">- The new edition number must be a whole number</label><br/>
                    </div>
                    <br/>
                    <br/>
                    <div class="col-xl-12">
                        <input class="form-control" type="number" step="1" placeholder="" id="newEditionNumber" name="newEditionNumber" required/>
                        {{#if udid}}
                            <input name="udidId" id="udidId" type="hidden" value="{{udid._id}}">
                            <input name="udid" id="udid" type="hidden" value="{{udid.udid}}">
                            <input name="sku" id="sku" type="hidden" value="{{product.productVariantSku}}">
                            <input name="maxEditionNumber" id="maxEditionNumber" type="hidden" value="{{product.maxEditionNumber}}">
                        {{/if}}
                    </div>
                    <br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary button-loader"
                            onclick="updateEditionNumber()"
                            data-loading-text="<iclass='fa fa-spinner fa-spin'></i> Processing..."
                            id="submitEditionNumber"
                            name="submitEditionNumber"
                            type="button">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    function isInt(value) {
        var x = parseFloat(value);
        return !isNaN(value) && (x | 0) === x;
    }

    function updateEditionNumber(){
        let newEditionNumber = $('#newEditionNumber').val()? $('#newEditionNumber').val() : 0;
        let maxEditionNumber = $('#maxEditionNumber').val()? $('#maxEditionNumber').val() : 0;
        let sku = $('#sku').val();
        let udid = $('#udid').val();
        if(parseInt(newEditionNumber) == 0 || !isInt(newEditionNumber)){
            bootbox.alert('Please enter a whole number');
            return false;
        }
        if(parseInt(newEditionNumber) > parseInt(maxEditionNumber)){
            bootbox.alert(`Please enter a value that does not exceed the maximum edition number of ${parseInt(maxEditionNumber)}
            <br/>This one checks the maximum edition number that is set on the admin dashboard`);
            return false;
        }
        const form_data = new FormData();
        form_data.append('newEditionNumber', newEditionNumber);
        form_data.append('sku', sku);
        $.ajax({
            url: '/admin/qrcode/verify-edition-number',
            processData: false, // Important!
            contentType: false,
            cache: false,
            data: form_data,
            type: 'post',
            success: function (response) {
                $('#formChangeEditionNumber').submit();
            },
            error: function (response) {
                bootbox.alert(`You are trying to assign an edition number that is already taken.  Please check the edition number for chip UDID: ${udid} and ensure that it does not have an edition number.`)
            },
        });
        return false;
    }
</script>