{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-8">
			<h2>Artist edit</h2>
			<form method="post" id="edit_form" action="/admin/artist/update" data-toggle="validator">
                <div class="form-group">
                    <label>Artist name</label>
                    <input type="text" class="form-control" name="artistName" value="{{artist.artistName}}" required>
                    <input type="hidden" class="form-control" name="id" value="{{artist._id}}" required>
                </div>
                <div class="form-group">
                    <label>Artist Shopify Id</label>
                    <input type="text" class="form-control" name="articleId" value="{{artist.articleId}}" required>
                </div>
                <div class="form-group">
                    <label>Artist Image</label>
                    <input type="text" class="form-control" name="artistImage" value="{{artist.artistImage}}" required>
                </div>
                <div class="form-group">
                    <label>Artist Title</label>
                    <input type="text" class="form-control" name="artistTitle" value="{{artist.artistTitle}}" required>
                </div>
                <div class="form-group">
                    <label>Website</label>
                    <input type="text" class="form-control" name="website" value="{{artist.website}}">
                </div>
                <div class="form-group">
                    <label>Instagram</label>
                    <input type="text" class="form-control" name="instagram" value="{{artist.instagram}}">
                </div>
                <div class="form-group">
                    <label>Facebook</label>
                    <input type="text" class="form-control" name="facebook" value="{{artist.facebook}}">
                </div>
                <div class="form-group">
                    <label>Twitter</label>
                    <input type="text" class="form-control" name="twitter" value="{{artist.twitter}}">
                </div>
                <div class="form-group">
                    <label>Artist Description</label>
                    <textarea type="text"
                              style="min-height: 150px; font-size: 13px"
                              class="form-control"
                              name="artistDescription">{{artist.artistDescription}}</textarea>
                </div>
                <div class="form-group">
                    <label>Artist Gallery(each image will be separate by new line)</label>
                    <textarea type="text"
                              style="min-height: 150px; font-size: 11px"
                              class="form-control"
                              name="gallery">{{arrayGallery}}</textarea>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
</div>
