{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="col-lg-12">
        <h2>Artist new</h2>
        <form method="post" class="form-horizontal" id="edit_form" action="/admin/artist/insert" data-toggle="validator">
            <div class="form-group">
                <label class="col-sm-2 control-label">Artist name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="artistName"  required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Artist Shopify Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="articleId" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Artist Image</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="artistImage" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Artist Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="artistTitle" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Website</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="website">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Instagram</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="instagram">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Facebook</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="facebook">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Twitter</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="twitter">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Artist Description</label>
                <div class="col-sm-10">
                    <textarea type="text"
                              style="min-height: 150px; font-size: 13px"
                              class="form-control"
                              name="artistDescription"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Artist Gallery</label>
                <div class="col-sm-10">
                    <textarea type="text"
                              style="min-height: 150px; font-size: 11px"
                              class="form-control"
                              placeholder="Each image will be separate by new line"
                              name="gallery"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-right">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
