{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 content-color">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 content-header">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 padding-left-0">
            <h2 class="page-title">Artist Listing</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 padding-right-0">
            <div class="product-create-new">
                {{#if totalPages}}
                    <select id="slection-page-artist" class="selection-page">
                        <option value="{{page}}" hidden="hidden" selected="selected">Page {{page}}</option>
                        {{#each totalPages}}
                            <option value="{{this}}" {{selectState this @root.page}}>Page {{this}}</option>
                        {{/each}}
                    </select>
                {{/if}}
                <a href="/admin/artist/new/">
                    <button class="btn btn-new">Create new</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-12 search-bar">
        <div class="input-group search-bar-product-input inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" name="artist_filter" id="artist_filter" class="form-control input-lg"
                   placeholder="Search" value="{{this.searchTerm}}">
        </div>
    </div>
    <div class="col-lg-12 col-xl-12">
        <ul class="list-group" style="list-style-type: none;">
            {{#ifArrayHasData artists}}
                {{#each artists}}
                    <li class="product-row">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 product-dflex">
                                <div class="product-image-flex">
                                    <img class="pull-left product-image" src="{{this.artistImage}}" />
                                </div>
                                <div class="product-detail-info product-content">
                                    <label>
                                        <a class="product-title"
                                           href="/admin/artist/edit/{{this._id}}">{{this.artistName}}</a>
                                    </label>
                                    <br />
                                    <span id="productVariantSku">{{this.artistTitle}}</span>
                                    <br />
                                    <span class="artist-short-description" id="productVariantSku">{{this.artistDescription}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                {{/each}}
            {{else}}
                <label>Not Found</label>
            {{/ifArrayHasData}}
        </ul>
    </div>
</div>

