.search-bar-input, #frm_search, .search-bar-input .btn{
    padding-top: 10px;
    height: 45px;
}

.searchMenuLocation-side {
    padding-right: 0;
}

.productsWrapper{
    padding-right: 10px;
    padding-left: 10px;
}

.searchBarWrapper{
    padding-right: 0;
    padding-left: 0;
}

.footer{
    padding-top: 20px;
}

.product-price {
    padding-bottom: 0;
}

.navbarMenuWrapper{
    background-color: #f5f5f5;
}

.navbarMenu>ul>li>a:hover{
    color: #cc4135 !important;
}

.navbarMenu{
    padding-right: 0;
    padding-left: 0;
}

.product_wrapper>a:hover{
    color: #cc4135 !important;
}

.navbar-static-top, #navbar, .navbar-header, #navbar>.navbar-nav, #navbar>.navbar-nav>li>a{
    margin-bottom: 0;
    height: 100px !important;
}

#navbar>.navbar-nav>li>a{
    padding-top: 35px;
}

.pagination>li>a{
    background-color: #cc4135 !important;
}

.navbar-brand{
    color: #cc4135 !important;
    letter-spacing: 4px;
    padding-left: 20px !important;
    padding-top: 20px !important;
    height: 100px !important;
    font-size: 55px !important;
}

.navbar-brand-image, .navbar-brand{
    height: 80px;
    padding-left: 10px;
    padding-top: 10px;
}

.navbar-default .badge {
    background-color: #cc4135;
}

.pushy-link, #empty-cart{
    border-color: #E74C3C;
    background-color: #E74C3C;
}

.pushy-link:hover, .pushy-link:focus, .pushy-link:active, .pushy-link:active:hover,
#empty-cart:hover, #empty-cart:focus, #empty-cart:active, #empty-cart:active:hover{
    border-color: #cc4135;
    background-color: #cc4135;
}

.navActive>a{
    margin-bottom: 0px;
    padding-top: 15px;
    border-bottom: 5px solid #E74C3C;
}

.navbar-static-top, #navbar, .navbar-header, #navbar>.navbar-nav, #navbar>.navbar-nav>li>a {
    /*background-color: #fff;*/
}

.navbar-default .navbar-nav>li>a {
    color: #838b8f;
    font-size: 20px;
}

@media only screen and (max-width: 768px){
    .navbar-default .navbar-brand {
        padding-top: 10px;
    }

    .navbar-default .navbar-nav>li>a{
        font-size: 16px;
    }

    .searchBarWrapper{
        padding-top: 10px;
    }

    .navbarMenuWrapper{
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbarMenuOuter{
        padding-left: 0;
        padding-right: 0;
    }

    .navActive>a {
        color: #fff !important;
    }

    .navbarMenu {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }

    .navActive>a{
        color: white !important;
        background-color: #E74C3C;
        border-bottom: none;
    }

    .footer {
        padding-top: 10px;
    }
}