html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 140px;
    min-height: 100%;
}

html,
body {
    font-size: 16px;
    height: 100%;
    background: white;
}

@font-face {
    font-family: SegoeUI;
    src: url('/public/stylesheets/font/SegoeUI.ttf');
}

.modal-backdrop {
    z-index: 1;
}

.content-body {
    margin-bottom: 40px;
    height: 100%;
    padding: 0 15px;
}

.processing-send-email {
    position: absolute;
    top: 38px;
    width: 131px !important;
    height: 131px !important;
    left: 43px;
    color: gray !important;
}

.pure-material-progress-circular {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    padding: 0.25em;
    width: 3em;
    height: 3em;
    color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: transparent;
    font-size: 16px;
    overflow: hidden;
}

.pure-material-progress-circular::-webkit-progress-bar {
    background-color: transparent;
}

/* Indeterminate */
.pure-material-progress-circular:indeterminate {
    -webkit-mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    animation: pure-material-progress-circular 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}

:-ms-lang(x),
.pure-material-progress-circular:indeterminate {
    animation: none;
}

.pure-material-progress-circular:indeterminate::before,
.pure-material-progress-circular:indeterminate::-webkit-progress-value {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-bottom: 0.25em;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100% !important;
    height: 100%;
    background-color: transparent;
    animation: pure-material-progress-circular-pseudo 0.75s infinite linear alternate;
}

.pure-material-progress-circular:indeterminate::-moz-progress-bar {
    box-sizing: border-box;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: pure-material-progress-circular-pseudo 0.75s infinite linear alternate;
}

.pure-material-progress-circular:indeterminate::-ms-fill {
    animation-name: -ms-ring;
}

@keyframes pure-material-progress-circular {
    0% {
        transform: rotate(0deg);
    }

    12.5% {
        transform: rotate(180deg);
        animation-timing-function: linear;
    }

    25% {
        transform: rotate(630deg);
    }

    37.5% {
        transform: rotate(810deg);
        animation-timing-function: linear;
    }

    50% {
        transform: rotate(1260deg);
    }

    62.5% {
        transform: rotate(1440deg);
        animation-timing-function: linear;
    }

    75% {
        transform: rotate(1890deg);
    }

    87.5% {
        transform: rotate(2070deg);
        animation-timing-function: linear;
    }

    100% {
        transform: rotate(2520deg);
    }
}

@keyframes pure-material-progress-circular-pseudo {
    0% {
        transform: rotate(-30deg);
    }

    29.4% {
        border-left-color: transparent;
    }

    29.41% {
        border-left-color: currentColor;
    }

    64.7% {
        border-bottom-color: transparent;
    }

    64.71% {
        border-bottom-color: currentColor;
    }

    100% {
        border-left-color: currentColor;
        border-bottom-color: currentColor;
        transform: rotate(225deg);
    }
}

.img-sent-check {
    width: 18px;
    position: absolute;
    top: 79px !important;
    left: 124px;
}

.email-processing>.modal-dialog {
    width: 16% !important;
}

.add-new-encrypted-string-dialog>.modal-dialog {
    width: 32% !important;
}

.add-new-encrypted-string-dialog>.modal {
    padding: 25px !important;
}

input[type='radio']:checked:after {
    background-color: #ffa500;
}

.tooltip>.tooltip-inner {
    background-color: #333333;
    padding: 10px;
}

.btn-cancel-add-sku-popup {
    width: 48%;
    height: 40px;
    margin-right: 11px;
    border: none;
    color: black;
    border-radius: 3px;
    font-weight: bold;
}

.img-edit-send {
    width: 9%;
    margin-left: 7px;
    margin-top: -4px;
    cursor: pointer;
}

.btn-create-add-sku-popup {
    width: 48%;
    height: 40px;
    border: none;
    background: #FFC000;
    border-radius: 3px;
    font-weight: bold;
}

.largeWidth {
    margin: 0 auto;
    width: 20%;
}

.padding-top-12 {
    padding-top: 12px;
}

.padding-bottom-12 {
    padding-top: 12px;
}

.display-flex {
    display: flex !important;
}

.bg-light {
    background-color: #f8f8f8;
}

.add-sku-table-middle-text {
    text-align: center;
    font-weight: bold;
}

.add-sku-table-row-vertical-align {
    vertical-align: middle !important;
}

.add-sku-table-row-middle-text {
    vertical-align: middle !important;
    text-align: center;
}

.udid-middle {
    margin-top: 8px;
    margin-bottom: 8px;
}

.udid-product-padding {
    line-height: 2.0;
}

.bootbox.modal {
    z-index: 9999 !important;
}

.product-row {
    margin-bottom: 15px !important;
    background: white;
    box-shadow: 1px 0px 5px grey;
}

.btn-send-email {
    /* width: 232px;*/
    background-color: white;
    color: black;
    border: 1px solid #e5e5e5 !important;
    font-weight: bold !important;
    /*font-size: 13px !important;*/
    font-size: 0.65vw !important;
}

.udid-status-color {
    color: #D9A700;
    padding-left: 15px !important;
}


.game-image {
    background: #DBDBDB;
    width: 50px;
}

.btn-udid-request-continue {
    background-color: #FFC000;
    padding: 8px 43px !important;
}

.btn-remove-sku {
    background-color: white;
    text-align: center;
}

.btn-add-sku {
    font-size: 13px !important;
    text-align: center !important;
    padding: 4px 28px !important;
}

.product-image {
    padding-left: 0px;
    width: 135px !important;
    height: 135px !important;
    background: #ffffff;
    width: 40px;
    margin-top: 14px;
    /*margin-bottom: 17px;*/
}

.udid-request-container {
    position: relative;
    z-index: 1000;
    padding-left: 48px !important;
    padding-top: 37px;
    padding-bottom: 15px;
}

.tableUUIDRequest i {
    font-size: 12px;
}

.UIDRequestArea>table>thead>tr>th {
    font-size: 13px;
    font-weight: bold;
}

.UIDRequestArea>table>tbody>tr>td>label {
    font-size: 13px;
    font-weight: normal;
}

.UIDRequestArea>table>tbody>tr>td>button>span {
    font-size: 11px;
    font-weight: normal;
}

.tableUUIDRequest-first-column {
    text-align: center;
}

body>div.bootbox.modal.fade.add-new-encrypted-string-dialog.in>div>div>div>div>div>label {
    font-weight: normal !important;
}

.letterCircle {
    border-radius: 50% !important;
    width: 18px;
    height: 18px;
    padding: 1px !important;
    background: #fff;
    color: #000;
    background-color: #dddddd;
    text-align: center;
    font: 12px "Helvetica Neue", sans-serif;
    display: inline-block;
}

.UIDRequestArea {
    padding-left: 48px !important;
}

.nfc_page_title {
    font-size: 22px;
    font-weight: bold;
}

.table-udid-request-result {
    display: block;
    max-height: 350px;
    overflow-y: scroll;
    position: absolute;
    background: white;
    box-shadow: 0 0 10px 1px #D8D8D8;
    border-radius: 5px;
    width: 96% !important;
}

.table-udid-request-result>tbody>tr>th {
    border: 0px !important;
}

.table-udid-request-result>tbody>tr>td {
    border: 0px !important;
}

.tableUUIDRequest>thead>tr>th {
    border: 0px !important;
}

.tableUUIDRequest-first-column {
    background: #F8F8F8;
}

.tableUUIDRequest tr:first-child td {
    border-top-left-radius: 5px;
}

.tableUUIDRequest tr:nth-child(2) td {
    border-top-left-radius: 5px;
}

.tableUUIDRequest tr:last-child td {
    border-bottom-left-radius: 5px;
}

.tableUUIDRequest>tbody tr:first-child td {
    border-top: 0px;
}

.tbody-udid-request {
    /*border: 1px solid #D8D8D8;*/
    box-shadow: 0 0 0 1px #D8D8D8;
    border-radius: 5px;
}

.td-udid-empty {
    text-align: center !important;
    font-weight: 400;
    color: #797979 !important;
}

.tooltip-nfc {
    background-color: #dddddd;
    padding: 4px 9px;
    border-radius: 14px;
}

.product-image-stockx-report {
    padding-left: 0px;
    /*width: 40px !important;*/
    height: 30px !important;
    background: #DBDBDB;
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
}

.margin-top {
    margin-top: 20px;
}

.product-udid {
    padding-top: 10px;
    background: #FFFAEA;
    /*height: 180px;*/
    border-left-width: 2px;
    border-left-color: #FFCD00;
    border-left-style: solid;
}

.product-content {
    margin-top: 11px;
    margin-bottom: 11px;
}

.menu-top {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.fontsize-menu>i {
    color: #A3A3A3;
}

.menu-icon {
    width: 14px;
    margin-top: -4px;
    margin-right: 11px;
}

.menu-side,
.product-layout {
    padding-top: 35px;
}

.menu-side-mobile {
    background-color: transparent !important;
    color: inherit !important;
    text-align: center;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.content-color {
    /*background: #f0f2f6;*/
}

.dragable_item {
    cursor: move;
}

.page-header {
    padding-bottom: 5px;
}

.page-header-exclusive-sale {
    padding-bottom: 24px;
    border-bottom: 1px solid #eee;
    margin: 40px 0 20px;
}

.split-line {
    border-bottom: 1px solid #eee;
}

.btn-add-tag {
    margin-top: -10px;
}

.cart-contents-title {
    font-size: 18px;
    font-weight: 700;
}

.cart-row {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.cart-item-row {
    margin-top: 5px;
}

.cart-link {
    padding-left: 7px;
}

.cart-delete-button {
    color: #d9534f;
    cursor: pointer;
    padding-left: 5px;
}

a.text-danger:hover,
a.text-danger:focus {
    color: #cc3a2c;
}

.cart-update-button {
    cursor: pointer;
}

.thumbnail-image {
    cursor: pointer;
}

#product-images {
    margin-bottom: 30px;
}

.product-layout {
    padding-top: 30px;
}

.product-title-image {
    margin: auto;
    max-height: 400px;
    width: auto;
}

.thumbnail-image-container .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
    margin: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.navbar-brand>img {
    width: auto;
    height: 110%;
}

.thumbnail {
    min-height: 415px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.title-image-container .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
    margin: auto;
}

.title-image-container {
    height: 400px;
}

.thumbnail-image-container {
    height: 350px;
}

.product-title {
    color: black;
}

.lable-product {
    padding: 3px 12px !important;
    font-size: 12px !important;
}

.lable-banner {
    color: #2378E9;
    font-size: 12px !important;
}

.lable-thumbnail {
    color: #F46262;
    font-size: 12px !important;
}

.dot-banner {
    height: 8px;
    width: 8px;
    background-color: #2378E9;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.dot-thumbnail {
    height: 8px;
    width: 8px;
    background-color: #F46262;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.product-title-home {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-price {
    padding-bottom: 10px;
    font-size: 20px;
    color: #AAAAAA;
}

.productOptions {
    padding-bottom: 15px;
}

.product-option {
    font-size: 18px;
}

.btnAddToCart,
.body_text {
    padding-top: 15px;
    padding-bottom: 15px;
}

.product-option-text {
    font-size: 16px;
    color: #AAAAAA;
    padding-bottom: 10px;
    padding-top: 10px;
}

.seporator {
    padding-top: 5px;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 6px;
}

.list-group-input-pad select {
    margin-top: -7px;
}

.no-pad-left {
    padding-left: 0px !important;
}

.no-pad-right {
    padding-right: 0px !important;
}

.top-pad-10 {
    padding-top: 10px;
}

.top-pad-20 {
    padding-top: 20px;
}

.bottom-pad-20 {
    padding-bottom: 20px;
}

.left-pad-30 {
    padding-left: 30px;
}

.shipping-form input {
    margin-bottom: 15px;
}

#header {
    height: 50px;
}

.search-bar {
    margin: 30px 0px;
}

.searchMenuLocation-side {
    padding-left: 25px;
    padding-right: 25px;
}

.searchMenuLocation-top {
    padding-left: 5px;
    padding-right: 5px;
}

.breadcrumbProPerRow-3 {
    margin-left: 10px;
    margin-right: 10px;
}

.searchProPerRow-3,
.searchProPerRow-4 {
    padding-left: 0;
    padding-right: 0;
}

.dropup-button {
    height: 34px;
    padding: 0px;
    color: white !important;
}

.dropdown-menu>li>a {
    padding-top: 5px !important;

}

.pad-bottom {
    padding-bottom: 25px;
}

.keywords {
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 19px;
}

.customer-details {
    padding-left: 0px;
    padding-right: 0px;
}

.file-form {
    padding-left: 15px;
    padding-right: 15px;
}

.editor_btn_action {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.dropup-list {
    padding-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

#notify_message {
    position: fixed;
    display: none;
    z-index: 9999;
    padding-top: 10px;
    height: 50px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: black;
}

.input-group .form-control {
    z-index: 1;
}

.search-bar-product-input {
    border-radius: 7px !important;
    width: 100% !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

form.btn.btn-file {
    padding: 0;
    width: 50%;
    border: 0;
}

.toast-import {
    height: 80px !important;
    font-size: 1.6rem !important;
}

.sweetalert-fontsize {
    font-size: 1.6rem !important;
}

.swal2-html-container {
    text-align: justify;
}

.swal2-html-container ul {
    margin: 0;
    padding: 0;
}

.offcanvas-element {
    z-index: 100;
    background-color: #ffffff;
}

.product-item {
    padding-left: 0px;
    padding-right: 0px;
}

input:focus {
    outline: none;
    background: #fbfbe9;
}

input+label:not(.warning-label) {
    display: block;
    cursor: text;
    transition: .15s ease-out all;
    position: absolute;
    top: .9em;
    left: 1.3em;
}

.floatLabel {
    top: .1em;
    left: 32px;
    font-size: .7em;
    color: #999999;
    font-weight: normal;
    transition: .15s ease-out all;
}

input.form-control.customerDetails {
    padding-bottom: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding-top: 25px;
    background-color: #f5f5f5;
}

.admin {
    margin-bottom: 0;
    /*background: #f0f2f6;*/
    height: 100%;
}

.image-next {
    position: absolute;
    top: 180px;
    right: 0px;
}

.image-prev {
    position: absolute;
    top: 180px;
    left: 0px;
}

.image-button {
    cursor: pointer;
    opacity: 0.7;
}

.image-button-show {
    cursor: pointer;
    opacity: 0.7 !important;
}

.navbar-default {
    background-color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #000000;
}

.alert-success {
    background-color: #000000;
    opacity: 0.65;
}

.btn-danger,
.btn-warning,
.btn-primary {
    color: #ffffff;
    /*background-color: #000000;*/
    /*border-color: #000000;*/
}

.btn-warning:hover,
.btn-danger:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
    opacity: 0.65;
}

a:hover,
a:focus {
    color: #000000;
}

a {
    color: #000000;
}

.fontsize-menu {
    font-size: 14px;
}

.fontsize-12 {
    font-size: 12px;
}

.list-group {
    margin-bottom: 0px !important;
}

.list-group-sub {
    margin-left: 20px !important;
    font-weight: 350;
}

.list-group-sub-active {
    margin-left: 20px !important;
}

.menu-background {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 7px 0 20px 0px rgba(0, 0, 0, 0.05)
}

.menu-icon {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px "

}

.submenu {
    font-size: 12px;
    padding-left: 10px;
    background: #F8F8F8;
}

.list-group-item-submenu {
    background-color: #F8F8F8 !important;

}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #f1f2f4 !important;
    border-color: white;
}

.list-group-item {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.list-group-item.active>div {
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-width: 0px;
    background-color: #fdbf2d;
    width: 5px;
}

.list-group-item>button {
    display: none;
}

.list-group-item>a {
    color: black !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.list-group-item>a {
    color: black !important;
    text-decoration: none !important;
}

.navbar-default .navbar-brand {
    color: #000000;
    font-size: 40px;
    font-weight: 700;
}

.navbar-brand {
    margin-top: 12px;
    margin-left: 9px
}

.main-sidebar {
    min-height: 100vh !important;
}

.sidebar-menu-list {
    padding-bottom: 45px;
    position: relative;
    min-height: calc(100vh - 130px);
}

.menu-container {
    /* min-height:100vh !important; */
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000000;
}

.navbar-brand-image {
    padding: 0px;
    height: 70px;
}

.navbar-default .badge {
    background-color: #000000;
    color: #fff;
}

.navbar-default .navbar-toggle {
    background-color: #000000;
    border-color: #000000;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    background-color: #000000;
}

.pagination>li>a,
.pagination>li>span {
    background-color: #000000;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #000000;
    opacity: 0.65;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    background-color: #000000;
    opacity: 0.65;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #000000;
}

.thumbnail {
    border: none;
}

.help-block {
    color: #95a5a6;
}

.list-group-item {
    border: 0px solid #ddd !important;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 0px solid #ddd;
}

.form-control {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.btn-new {
    background-color: #FFCD00;
    color: black;
    font-weight: bold !important;
    font-size: 12px !important;
}

.btn-new-exclusive-sale {
    background-color: #FFCD00;
    color: black;
    font-weight: bold !important;
    font-size: 12px !important;
    width: 96px;
    height: 40px;
}

.btn.btn-new-customer-tag {
    background-color: white;
    color: black;
    border: 1px solid #DBDBDB;
    width: 80px;
}

.product-create-new {
    margin-top: 21px;
    float: right;
}

.exclusive-sale-create-new {
    margin-top: 11px;
    float: right;
}

.digital-create-new {
    margin-top: 21px;
    float: left;
}

.padding-left-0 {
    padding-left: 0px !important;
}

.padding-right-0 {
    padding-right: 0px !important;
}

.selection-page {
    text-align-last: center;
    padding: 6px 8px 8px 5px;
    margin: 0 10px 0 0;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

@media only screen and (min-width: 768px) {
    .pushy {
        width: 700px;
    }

    .pushy-right {
        -webkit-transform: translate3d(700px, 0, 0);
        -ms-transform: translate3d(700px, 0, 0);
        transform: translate3d(700px, 0, 0);
    }

    .pushy-open-right #container,
    .pushy-open-right .push {
        -webkit-transform: translate3d(-700px, 0, 0);
        -ms-transform: translate3d(-700px, 0, 0);
        transform: translate3d(-700px, 0, 0);
    }

    .product-dflex {
        display: flex;
    }
}

@media only screen and (max-width: 768px) {
    .pushy {
        width: calc(100%);
    }

    .pushy-right {
        -webkit-transform: translate3d(calc(100%), 0, 0);
        -ms-transform: translate3d(calc(100%), 0, 0);
        transform: translate3d(calc(100%), 0, 0);
    }

    .pushy-open-right #container,
    .pushy-open-right .push {
        -webkit-transform: translate3d(-calc(100%), 0, 0);
        -ms-transform: translate3d(-calc(100%), 0, 0);
        transform: translate3d(-calc(100%), 0, 0);
    }

    .product-item {
        padding-left: 0px;
        padding-right: 0px;
    }

    .showFooter {
        margin-bottom: 220px;
    }

    .title-image-container {
        height: auto;
    }

    .product-title {
        padding-top: 25px;
        min-height: auto;
    }

    .search-bar-input {
        padding-left: 0;
        padding-right: 0;
    }

    .menu-side {
        padding-top: 15px;
    }

    .product-layout {
        padding-top: 0px;
        padding-bottom: 30px;
    }

    #btn_search {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .cart-row {
        padding-top: 10px;
        border-bottom: 1px solid #ecf0f1;
        display: block;
    }

    .cart-body {
        padding-top: 0px;
    }

    .cart-contents-shipping {
        padding-top: 10px;
    }

    #cart {
        padding-bottom: 15px;
    }

    .footer {
        height: 100px;
    }

    body {
        margin-bottom: 100px;
    }
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    background-color: #111;
}

/* Control the right side */
.right {
    right: 0;
    background-color: red;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}

.pagination ul {
    list-style: none;
    margin: 0px;
    /*width: 400px;*/
    height: 140px;

}

.pagination li {
    float: left;
    margin-left: 2px;
    padding: 5px;
    color: #fff;
    font-family: trebuchet ms;
    font-size: 19px;
    font-weight: lighter;
    text-align: justify;
    word-wrap: break-word;
}

.btn-vip {
    color: #ffffff;
    background-color: #ffcd00;
    border-color: #ffcd00;
}

.btn-vip:hover {
    color: #ffffff !important;
    background-color: #ffcd00 !important;
    border-color: #ffcd00 !important;
}

.accordion>i {
    float: right;
}

.signout-area {
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
}

.list-group-item-submenu.active {
    font-weight: bold;
    background-color: #f8f8f8 !important;
}

.btn-inStock {
    color: #ffffff;
    background-color: #367bb4;
    border-color: #367bb4;
}

.btn-inStock:hover {
    color: #ffffff !important;
    background-color: #367bb4 !important;
    border-color: #367bb4 !important;
}

.btn-available {
    color: #ffffff;
    background-color: #5bc289;
    border-color: #5bc289;
}

.btn-available:hover {
    color: #ffffff !important;
    background-color: #5bc289 !important;
    border-color: #5bc289 !important;
}

.btn-preorder {
    color: #ffffff;
    background-color: #f39c12;
    border-color: #f39c12;
}

.btn-preorder:hover {
    color: #ffffff !important;
    background-color: #f39c12 !important;
    border-color: #f39c12 !important;
}

.product-content label {
    font-size: 15px;
}

.product-content span {
    font-size: 13px;
    line-height: 2em;
}

.product-row img {
    border: 0.1em #e2e2e2 solid;
}

.content-header {
    margin-top: 15px;
}

/* search icon*/
/* enable absolute positioning */
.inner-addon {
    position: relative !important;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 15px;
    pointer-events: none;
    z-index: 9;
    color: #999;
}

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 45px;
}

.right-addon input {
    padding-right: 30px;
}

/* end search icon*/

#slection-page-product {
    font-size: 12px;
    font-weight: bold;
}

.send-email-div {
    padding-bottom: 10px;
}

.send-email-div-empty {
    padding-bottom: 28px;
}

@media only screen and (max-width: 767px) {
    .product-create-new {
        float: none !important;
    }
}

.udid-title {
    padding-left: 15px !important;
}

.udid-stock {
    text-align: right;
    padding-right: 0 !important;
}

.page-title {
    font-size: 20px;
    font-weight: bold;
}

.back-icon-page-title {
    margin-right: 19px
}

.product-image-flex {
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 10px;
    flex-basis: 175px;
}

.product-detail-info {
    flex-grow: 6;
    flex-basis: 70%;
}

.product-udid-info {
    flex-grow: 0;
    flex-basis: 20%;
}

body>div.bootbox.modal.fade.add-new-encrypted-string-dialog.in>div>div {
    width: 480px;
}

@media only screen and (min-width: 1397px) {
    body>div.bootbox.modal.fade.add-new-encrypted-string-dialog.in>div>div {
        width: 570px;
    }
}

@media only screen and (min-width: 992px) {
    .main-sidebar {
        position: sticky !important;
        top: 0;
        left: 0;
    }

    #upcoming-product-form {
        position: sticky !important;
        top: 0;
        right: 0;
    }
}

#upcoming-product-form {
    box-shadow: -10px 0 20px 0px rgba(0, 0, 0, 0.05);
    min-height: 100vh;
}

.product-upcoming-list {
    margin-top: 3rem;
    padding-bottom: 15px;
}

.product-upcoming-item {
    box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 6px;
}

.product-upcoming-item .info {
    display: flex;
    align-items: center;
}

.product-upcoming-item .info>div {
    margin-right: 1rem;
}

.product-upcoming-item .info img {
    width: 85px;
    height: 85px;
    object-fit: cover;
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 0.3rem;
}

.product-upcoming-item .actions {
    text-align: right;
}

.product-upcoming-item .actions span {
    cursor: pointer;
}

.product-upcoming-item .actions span+span {
    margin-left: 0.5rem;
}

.product-upcoming-item .actions img {
    width: 16px;
    height: 16px;

}

#upcoming-product-form {
    background-color: white;
    padding: 1rem 4rem;
}

#upcoming-product-form .form-group {
    margin-bottom: 2rem;
}

#upcoming-product-form .form-group.form-group-inline {
    display: flex;
    justify-content: space-between;
}

#upcoming-product-form label {
    color: #797979;
}

#upcoming-product-form .form-control {
    border-color: #797979;
}

#upcoming-product-form .btn {
    font-weight: bold;
    padding: 1rem 2.5rem;
}

#upcoming-product-form .btn-text {
    background-color: transparent;
}

.drag-control {
    width: 100%;
}

.drag-control .form-control {
    border: 1px dashed #969696 !important;
    width: 100% !important;
    min-height: 130px;
    text-align: center;
    vertical-align: middle;
}

.drag-control .form-control span.input-inner-label {
    margin: auto;
    line-height: 110px;
}

.drag-control .form-control input {
    opacity: 0;
}

.productImageName {
    margin-top: 20px;
    margin-top: 20px;
}

.productImageName .remove-file {
    float: right;
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 2px 8px;
}

.productImageName .remove-file:hover,
a.choose-file:hover {
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.length-alert input {
    border-color: red !important;
}

.warning-label {
    float: right;
    width: 100%;
    text-align: right;
    padding-top: 5px;
}

.length-alert .warning-label {
    color: red !important;
}

.menu-icon.flagged {
    width: 16px;
    font-weight: bold;
}

.table-responsive>table>tbody>tr>td {
    text-align: center;
    vertical-align: inherit;
}

.table-responsive>table>thead>tr>th {
    text-align: center;
    vertical-align: inherit;
}

.pager a,
.pager a:hover {
    color: rgb(0, 0, 0);
}

.review-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.flagged-review-picture {
    background-color: #353535;
    padding: 20px 20px 10px;
    height: 400px;
}

.flagged-review-picture img {
    opacity: 0.8;
}

.flagged-review-picture img:hover {
    /* box-shadow: 0px 2px 6px 0px rgb(189 189 189 / 90%); */
    opacity: 1;
}

.flagged.username {
    text-align: center;
    color: #fff;
    margin-top: 30px;
}

.flagged.button {
    /* border-radius: 25px; */
    position: relative;
}

.flagged.arrow-right {
    width: 0;
    height: 0;
    border-top: 199px solid transparent;
    border-bottom: 199px solid transparent;
    border-left: 200px solid #40bf40;
}

.flagged.arrow-right:hover {
    border-left: 200px solid #008000;
}

.flagged.arrow-right-disabled {
    width: 0;
    height: 0;
    border-top: 199px solid transparent;
    border-bottom: 199px solid transparent;
    border-left: 200px solid #d2d2d2;
}

.flagged.arrow-left {
    width: 0;
    height: 0;
    border-top: 199px solid transparent;
    border-bottom: 199px solid transparent;
    border-right: 200px solid #ff4d4d;
}

.flagged.arrow-left:hover {
    border-right: 200px solid #e60000;
}

.flagged.arrow-left-disabled {
    width: 0;
    height: 0;
    border-top: 199px solid transparent;
    border-bottom: 199px solid transparent;
    border-right: 200px solid #d2d2d2;
}

.button-text-left {
    position: absolute;
    top: -20px;
    left: 75px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.button-text-right {
    position: absolute;
    top: -20px;
    right: 90px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.b2b-item {
    display: flex;
}

.b2b-checkbox {
    margin-left: 5px;
}

th i.fa.fa-angle-down {
    cursor: pointer;
}

ul.dropdown-status {
    padding-left: 15px;
    position: absolute;
    top: 100%;
    right: 5px;
    line-height: 24px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

ul.dropdown-status.open {
    display: inline-block;
}

.dropdown-status>li:hover::before {
    content: '🠚';
    position: absolute;
    left: 0;
    color: #158897;
}

.dropdown-status>li:hover {
    background-color: #EEEEEE;
}

.dropdown-status>li>a {
    text-decoration: none !important;
    color: black;
    font-weight: 600;
    display: block;
}

.table p {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.certificate-search {
    position: absolute !important;
    left: 93% !important;
    top: 30% !important;
}

.table-margin-bottom {
    margin-bottom: 100px;
}

.border-radius-top-left-only {
    border-radius: 4px 0px 0px 4px !important;
}

.border-radius-right-bottom-only {
    border-radius: 0px 4px 4px 0px !important;
}

.certificate-text-detail {
    line-height: 2.3;
}

.button-navigation-left {
    background: black;
    border-radius: 20px;
    border-width: 0px;
    padding: 4px 13px 4px 10px;
    margin-right: 3px;
}

.button-navigation-right {
    background: black;
    border-radius: 20px;
    border-width: 0px;
    padding: 4px 10px 4px 13px;
}

.navigation-text-selected {
    color: white;
}

.button-navigation {
    background: white;
    border-radius: 20px;
    border-width: 0px;
    padding: 4px 10px 4px 13px;
}

.button-navigation-selected {
    background: black;
    border-radius: 20px;
    border-width: 0px;
    padding: 4px 10px 4px 11px;
    color: white;
}

.button-navigation-right a:hover {
    text-decoration: none;
}

.button-disable {
    background: darkgray !important;
}

.form-group-exclusive-sale {
    margin: 0 0 0 40px;
}

.col-sm-2.control-label.label-exclusive-sale {
    padding-top: 5px;
    padding-left: 50px;
    text-align: left;
    font-weight: bold;
}

.col-md-10.col-md-10-no-padding {
    padding-right: 0px;
}

span.input-description {
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    color: #7C7C7C
}

.form-control.input-exclusive-sale-customer-tag {
    width: 100%;
}

/*.bootstrap-tagsinput, input {*/
/*    width: 100% !important;*/
/*}*/

.bootstrap-tagsinput .tag {
    background-color: #F4F4F4;
    color: black !important;
    font-size: 14px;
    font-weight: normal;
}

.switch.btn-switch-custom {
    margin-left: 15px;
}

.note-create-exclusive-sale {
    /*border-top: 1px solid #eee;*/
    /* margin-top: 60px; */
}

.note-create-exclusive-sale-title {
    margin-top: 30px;
    margin-bottom: 60px;
}

.box-note.control-label.label-exclusive-sale {
    padding-top: 5px;
    padding-left: 50px;
    text-align: left;
}

.note-create-exclusive-sale-detail {
    margin-top: 5px;
    display: inline-block;
}

.disabled-link:hover,
.disabled-link:focus,
.disabled-link:active {
    text-decoration: none;
    color: inherit;
}

.slider.round {
    width: auto;
}

input:checked+.slider {
    background-color: #25E662;
}

#list-customer-tag {
    margin-top: 10px;
    margin-bottom: 20px;
}

.bootstrap-tagsinput {
    border: none !important;
    padding: 10px 0 10px 0 !important;
    margin: 13px 0 13px 0;
    box-shadow: none !important;
    width: 103% !important;
    max-width: 103% !important;
}

.tag.label.label-info {
    padding: 10px !important;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 16px;
}

#list-customer-tag {
    color: transparent !important;
    text-shadow: 0 0 0 #2196f3 !important;
}

#list-customer-tag:focus {
    outline: none !important;
}

.input-description-status {
    margin-left: 16px !important;
}

.exclusive-sale-table {
    margin-top: 20px;
}


.exclusive-sale-header {
    border: 1px solid #D6D6D6;
    background-color: #FFFFFF !important;
    height: 64px;
}

.exclusive-sale-table-header {
    vertical-align: middle !important;
    font-size: 15px;
}

.exclusive-sale-table-header-center {
    text-align: center;
    font-weight: 700;
    color: black;
    width: 15%;
    vertical-align: middle !important;
    font-size: 15px;
}

.exclusive-sale-table-header-left {
    text-align: left;
    font-weight: 700;
    color: black;
    width: 30%;
    vertical-align: middle !important;
    font-size: 15px;
}

.exclusive-sale-table-content-center {
    text-align: center;
    font-weight: 400;
    color: black;
}

.exclusive-sale-table-content-left {
    text-align: left;
    font-weight: 400;
    color: black;
}


.exclusive-sale-body {
    border-left: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
}

.exclusive-sale-table-content {
    border: none !important;
    height: 64px;
    vertical-align: middle !important;
}

.exclusive-sale-pagination {
    text-align: center;
}

.pagination>li.exlusive-sale-pagination-page-num>a {
    background-color: white !important;
    border: none !important;
    color: black;
    font-size: 11px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination>li.exlusive-sale-pagination-page-num-active>a {
    background-color: #FFCD00 !important;
    color: black;
    font-size: 11px;
    width: 32px;
    height: 32px;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination>li.exlusive-sale-pagination-page-next>a {
    background-color: black !important;
    color: white;
    font-size: 11px;
    width: 80px;
    height: 32px;
    text-align: center;
    border-radius: 16px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination>li.exlusive-sale-pagination-page-next>a:hover,
.pagination>li.exlusive-sale-pagination-page-next>a:focus {
    background-color: #FFCD00 !important;
    color: black;
    font-size: 11px;
    width: 80px;
    height: 32px;
    border-radius: 16px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pagination>li.exlusive-sale-pagination-three-dots>a {
    word-wrap: unset !important;
    background-color: white !important;
    border: none !important;
    color: black;
    font-size: 11px;
}

.select-page-exclusive-sale {
    width: 82px;
    height: 40px;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    margin-right: 16px;
}

.text-info-exclusive-sale {
    box-shadow: 1px 0px 5px grey;
    background-color: white;
    font-size: 12px;
    font-weight: 400;
    visibility: hidden;
    width: 269px;
    color: black;
    text-align: justify-all;
    padding: 10px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 98%;
    left: 12%;
}

.icon-info-exclusive-sale:hover~.text-info-exclusive-sale {
    visibility: visible;
}

.exclusive-sale-status-button-enabled {
    font-size: 13px;
    width: 72px;
    height: 32px;
    background-color: #25E662;
    border-radius: 16px;
    font-weight: 400;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exclusive-sale-status-button-disabled {
    border: 1px solid #D6D6D6;
    font-size: 13px;
    width: 72px;
    height: 32px;
    background-color: white;
    border-radius: 16px;
    font-weight: 400;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exclusive-sale-button-edit-delete {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    /*top: 98%;*/
    /*left: 12%;*/
    right: 48px;
}

.exclusive-sale-button-edit {
    border: 1px solid #D6D6D6;
    font-size: 13px;
    width: 104px;
    height: 40px;
    background-color: white;
    font-weight: 400;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exclusive-sale-button-delete {
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    font-size: 13px;
    width: 104px;
    height: 40px;
    background-color: white;
    font-weight: 400;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exclusive-sale-button-edit:hover,
.exclusive-sale-button-delete:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.exlusive-sale-button-expand:hover {
    cursor: pointer;
}

.exlusive-sale-button-expand:active~.exclusive-sale-button-edit-delete {
    visibility: visible;
}

.modelConfirmTitle {
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 25px;
}

.modelConfirmDescription {
    font-size: 15px;
    color: black;
    text-align: center
}

.button-confirm-cancel-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.button-confirm-cancel-delete .btn-delete-cancel {
    margin-right: 16px;
    background-color: white;
    color: black;
    font-weight: 700;
    border: 1px solid #D6D6D6;
}

.button-confirm-cancel-delete .btn-delete-delete {
    margin-right: 16px;
    background-color: black;
    color: white;
    font-weight: 700;
}

.button-confirm-cancel-delete .btn-delete-delete:hover {
    background-color: #FFCD00;
    color: black;
}

.form-group-exclusive-sale .col-md-10-no-padding {
    padding-right: 0px;
}

.form-group-exclusive-sale .col-md-10-no-padding .btn-upload-img {
    margin-bottom: 25px;
    background-color: black;
    border-color: unset;
}

.form-group-exclusive-sale .col-md-10-no-padding .btn-remove-img {
    margin-bottom: 25px;
    background-color: #F1F2F4;
    border-color: unset;
    color: black;
}

.form-group-exclusive-sale .col-md-10-no-padding .btn-remove-img:active,
.form-group-exclusive-sale .col-md-10-no-padding .btn-remove-img:focus {
    margin-bottom: 25px;
    background-color: #F1F2F4;
    border-color: unset;
    color: black;
}

.form-group-exclusive-sale .col-md-10-no-padding .btn-upload-img:active {
    background-color: black;
}

.btn.btn-info.btn-file.btn-file-exclusive-sale,
.btn.btn-primary.button-loader.button-loader-exclusive-sale {
    background-color: black;
    border-color: unset;
}

.btn.btn-info.btn-file.btn-file-exclusive-sale:active,
.btn.btn-primary.button-loader.button-loader-exclusive-sale:active {
    background-color: black;
}

.exclusiveBannerImage {
    display: flex;
    margin-bottom: 20px;
}

.exclusive-icons {
    height: 16px;
    margin-top: -10px;
    margin-left: 5px;
    cursor: pointer;
    display: none;
}