{{> partials/menu}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 content-color">
    <form method="post" class="form-horizontal" id="insert_form" action="/admin/exclusive-sale/insert"
        data-toggle="validator" onkeydown="return event.key != 'Enter';">
        <div class="col-lg-12">
            <div class="page-header-exclusive-sale">
                <div class="pull-right btn-add-tag">
                    <button id="btn-add-new-tag" class="btn btn-new-exclusive-sale" type="submit">Add Tag</button>
                </div>
                <h2 class="page-title">
                    <a href="javascript:history.back()" class="disabled-link">
                        <svg class="back-icon-page-title" xmlns="http://www.w3.org/2000/svg" width="8.414"
                            height="14.829" viewBox="0 0 8.414 14.829">
                            <path id="Path_768" data-name="Path 768" d="M-748-1179l-6,6,6,6"
                                transform="translate(755 1180.415)" fill="none" stroke="#000" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2" />
                        </svg>
                    </a>
                    New Tag
                </h2>
            </div>

            <div class="form-group-exclusive-sale">
                <label for="frmTitleTag" class="col-sm-2 control-label label-exclusive-sale">Title Tag*</label>
                <div class="col-md-10 col-md-10-no-padding">
                    <input id="input-title-tag" type="text" name="frmTitleTag" class="form-control " required
                        minlength="2" maxlength="200" value="{{titleTag}}" />
                    <span class="input-description">Title for tag.</span>
                </div>
            </div>

            <div class="form-group-exclusive-sale">
                <label for="frmBannerText" class="col-sm-2 control-label label-exclusive-sale">Banner Text*</label>
                <div class="col-md-10 col-md-10-no-padding">
                    <input id="input-banner-text" type="text" name="frmBannerText" class="form-control" required
                        minlength="1" maxlength="12" value="{{titleTag}}" />
                    <span class="input-description">This refer to the yellow (Blank) text on the carousel, maximum 12 characters. The copy will be, “Shop our (Blank) deals here”.</span>
                </div>
            </div>

            <div class="form-group-exclusive-sale">
                <label for="frmProductTag" class="col-sm-2 control-label label-exclusive-sale">Product Tag*</label>
                <div class="col-md-10 col-md-10-no-padding">
                    <input id="input-product-tag" type="text" name="frmProductTag" class="form-control " required
                        minlength="2" maxlength="200" value="{{productTag}}" />
                    <span class="input-description">Use (-) for spacing, E.g. #secret-stash.</span>
                </div>
            </div>

            <div class="form-group-exclusive-sale">
                <label for="frmCustomerTag" class="col-sm-2 control-label label-exclusive-sale">Customer Tag*</label>
                <div class="col-sm-9 col-md-10-no-padding">
                    <input id="input-customer-tag" type="text" name="frmCustomerTag"
                        class="form-control input-exclusive-sale-customer-tag" />

                    <span id="input-description-customer-tag" class="input-description">You can add more than one
                        customer tag.</span>
                    <div id="box-customer-tag">
                        <input id="list-customer-tag" name="frmCustomerTag" data-role="tagsinput" required />
                    </div>
                </div>
                <button id="btn-add-new-customer-tag" type="button"
                    class="col-sm-2 btn btn-new-customer-tag pull-right disabled"
                    onclick="addNewCustomerTag()">Add</button>

            </div>

            <div class="form-group-exclusive-sale">
                <label for="frmDescription" class="col-sm-2 control-label label-exclusive-sale">Description</label>
                <div class="col-md-10 col-md-10-no-padding">
                    <input type="text" name="frmDescription" class="form-control " minlength="2" maxlength="200"
                        onkeydown="return (event.keyCode!=13);" value="{{description}}" />
                    <span class="input-description">Meant for internal use, leave blank if not needed.</span>
                </div>
            </div>

            <div class="form-group-exclusive-sale">
                <label for="frmDescription" class="col-sm-2 control-label label-exclusive-sale">Banner Image*</label>
                <div class="col-md-10 col-md-10-no-padding">
                    <button type="button" class="btn btn-info btn-upload-img">Upload Banner</button>
                    <div class="exclusiveBannerImage">
                        <img id="imgUrl" class="pull-left" src="{{result.imgUrl}}"
                            style="padding-left: 0px; width: 300px;" />
                        <input type="text" class="frmImgUrl" name="frmImgUrl" value="{{result.imgUrl}}" hidden>
                    </div>
                    <img src="/images/icon/ic_upload.png" class="exclusive-icons upload">
                    <img src="/images/icon/ic_delete.png" class="exclusive-icons delete" onclick="removeTagImage()">
                </div>
            </div>

            <div class="form-group-exclusive-sale">
                <label for="frmStatus" class="col-sm-2 control-label label-exclusive-sale">Status</label>
                <div class="col-md-10 col-md-10-no-padding">
                    <label class="switch">
                        <input type="checkbox" class="frmStatus" id="frmStatus" name="frmStatus" checked>
                        <span class="slider round"></span>
                    </label>
                    <span class="input-description input-description-status">Toggle to enable product tag.</span>
                </div>
            </div>

        </div>
    </form>

    <!-- Modal -->
    <div class="myModalBackground modal fade" id="myModalBackground" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Tag Image Upload</h4>
                </div>
                <div class="modal-body">
                    <span class="btn btn-info btn-file btn-file-exclusive-sale">
                        Select file<input type="file" name="upload_file" id="upload_file" accept="image/*">
                    </span>
                    <label id="file_name"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-cancel-upload-img"
                        data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary button-loader button-loader-exclusive-sale"
                        onclick="uploadImageFileToServerTag('imgUrl')"
                        data-loading-text="<iclass='fa fa-spinner fa-spin'></i> Uploading..." id="saveBackgroundButton"
                        name="saveBackgroundButton" type="submit">
                        Upload
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 note-create-exclusive-sale">
        <div class="split-line">
        </div>
        <div class="form-group-exclusive-sale note-create-exclusive-sale-title">
            <p class="box-note control-label label-exclusive-sale">
                <strong>Note:</strong>
                <br>
                <span class="note-create-exclusive-sale-detail">Please ensure that the tags are accurate and consistent
                    with the shopify tags.</span>

            </p>

        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"
    rel="stylesheet" />

<script>
    class ButtonAddCustomerTag {
        static on() {
            document.getElementById('btn-add-new-customer-tag').disabled = false
            document.getElementById('btn-add-new-customer-tag').classList.remove("disabled")
        }

        static off() {
            document.getElementById('btn-add-new-customer-tag').disabled = true

        }
    }

    class DescriptionCustomerTag {
        static hide() {
            document.getElementById("box-customer-tag").hidden = true;

        }

        static show() {
            document.getElementById("box-customer-tag").hidden = false;

        }
    }

    DescriptionCustomerTag.hide();
    ButtonAddCustomerTag.off();

    $('.btn.btn-info.btn-remove-img').css("display", "none"); // Do not show button remove image before user upload image

    function validateData() {
        let productTagValue = document.getElementsByName("frmProductTag")[0].value.trim()
        let titleTag = document.getElementsByName("frmTitleTag")[0].value.trim()
        let imgUrl = document.getElementsByName("frmImgUrl")[0].value.trim()
        let bannerText = document.getElementsByName("frmBannerText")[0].value.trim()
        let lstCustomerTag = $("#list-customer-tag").tagsinput('items');
        if (lstCustomerTag.length > 0 && productTagValue !== '' && titleTag !== '' && imgUrl !== '' && bannerText !== '') {
            document.getElementById('btn-add-new-tag').disabled = false
            document.getElementById('btn-add-new-tag').classList.remove("disabled")
        } else {
            document.getElementById('btn-add-new-tag').disabled = true
        }
    }

    setInterval(function () {
        validateData();
    }, 500);

    let customerTag = document.getElementById("input-customer-tag");
    customerTag.addEventListener("keyup", function (event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            addNewCustomerTag()
        }
    });


    function addNewCustomerTag() {
        document.getElementById("input-description-customer-tag").style.display = "none";
        document.getElementById("box-customer-tag").hidden = false;

        // Get value in customer tag input to push it in customer tag array of bootstrap tag input.
        let customerTagInputValue = document.getElementById("input-customer-tag").value.trim()
        if (customerTagInputValue !== '') {
            $('#list-customer-tag').tagsinput('add', customerTagInputValue);
            // Reset input customer tag after add new value
            customerTag.value = null;
            validateData();
        }
        // Hide blinking cursor in the customer tag box.
        $('.bootstrap-tagsinput').children().attr('readonly', true);
        ButtonAddCustomerTag.off()
    }

    $('#list-customer-tag').on('itemRemoved', function (event) {
        // When the user remove the customer tag, we will check if the customer tag array is empty, show the description box.
        let lstCustomerTag = $("#list-customer-tag").tagsinput('items')
        if (lstCustomerTag.length === 0) {
            document.getElementById("box-customer-tag").hidden = true;
            document.getElementById("input-description-customer-tag").style.display = "block";
            validateData();
        }
    });

    $("#input-product-tag").on("change keyup paste", function () {
        validateData();
    })

    $('#input-customer-tag').on("change keyup paste", function () {
        let customerTagInputValue = document.getElementById("input-customer-tag").value.trim()
        if (customerTagInputValue !== '') {
            ButtonAddCustomerTag.on();
        } else {
            ButtonAddCustomerTag.off();
        }

    })

    function uploadImageFileToServerTag(uploadType) {
        let file_data = null;
        file_data = $('#upload_file').prop('files')[0];
        const form_data = new FormData();
        form_data.append('upload_file', file_data);
        form_data.append('upload_type', uploadType);
        form_data.append('src', $('#imgUrl').attr('src'));

        $('#saveBackgroundButton').button('loading');
        $.ajax({
            url: '/admin/exlusive-sale/upload-file',
            enctype: 'multipart/form-data',
            processData: false, // Important!
            contentType: false,
            cache: false,
            data: form_data,
            type: 'post',
            success: function (response) {
                $('.myModalBackground').modal('hide');
                $('.btn.btn-info.btn-upload-img').css("display", "none");
                $('.exclusive-icons.upload').css("display", "unset");
                $('.exclusive-icons.delete').css("display", "unset");
                $('#saveBackgroundButton').button('reset');
                $('#imgUrl').attr('src', response.data.imageUrl); // show preview on client
                $('.frmImgUrl').val(response.data.imageUrl) // push data to server
                $('.btn.btn-info.btn-remove-img').css("display", "unset"); // show button remove image after upload image successfully
                showNotification(response.message, 'success', false);
            },
            error: function (response) {
                $('#saveBackgroundButton').button('reset');
                showNotification(response.responseJSON.message, 'danger');
            },
        });
    }

    function removeTagImage() {
        $('#imgUrl').attr('src', ''); // show preview on client
        $('.frmImgUrl').val('') // push data to server
        $('.btn.btn-info.btn-remove-img').css("display", "none"); // hide button remove image after remove image
        $('.btn.btn-info.btn-upload-img').css("display", "unset");
        $('.exclusive-icons.upload').css("display", "none");
        $('.exclusive-icons.delete').css("display", "none");
    }

    // To fixed error when re-upload image
    $('.btn-upload-img').click(function () {
        $('#myModalBackground').modal("show");
    });

    $('.exclusive-icons.upload').on('click', function () {
        $('.btn.btn-info.btn-upload-img').trigger('click')
    })

</script>