{{> partials/menu}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 content-color">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 content-header">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 padding-left-0">
            <h2 class="page-title">List of Product Tags
                <svg class="icon-info-exclusive-sale" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <g id="Info" transform="translate(-519 -47)">
                        <g id="Ellipse_36434" data-name="Ellipse 36434" transform="translate(537 65) rotate(180)" fill="#fff" stroke="#e2e2e2" stroke-width="1">
                            <circle cx="9" cy="9" r="9" stroke="none"/>
                            <circle cx="9" cy="9" r="8.5" fill="none"/>
                        </g>
                        <g id="Group_59719" data-name="Group 59719" transform="translate(528.793 60.418) rotate(180)">
                            <circle id="Ellipse_22243" data-name="Ellipse 22243" cx="0.792" cy="0.792" r="0.792" transform="translate(0 7.912)" fill="#7a7a7a"/>
                            <path id="Path_25697" data-name="Path 25697" d="M.793,6.938A.738.738,0,0,1,0,6.27V.667A.738.738,0,0,1,.793,0a.737.737,0,0,1,.792.667v5.6A.737.737,0,0,1,.793,6.938Z"
                                  fill="#7a7a7a"/>
                        </g>
                    </g>
                    <span class="text-info-exclusive-sale">Once a product tag is linked to the customer tag, users with the customer tag will be able to view and purchase exclusive products with the linked product tags.</span>
                </svg>

            </h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 padding-right-0">
            <div class="exclusive-sale-create-new">
                {{{selectedPageExclusiveSaleTop currentPage totalPage}}}
                <a href="/admin/exclusive-sale/new">
                    <button class="btn btn-new btn-new-exclusive-sale">Create New</button>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <table class="exclusive-sale-table">
            <thead class="exclusive-sale-header">
            <tr>
                <th class="exclusive-sale-table-header-center col-md-2">Title Tag</th>
                <th class="exclusive-sale-table-header-center col-md-2">Banner Text</th>
                <th class="exclusive-sale-table-header-center col-md-3">Product Tag</th>
                <th class="exclusive-sale-table-header col-md-3">Customer Tag</th>
                <th class="exclusive-sale-table-header-center col-md-1">Status</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>

            <tbody class="exclusive-sale-body">
            {{#each results}}
                <tr>
                    <td class="exclusive-sale-table-content exclusive-sale-table-content-center">{{titleTag}}</td>
                    <td class="exclusive-sale-table-content exclusive-sale-table-content-center">{{bannerText}}</td>
                    <td class="exclusive-sale-table-content exclusive-sale-table-content-center">{{productTag}}</td>
                    <td class="exclusive-sale-table-content exclusive-sale-table-content-left">{{customerTag}}</td>
                    {{#if status}}
                        <td class="exclusive-sale-table-content exclusive-sale-table-content-center">
                            <div class="exclusive-sale-status-button-enabled">
                                Enabled
                            </div>
                        </td>
                    {{else}}
                        <td class="exclusive-sale-table-content exclusive-sale-table-content-center">
                            <div class="exclusive-sale-status-button-disabled">
                                Disabled
                            </div>
                        </td>
                    {{/if}}
                    <th class="exclusive-sale-table-content exclusive-sale-table-content-center" id="exclusive-sale-expand-{{_id}}">
                        <svg id="exlusive-sale-button-expand-{{_id}}" onclick="clickExpandButton('{{_id}}')" class="exlusive-sale-button-expand" xmlns="http://www.w3.org/2000/svg" width="4"
                             height="18"
                             viewBox="0 0 4 18">
                            <g id="Group_59922" data-name="Group 59922" transform="translate(-1752 -336)">
                                <g id="Group_11" data-name="Group 11" transform="translate(1752 336)">
                                    <circle id="Ellipse_22244" data-name="Ellipse 22244" cx="2" cy="2" r="2" fill="#a3a3a3"/>
                                    <circle id="Ellipse_22245" data-name="Ellipse 22245" cx="2" cy="2" r="2" transform="translate(0 7)" fill="#a3a3a3"/>
                                    <circle id="Ellipse_22246" data-name="Ellipse 22246" cx="2" cy="2" r="2" transform="translate(0 14)" fill="#a3a3a3"/>
                                </g>
                            </g>
                        </svg>
                        <div class="exclusive-sale-button-edit-delete" id="exclusive-sale-button-edit-delete-{{_id}}">
                            <a href="/admin/exclusive-sale/edit/{{_id}}" style="text-decoration: none; color: black">
                                <div class="exclusive-sale-button-edit">Edit</div>
                            </a>
                            <div class="exclusive-sale-button-delete" data-toggle="modal" data-target="#modalConfirmBeforeDelete">
                                Delete
                            </div>

                        </div>
                    </th>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalConfirmBeforeDelete" tabindex="-1" role="dialog" aria-labelledby="modalConfirmBeforeDelete" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modalConfirmContent">
                <p class="modelConfirmTitle">DELETE TAG?</p>
                <p class="modelConfirmDescription">Once the tag is deleted, everything that is linked will be erased.</p>
                <div class="button-confirm-cancel-delete">
                    <button type="button" class="btn btn-secondary btn-delete-cancel" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn btn-primary btn-delete-delete" onclick="deleteTagSubmit()">DELETE</button>
                </div>
            </div>
        </div>
    </div>

    {{{showPaginationExclusiveSaleBottom currentPage totalPage}}}

</div>


<script>
    // --- Start: Handle event when click expand button (three dots vetical)
    let btnIdActived = '';

    function clickExpandButton(id) {
        btnIdActived = id;
        document.getElementById('exclusive-sale-button-edit-delete-' + id).style.visibility = 'visible';
    }

    $(document).click(function (event) {
        var $target = $(event.target);
        if (!$target.closest('#exclusive-sale-expand-' + btnIdActived).length &&
                $('#exclusive-sale-button-edit-delete-' + btnIdActived).is(":visible")) {
            $('#exclusive-sale-button-edit-delete-' + btnIdActived).css("visibility", "hidden")
        }
    });

    // --- End: Handle event click expand button

    // --- Start: Handle event delete record
    async function deleteTagSubmit() {
        fetch("/admin/exclusive-sale/delete/" + btnIdActived, {
            method: "GET"
        }).then(res => {
            console.log("res delete tag:", res);
            window.location.href = "/admin/exclusive-sale";
        });
    }
    // --- End: Handle event delete record
</script>