<input hidden value="collapse-{{menu}}" id="selected-menu" />
<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 menu-background main-sidebar padding-right-0 padding-left-0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 menu-icon">
        {{#if admin}}
        <a class="navbar-brand" href="/admin">
            <img id="header-logo" src="/images/logo.png" />
        </a>
        {{else}}
        {{#isNull config.cartLogo}}
        {{#isNull config.cartTitle}}
        <a class="navbar-brand" href="/">MightyJaxx dashboard</a>
        {{else}}
        <a class="navbar-brand" href="/">
            <img id="header-logo" src="/images/logo.png" />
        </a>
        {{/isNull}}
        {{else}}
        <a class="navbar-brand navbar-brand-image" href="/"><img class="img-responsive" src="{{config.cartLogo}}"></a>
        {{/isNull}}
        {{/if}}
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 menu-container"
        style="max-height: calc(100vh - 10rem); overflow: auto;">
        <div class="panel-heading" style="padding-right: 0px; padding-left: 0px">
            <h4 class="panel-title" style="padding-right: 0px;">
                <ul id="accordion" class="list-group sidebar-menu-list">
                    {{#ifCond session.groupRole '===' 'admin'}}
                    <li id="collapse-analytic-item"
                        class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                      'analytic'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/ic_analytics@2x.png" />
                        <a data-parent="#accordion" class="accordion accordion-toggle" data-toggle="collapse"
                            href="#collapse-analytic">Analytics<i class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-analytic" class="panel-collapse collapse submenu">
                        <ul class="list-group list-group-sub">
                            <li class="list-group-item list-group-item-submenu"><a href="/admin/dashboard">Mightyjaxx
                                    App</a></li>
                            <li class="list-group-item list-group-item-submenu"><a
                                    href="/admin/analytics/stockx">StockX</a></li>
                        </ul>
                    </div>
                    <li id="collapse-product-item"
                        class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                      'product'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/ic_product@2x.png" />
                        <a data-parent="#accordion" class="accordion accordion-toggle" data-toggle="collapse"
                            href="#collapse-product">Products<i class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-product" class="panel-collapse collapse submenu">
                        <ul class="list-group list-group-sub">
                            <li class="list-group-item list-group-item-submenu active"><a href="/admin/products/0">All
                                    Products</a></li>
                            <li class="list-group-item list-group-item-submenu"><a href="/admin/product/new">New</a>
                            </li>
                            <li class="list-group-item list-group-item-submenu"><a href="/admin/product/import">Import
                                    StockX CSV</a></li>
                            <li class="list-group-item list-group-item-submenu"><a
                                    href="/admin/qrcode/nfc-udid-request">NFC UDID Request</a></li>
                            <li class="list-group-item list-group-item-submenu"><a
                                    href="/admin/product_upcomming">Register of Interest</a></li>
                            <li class="list-group-item list-group-item-submenu"><a
                                    href="/admin/exclusive-sale">Exclusive Sale Management</a></li>
                        </ul>
                    </div>
                    <li id="collapse-campaign-item" class="list-group-item fontsize-menu">
                        <div type="button" class="active-button-left"></div>
                        <i class="fa fa-flag fa-icon menu-icon" aria-hidden="true"></i>
                        <a data-parent="#accordion" class="accordion" data-toggle="collapse"
                            href="#collapse-campaign">Campaigns<i class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-campaign" class="panel-collapse collapse submenu">
                        <ul class="list-group list-group-sub">
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-plus-square-o fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/campaign/new">New</a></li>
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-list fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/campaigns">List</a></li>
                        </ul>

                    </div>

                    {{!-- <li id="collapse-store-item" class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                      'store'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/ic_store@2x.png" />
                        <a data-toggle="collapse" class="accordion accordion-toggle" href="#collapse-store">Stores<i
                                class="fa fa-angle-down"></i></a>
                    </li> --}}

                    
                    <li id="collapse-flagged-item"
                        class="list-group-item fontsize-menu {{#checkedMenuActive parentMenu
                                                                                      'store'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon flagged" src="/images/icon/ic_store@2x.png" />
                        <a data-toggle="collapse" class="accordion accordion-toggle"
                          {{#ifCond menu '===' "new" }}
                            href="#collapse-new" {{else}} {{#ifCond menu '===' "mas" }} href="#collapse-mas"
                            {{else}} href="#collapse-list" {{/ifCond}} {{/ifCond}}>
                            Stores
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </li>
                    
                    <div   {{#ifCond menu '===' "new" }} id="collapse-new" {{else}} {{#ifCond menu '===' "mas" }}
                        id="collapse-mas" {{else}} id="collapse-list" {{/ifCond}} {{/ifCond}}
                        class="panel-collapse collapse submenu">
                        {{!--  --}}
                        <ul class="list-group">
                            <li id="collapse-flagged-item1"
                                class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                              'new'}}{{/checkedMenuActive}}">
                                <div type="button" class="active-button-left"></div>
                                <i class="fa fa-plus-square-o fa-icon"
                                aria-hidden="true"></i> &nbsp; <a href="/admin/store/new">New</a>
                            </li>
                        </ul>

                        {{!--  --}}
                        <ul class="list-group">
                            <li id="collapse-flagged-item1"
                                class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                              'list'}}{{/checkedMenuActive}}">
                                <div type="button" class="active-button-left"></div>
                                <i class="fa fa-list fa-icon"
                                ria-hidden="true"></i> &nbsp; <a href="/admin/stores">List</a>
                            </li>
                        </ul>
                        {{!--  --}}
                        <ul class="list-group">
                            <li id="collapse-flagged-item1"
                                class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                              'mas'}}{{/checkedMenuActive}}">
                                <div type="button" class="active-button-left"></div>
                                <img class="menu-icon flagged" src="/images/icon/social-network.png" />
                                <a data-toggle="collapse" class="accordion accordion-toggle"
                                    href="#collapse-mas-child">MAS<i class="fa fa-angle-down"></i></a>
                            </li>

                            <div id="collapse-mas-child" class="panel-collapse collapse submenu">
                                <ul class="list-group">
                                   <li class="list-group-item list-group-item-submenu"><i class="fa fa-plus-square-o fa-icon"
                                            aria-hidden="true"></i> &nbsp; <a href="/admin/sport/new">Create</a></li>
                                    <li class="list-group-item list-group-item-submenu"><i class="fa fa-list fa-icon"
                                            aria-hidden="true"></i> &nbsp; <a href="/admin/sports">List</a></li>
                                </ul>
                            </div>
                        </ul>
                       
                    </div>

                  
                    <li id="collapse-badge-item" class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                      'badge'}}{{/checkedMenuActive}}">

                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/badgeee.png" />
                        <a data-toggle="collapse" class="accordion accordion-toggle" href="#collapse-badge">Badges<i
                                class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-badge" class="panel-collapse collapse submenu">
                        <ul class="list-group list-group-sub">
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-plus-square-o fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/badges/new">New</a></li>
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-list fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/badges">List</a></li>
                        </ul>
                    </div>
                    <li id="collapse-certificate-item"
                        class="list-group-item fontsize-menu {{#checkedMenuActive menu 'order'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/ic_certificate@2x.png" />
                        <a data-toggle="collapse" class="accordion accordion-toggle"
                            href="#collapse-certificate">Certificates<i class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-certificate" class="panel-collapse collapse submenu">
                        <ul class="list-group list-group-sub">
                            <li class="list-group-item list-group-item-submenu">
                                <a href="/admin/certificates">All Certificates</a>
                            </li>
                            <li class="list-group-item list-group-item-submenu">
                                <a href="/admin/certificate/summary">Summary</a>
                            </li>
                        </ul>
                    </div>
                    <li id="collapse-artist-item"
                        class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                      'artist'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/ic_artist@2x.png" />
                        <a data-toggle="collapse" class="accordion accordion-toggle" href="#collapse-artist">Artist<i
                                class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-artist" class="panel-collapse collapse submenu">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-plus-square-o fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/artist/new">New</a></li>
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-list fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/artists/0">List</a></li>
                        </ul>
                    </div>

                    <li id="collapse-sesame-item"
                        class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                      'digital-content'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/ic_digital_content.png" />
                        <a data-toggle="collapse" class="accordion accordion-toggle"
                            href="#collapse-digital-content">Digital Content<i class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-digital-content" class="panel-collapse collapse submenu">
                        <ul class="list-group list-group-sub">
                            <li class="list-group-item list-group-item-submenu">
                                <a href="/admin/digital-content/manage-digital-content">Manage Digital Content</a>
                            </li>
                            <li class="list-group-item list-group-item-submenu">
                                <a href="/admin/all-characters">View all products with digital content</a>
                            </li>
                            <li class="list-group-item list-group-item-submenu">
                                <a href="/admin/digital-content/new-character">Link products to digital content</a>
                            </li>
                        </ul>
                    </div>

                    <li id="collapse-flagged-item"
                        class="list-group-item fontsize-menu {{#checkedMenuActive parentMenu
                                                                                      'community-profile'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon flagged" src="/images/icon/social-network.png" />
                        <a data-toggle="collapse" class="accordion accordion-toggle" {{#ifCond menu '===' "poll" }}
                            href="#collapse-poll" {{else}} {{#ifCond menu '===' "profile" }} href="#collapse-profile"
                            {{else}} href="#collapse-quiz" {{/ifCond}} {{/ifCond}}>
                            Community Profiles
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </li>

                    <div {{#ifCond menu '===' "poll" }} id="collapse-poll" {{else}} {{#ifCond menu '===' "profile" }}
                        id="collapse-profile" {{else}} id="collapse-quiz" {{/ifCond}} {{/ifCond}}
                        class="panel-collapse collapse submenu">
                        <ul class="list-group">
                            <li id="collapse-flagged-item1"
                                class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                              'profile'}}{{/checkedMenuActive}}">
                                <div type="button" class="active-button-left"></div>
                                <img class="menu-icon flagged" src="/images/icon/social-network.png" />
                                <a data-toggle="collapse" class="accordion accordion-toggle"
                                    href="#collapse-profile-child">Profiles<i class="fa fa-angle-down"></i></a>
                            </li>
                            <div id="collapse-profile-child" class="panel-collapse collapse submenu">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-submenu"><i class="fa fa-file-text-o"
                                            aria-hidden="true"></i>
                                        &nbsp; <a href="/admin/community-profile/new">Create</a>
                                    </li>
                                    <li class="list-group-item list-group-item-submenu"><i class="fa fa-file-text-o"
                                            aria-hidden="true"></i>
                                        &nbsp; <a href="/admin/community-profile/type/brands">Brands</a>
                                    </li>
                                    <li class="list-group-item list-group-item-submenu"><i class="fa fa-file-text-o"
                                            aria-hidden="true"></i>
                                        &nbsp; <a href="/admin/community-profile/type/artists">Artists</a>
                                    </li>
                                    <li class="list-group-item list-group-item-submenu"><i class="fa fa-file-text-o"
                                            aria-hidden="true"></i>
                                        &nbsp; <a href="/admin/community-profile/type/collectors">Collectors</a>
                                    </li>
                                </ul>
                            </div>
                        </ul>
                        {{!-- // --}}
                        <ul class="list-group">
                            <li id="collapse-flagged-item1"
                                class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                              'poll'}}{{/checkedMenuActive}}">
                                <div type="button" class="active-button-left"></div>
                                <img class="menu-icon flagged" src="/images/icon/social-network.png" />
                                <a href="/admin/community-profile/list-polls">Polls List</a>
                            </li>
                        </ul>
                        {{!-- // --}}
                        <ul class="list-group">
                            <li id="collapse-flagged-item1"
                                class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                              'quiz'}}{{/checkedMenuActive}}">
                                <div type="button" class="active-button-left"></div>
                                <img class="menu-icon flagged" src="/images/icon/icon-test-quiz.png" />
                                <a href="/admin/community-profile/list-quizs">Quizzes List</a>
                            </li>
                        </ul>
                    </div>

                    <li id="collapse-notification-item"
                        class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                    'notification'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/ic_notification@2x.png" />
                        <a data-toggle="collapse" class="accordion accordion-toggle"
                            href="#collapse-notification">Notification<i class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-notification" class="panel-collapse collapse submenu">
                        <ul class="list-group list-group-sub">
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-bell fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/settings/send-notification">Send
                                    Notification</a></li>
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-clock-o fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a
                                    href="/admin/settings/scheduled/notification">Scheduled Notification</a></li>
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-ioxhost"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/settings/scheduled/emails">Scheduled
                                    Send Email</a></li>
                        </ul>
                    </div>
                    <li id="collapse-setting-item" class="list-group-item fontsize-menu" {{#checkedMenuActive
                        menu 'setting' }}{{/checkedMenuActive}}>
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/ic_setting@2x.png" />
                        <a data-toggle="collapse" class="accordion" href="#collapse-setting">Settings<i
                                class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-setting" class="panel-collapse collapse submenu">
                        <ul class="list-group list-group-sub">
                            <li class="list-group-item list-group-item-submenu"><i class='fa fa-cubes fa-icon'></i>
                                &nbsp; <a href="/admin/blockchains/0">BlockChain transactions</a></li>
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-cog fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/settings">Setting</a></li>
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-life-bouy fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/app-released">Release APK</a></li>
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-user fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/users">User Accounts</a></li>
                        </ul>
                    </div>
                    <li class="list-group-item fontsize-menu signout-area">
                        <a href="/admin/logout">Sign out</a>
                    </li>
                    {{/ifCond}}

                    {{#ifCond session.groupRole '===' 'marketing'}}
                    <li id="collapse-analytic-item"
                        class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                      'analytic'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/ic_analytics@2x.png" />
                        <a data-parent="#accordion" class="accordion accordion-toggle" data-toggle="collapse"
                            href="#collapse-analytic">Analytics<i class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-analytic" class="panel-collapse collapse submenu">
                        <ul class="list-group list-group-sub">
                            <li class="list-group-item list-group-item-submenu"><a href="/admin/dashboard">Mightyjaxx
                                    App</a></li>
                            <li class="list-group-item list-group-item-submenu"><a
                                    href="/admin/analytics/stockx">StockX</a></li>
                        </ul>
                    </div>
                    <li id="collapse-product-item"
                        class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                      'product'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/ic_product@2x.png" />
                        <a data-parent="#accordion" class="accordion accordion-toggle" data-toggle="collapse"
                            href="#collapse-product">Products<i class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-product" class="panel-collapse collapse submenu">
                        <ul class="list-group list-group-sub">
                            <li class="list-group-item list-group-item-submenu active"><a href="/admin/products/0">All
                                    Products</a></li>
                            <li class="list-group-item list-group-item-submenu"><a href="/admin/product/import">Import
                                    StockX CSV</a></li>
                            <li class="list-group-item list-group-item-submenu"><a
                                    href="/admin/product_upcomming">Register of Interest</a></li>
                            <li class="list-group-item list-group-item-submenu"><a
                                    href="/admin/exclusive-sale">Exclusive Sale Management</a></li>
                        </ul>
                    </div>
                    <li id="collapse-campaign-item" class="list-group-item fontsize-menu">
                        <div type="button" class="active-button-left"></div>
                        <i class="fa fa-flag fa-icon menu-icon" aria-hidden="true"></i>
                        <a data-parent="#accordion" class="accordion" data-toggle="collapse"
                            href="#collapse-campaign">Campaigns<i class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-campaign" class="panel-collapse collapse submenu">
                        <ul class="list-group list-group-sub">
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-plus-square-o fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/campaign/new">New</a></li>
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-list fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/campaigns">List</a></li>
                        </ul>
                    </div>
                    <li id="collapse-store-item" class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                      'store'}}{{/checkedMenuActive}}">

                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/ic_store@2x.png" />
                        <a data-toggle="collapse" class="accordion accordion-toggle" href="#collapse-store">Stores<i
                                class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-store" class="panel-collapse collapse submenu">
                        <ul class="list-group list-group-sub">
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-plus-square-o fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/store/new">New</a></li>
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-list fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/stores">List</a></li>
                        </ul>
                    </div>
                    <li id="collapse-artist-item"
                        class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                      'artist'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/ic_artist@2x.png" />
                        <a data-toggle="collapse" class="accordion accordion-toggle" href="#collapse-artist">Artist<i
                                class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-artist" class="panel-collapse collapse submenu">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-plus-square-o fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/artist/new">New</a></li>
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-list fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/artists/0">List</a></li>
                        </ul>
                    </div>
                    <li id="collapse-sesame-item"
                        class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                      'digital-content'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/ic_digital_content.png" />
                        <a data-toggle="collapse" class="accordion accordion-toggle" href="#collapse-sesame">Digital
                            Content<i class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-digital-content" class="panel-collapse collapse submenu">
                        <ul class="list-group list-group-sub">
                            <li class="list-group-item list-group-item-submenu">
                                <a href="/admin/digital-content/manage-digital-content">Manage Digital Content</a>
                            </li>
                            <li class="list-group-item list-group-item-submenu">
                                <a href="/admin/all-characters">View all products with digital content</a>
                            </li>
                            <li class="list-group-item list-group-item-submenu">
                                <a href="/admin/digital-content/new-character">Link products to digital content</a>
                            </li>
                        </ul>
                    </div>

                    <li id="collapse-flagged-item"
                        class="list-group-item fontsize-menu {{#checkedMenuActive parentMenu
                                                                                      'community-profile'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon flagged" src="/images/icon/social-network.png" />
                        <a data-toggle="collapse" class="accordion accordion-toggle" {{#ifCond menu '===' "poll" }}
                            href="#collapse-poll" {{else}} {{#ifCond menu '===' "profile" }} href="#collapse-profile"
                            {{else}} href="#collapse-quiz" {{/ifCond}} {{/ifCond}}>
                            Community Profiles
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </li>
                    <div {{#ifCond menu '===' "poll" }} id="collapse-poll" {{else}} {{#ifCond menu '===' "profile" }}
                        id="collapse-profile" {{else}} id="collapse-quiz" {{/ifCond}} {{/ifCond}}
                        class="panel-collapse collapse submenu">
                        <ul class="list-group">
                            <li id="collapse-flagged-item1"
                                class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                              'profile'}}{{/checkedMenuActive}}">
                                <div type="button" class="active-button-left"></div>
                                <img class="menu-icon flagged" src="/images/icon/social-network.png" />
                                <a data-toggle="collapse" class="accordion accordion-toggle"
                                    href="#collapse-profile-child">Profiles<i class="fa fa-angle-down"></i></a>
                            </li>
                            <div id="collapse-profile-child" class="panel-collapse collapse submenu">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-submenu"><i class="fa fa-file-text-o"
                                            aria-hidden="true"></i>
                                        &nbsp; <a href="/admin/community-profile/new">Create</a>
                                    </li>
                                    <li class="list-group-item list-group-item-submenu"><i class="fa fa-file-text-o"
                                            aria-hidden="true"></i>
                                        &nbsp; <a href="/admin/community-profile/type/brands">Brands</a>
                                    </li>
                                    <li class="list-group-item list-group-item-submenu"><i class="fa fa-file-text-o"
                                            aria-hidden="true"></i>
                                        &nbsp; <a href="/admin/community-profile/type/artists">Artists</a>
                                    </li>
                                    <li class="list-group-item list-group-item-submenu"><i class="fa fa-file-text-o"
                                            aria-hidden="true"></i>
                                        &nbsp; <a href="/admin/community-profile/type/collectors">Collectors</a>
                                    </li>
                                </ul>
                            </div>
                        </ul>
                        {{!-- // --}}
                        <ul class="list-group">
                            <li id="collapse-flagged-item1"
                                class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                              'poll'}}{{/checkedMenuActive}}">
                                <div type="button" class="active-button-left"></div>
                                <img class="menu-icon flagged" src="/images/icon/social-network.png" />
                                <a href="/admin/community-profile/list-polls">Polls List</a>
                            </li>
                        </ul>
                        {{!-- // --}}
                        <ul class="list-group">
                            <li id="collapse-flagged-item1"
                                class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                              'quiz'}}{{/checkedMenuActive}}">
                                <div type="button" class="active-button-left"></div>
                                <img class="menu-icon flagged" src="/images/icon/icon-test-quiz.png" />
                                <a href="/admin/community-profile/list-quizs">Quizzes List</a>
                            </li>
                        </ul>
                    </div>

                    <li id="collapse-notification-item"
                        class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                      'notification'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/ic_notification@2x.png" />
                        <a data-toggle="collapse" class="accordion accordion-toggle"
                            href="#collapse-notification">Notification<i class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-notification" class="panel-collapse collapse submenu">
                        <ul class="list-group list-group-sub">
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-bell fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a href="/admin/settings/send-notification">Send
                                    Notification</a></li>
                            <li class="list-group-item list-group-item-submenu"><i class="fa fa-clock-o fa-icon"
                                    aria-hidden="true"></i> &nbsp; <a
                                    href="/admin/settings/scheduled/notification">Scheduled Notification</a></li>
                        </ul>
                    </div>
                    <li class="list-group-item fontsize-menu signout-area">
                        <a href="/admin/logout">Sign out</a>
                    </li>
                    {{/ifCond}}

                    {{#ifCond session.groupRole '===' 'production'}}
                    <li id="collapse-product-item"
                        class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                      'product'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/ic_product@2x.png" />
                        <a data-parent="#accordion" class="accordion accordion-toggle" data-toggle="collapse"
                            href="#collapse-product">Products<i class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-product" class="panel-collapse collapse submenu">
                        <ul class="list-group list-group-sub">
                            <li class="list-group-item list-group-item-submenu active"><a href="/admin/products/0">All
                                    Products</a></li>
                            <li class="list-group-item list-group-item-submenu"><a href="/admin/product/new">New</a>
                            </li>
                            <li class="list-group-item list-group-item-submenu"><a href="/admin/product/import">Import
                                    StockX CSV</a></li>
                            <li class="list-group-item list-group-item-submenu"><a
                                    href="/admin/qrcode/nfc-udid-request">NFC UDID Request</a></li>
                        </ul>
                    </div>
                    <li class="list-group-item fontsize-menu signout-area">
                        <a href="/admin/logout">Sign out</a>
                    </li>
                    {{/ifCond}}

                    {{#ifCond session.groupRole '===' 'customer_service'}}
                    <li id="collapse-product-item"
                        class="list-group-item fontsize-menu {{#checkedMenuActive menu
                                                                                      'product'}}{{/checkedMenuActive}}">
                        <div type="button" class="active-button-left"></div>
                        <img class="menu-icon" src="/images/icon/ic_product@2x.png" />
                        <a data-parent="#accordion" class="accordion accordion-toggle" data-toggle="collapse"
                            href="#collapse-product">Products<i class="fa fa-angle-down"></i></a>
                    </li>
                    <div id="collapse-product" class="panel-collapse collapse submenu">
                        <ul class="list-group list-group-sub">
                            <li class="list-group-item list-group-item-submenu active"><a href="/admin/products/0">All
                                    Products</a></li>
                            <li class="list-group-item list-group-item-submenu"><a href="/admin/product/new">New</a>
                            </li>
                        </ul>
                    </div>
                    <li class="list-group-item fontsize-menu signout-area">
                        <a href="/admin/logout">Sign out</a>
                    </li>
                    {{/ifCond}}
                </ul>
            </h4>
        </div>

    </div>
</div>