{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="col-lg-10">
        <div class="page-header">
            <h2>Dashboard</h2>
        </div>
	</div>
</div>