{{> partials/menu}}

<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="col-lg-12">
        <h2>List of Badges</h2>
    </div>
    <div class="col-lg-10 ml-2">
        <table>
        <thead>
            <tr>
            <th >Category</th>
            <th style="border-left:1px solid rgb(221, 221, 221); text-align: center">Name</th>
            <th style="border-left:1px solid rgb(221, 221, 221); text-align: center; width: 200px">Icon</th>
            <th style="border-left:1px solid rgb(221, 221, 221); text-align: center; width: 200px">Edit</th>
            </tr>
        </thead>
        <tbody>
        {{#each badge_list}}
            <tr>
                <td>{{this.badgeCategory}}</td>
                <td style="border-left:1px solid rgb(221, 221, 221);">{{this.name}}</td>
                <td style="border-left:1px solid rgb(221, 221, 221); text-align: center"><img src="{{this.iconImage}}" alt="Icon of Badge" width="100" height="100"></td>
                <td style="border-left:1px solid rgb(221, 221, 221); text-align: center">
                    
                    <a href="/admin/badges/edit/{{this._id}}"><i class="fa fa-pencil" style="font-size:18px"></i></a>&nbsp; &nbsp;
                    <a href="/admin/badges/delete/{{this._id}}"
                        onclick="return confirm('Are you sure you want to delete this badge?');"><i
                            class="fa fa-trash" style="font-size:18px" aria-hidden="true"></i></a>
                        
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    </div>
    <style type="text/css">
        th {
            border-bottom:1px solid rgb(0, 0, 0);
        }
    </style>
</div>
