{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-8">
			<h2>Edit Badge</h2>
			<form method="post" id="edit_form" action="/admin/badges/update" data-toggle="validator" enctype="multipart/form-data">
                <input type="hidden" name="frmBadgeId" id="frmBadgeId" value="{{badge._id}}" />
                <div class="form-group">
                    <label>Category </label> <label class="text-danger">*</label>
                    <input type="text" class="form-control" name="badgeCategory" value="{{badge.badgeCategory}}" required>
                </div>
                <div class="form-group">
                    <label>Name </label> <label class="text-danger">*</label>
                    <input type="text" class="form-control" name="badgeName" value="{{badge.name}}" maxlength="26" required>
                </div>
                <div class="form-group">
                    <label>Description </label>
                    <input type="text" class="form-control" name="badgeDescription" value="{{badge.description}}" maxlength="110">
                </div>
                <div class="form-group">
                    <label>Icon image</label>
                    <input type="file" id="iconImage" class="form-control file-input" name="iconImage" accept="image/*" onchange="PreviewImage('iconImage');">
                    {{#if badge.iconImage.length}}
                    <img id="iconImageUploadPreview"
                        style="margin-top: 20px;width: 100px; height: 100px; object-fit: cover;"
                        src="{{badge.iconImage}}" />
                    {{/if}}
                </div>
                <div class="form-group">
                    <label>Icon image in Active</label></br>
                    {{#if badge.iconImage.length}}
                    <img id="iconImageInActiveUploadPreview"
                        style="margin-top: 20px;width: 100px; height: 100px; object-fit: cover;"
                        src="{{badge.iconImageInActive}}" />
                    {{/if}}
                </div>
                <div class="form-group">
                    <label>Earning Method</label> <label class="text-danger">*</label>
                    <select id="earningMethod" class="form-control" name="earningMethod" value="{{badge.unlockCriteria}}">
                        <option value="countSku" {{selectState badge.unlockCriteria "countSku" }} >Count SKU</option>
                        <option value="countUniqueSku"  {{selectState badge.unlockCriteria "countUniqueSku" }}>Count Unique SKU</option>
                       
                    </select>
                </div>
                <div class="form-group">
                    <label>SKUs to Match </label> <label class="text-danger">*</label>
                    <input type="text"  class="form-control" id="matchingCriteria" name="matchingCriteria" value="{{badge.matchingCriteria}}" required>
                </div>
                <div class="form-group">
                    <div><label>Scans Required</label> <label class="text-danger">*</label> </div>                   
                    <div class="col-lg-6 " style="margin-left: -15px">
                        <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" class="form-control" id="scanCountRequired" name="scanCountRequired" value="{{badge.scanCountRequired}} " required>
                    </div>
                    <p class="text-danger" id="requireScan" hidden>You must input Scans Required less equal than amount SKUs in Count Unique SKU!!!</p>
                </div>
               
                <br/>
                <h2>Rewards</h2>
                <br/>
                <div class="form-group">
                    <label>Shelf Skin</label>
                    <input type="file" multiple id="shelfSkin" class="form-control file-input" name="shelfSkin" accept="image/*">
                    {{!-- {{#if badge.shelfSkin.length}}
                    <img id="shelfSkinUploadPreview"
                        style="margin-top: 20px;width: 100px; height: 100px; object-fit: cover;"
                        src="{{badge.shelfSkin}}" />
                    {{/if}} --}}
                    {{#each badge.shelfSkin}}
                    <img class="shelfSkinUploadPreview"
                        style="margin-top: 20px;width: 100px; height: 100px; object-fit: cover;"
                        src="{{this}}" />
                    {{/each}}
                </div>
                <div class="gallery" id ="shelf"> </div>
                <div class="form-group">
                    <label>Vault Skin</label>
                    <input type="file" multiple id="backgroundSkin" class="form-control file-input" name="backgroundSkin" accept="image/*">
                   {{#each badge.backgroundSkin}}
                    <img class="backgroundSkinUploadPreview"
                        style="margin-top: 20px;width: 100px; height: 100px; object-fit: cover;"
                        src="{{this}}" />
                    {{/each}}
                </div>
                <div class="gallery" id ="valt"> </div>
                <div><p class="text-danger" id="doNotUpload" hidden>You must input much 1 shelfSkin + 1 backgroundSkin or 2 shelfSkins or 2 backgroundSkins!!!</p></div>
                <div class="form-group" id="saveGr">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
</div>

<script>
    $(document).ready(function () {
        $('#scanCountRequired').change(()=>{
            checkInputRequired();
        })
        $('#matchingCriteria').change(()=>{
            checkInputRequired();
        })
                $('#shelfSkin').change(()=>{
            CheckInputUpload();
        })
        $('#backgroundSkin').change(()=>{
            CheckInputUpload();
        })
        
        $('#saveGr').mouseenter(()=>{
            checkInputRequired();
        })
        $(function() {
        // Multiple images preview in browser
        var imagesPreview = function(input, placeToInsertImagePreview) {

            if (input.files) {
                var filesAmount = input.files.length;

                for (i = 0; i < filesAmount; i++) {
                    var reader = new FileReader();

                    reader.onload = function(event) {
                        $($.parseHTML('<img style="margin-top: 20px; width: 100px; height: 100px; object-fit: cover;">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                    }

                    reader.readAsDataURL(input.files[i]);
                }
            }

        };

        $('#shelfSkin').on('change', function() {
            $('#shelf').empty();
            $('.shelfSkinUploadPreview').hide();
            
            imagesPreview(this, '#shelf');
        });
        $('#backgroundSkin').on('change', function() {
            $('#valt').empty();
            $('.backgroundSkinUploadPreview').hide();
            imagesPreview(this, '#valt');
        });
        })
    })

    function CheckInputUpload(){
        const countShelf = document.getElementById('shelfSkin').files.length
        const countBackground = document.getElementById('backgroundSkin').files.length
        const countAvailableShelf = $('.shelfSkinUploadPreview').size()
        const countAvailableBack = $('.backgroundSkinUploadPreview').size()
        if(countShelf + countAvailableBack > 2 || countBackground + countAvailableShelf >2 || (countShelf + countBackground) >2){
            $("#doNotUpload").show();
            $(':input[type="submit"]').prop('disabled', true);
        }else{
            $(':input[type="submit"]').prop('disabled', false);
            $("#doNotUpload").hide();
        }
    }

    function checkInputRequired(){ 
                   const match =$('#matchingCriteria').val().trim().split(',');
            const noBlank = match.filter((e)=>{
                return e.replace(/\s/g,'');
            })
            const strim = []
            const resultArr = noBlank.filter((e)=>{
                if(e !== ''){
                    const rs = e.trim().replace(/\s/g,'')
                    strim.push(rs)
                    return e ;      
                }
            })
            $('#matchingCriteria').val(strim.join(","));
        if($('#earningMethod').val() == 'countUniqueSku'){
            if($('#scanCountRequired').val() > resultArr.length){
                $("#requireScan").show();
                $('#scanCountRequired').val(' ')
            }else{
                $("#requireScan").hide();
            }
        }
    }
    function PreviewImage(id) {
        if (document.getElementById(id).files[0].size > 10485760) {
            Swal.fire({
                icon: 'error',
                customClass: 'sweetalert-fontsize',
                title: 'File too large',
                html: `File <b>${document.getElementById(id).files[0].name}</b> too large. Please try again.`,
                footer: 'Note: File must be less than or equal to 10mb',
            })
            return $(`#${id}`).val(null)
        }

        $(`#${id}UploadPreview`).remove();
        $(`#${id}Cancel`).remove();
        $(`#${id}`).after(`<img id="${id}UploadPreview" style="margin-top: 20px; width: 100px; height: 100px; object-fit: cover;" /> <img id="${id}Cancel" class="menu-icon remove-upload" src="/images/icon/cancelUpload.png" onclick="removeImage('${id}');">`);
        var imagePreview = new FileReader();
        imagePreview.readAsDataURL(document.getElementById(id).files[0]);
        imagePreview.onload = function (e) {
            document.getElementById(`${id}UploadPreview`).src = e.target.result;
        };
        
    };

    function removeImage(id) {
        $(`#${id}UploadPreview`).remove()
        $(`#${id}Cancel`).remove();
        $(`#${id}`).val(null)
    }

</script>
