{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="col-lg-12">
        <h2>Blockchain transactions</h2>
    </div>
    <div class="col-lg-12">
        {{#if totalPages}}
            <h4>Pages:
                <select id="slection-page-blockchain" style="width:60px;text-align-last:center">
                    <option value="{{page}}" hidden="hidden" selected="selected">{{page}}</option>
                    {{#each totalPages}}
                        <option {{selectState this page}}>{{this}}</option>
                    {{/each}}
                </select>
            </h4>
        {{/if}}
    </div>
    {{#if blockchains}}
        <div class="col-lg-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>
                        Blockchain transactions - will be run every 24 hours
                    </strong>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="text-info"><strong>MerkleRoot Hash</strong></h5>
                        </div>
                        <div class="col-md-4">
                            <h5 class="text-info"><strong>Contract Address</strong></h5>
                        </div>
                        <div class="col-md-3">
                            <h5 class="text-info"><strong>Date</strong></h5>
                        </div>
                        <div class="col-md-1">
                            <h5 class="text-info"><strong>Status</strong></h5>
                        </div>
                    </div>
                </li>
                {{#each blockchains}}
                    <li class="list-group-item">
                        <div class="row">
                            <!--<a href="/admin/customer/view/{{this._id}}">-->
                                <div class="col-md-4">
                                    <h5 class="" style="word-break: break-all;">{{this.merkleRootHash}}</h5>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="" style="word-break: break-all;">{{this.smartContract}}</h5>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="" style="word-break: break-all;">{{this.createdDate}}</h5>
                                </div>
                                <div class="col-md-1">
                                    {{#if this.smartContract}}
                                        <h5 class="text-success">Done</h5>
                                    {{else}}
                                        <h5 class="text-info">Processing</h5>
                                    {{/if}}
                                </div>
                            <!--</a>-->
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{else}}
        <h4 class="text-center">
            Not found
        </h4>
    {{/if}}
</div>
