{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12">
            <h2>Campaigns</h2>
            <br/>
        </div>
        <div class="col-xs-8 col-md-8">
            <table class="table table-bordered table-sortable" id="productTable">
                <thead>
                <tr>
                    <th>Campaign id</th>
                    <th >Name</th>
                    <th>Description</th>
                    <th>Number of Scanning</th>
                    <th>Winner</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Disable</th>
                    <th>Total Scanning</th>
                    <th>Participates</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each results}}
                    <tr>
                        <td><a href="/admin/campaign/edit/{{this._id}}"><span class="text-info">{{this.id}}</span></a></td>
                        <td><a href="/admin/campaign/edit/{{this._id}}"><span class="text-info">{{this.name}}</span></a></td>
                        <td><a href="/admin/campaign/edit/{{this._id}}"><span class="text-info">{{this.description}}</span></a></td>
                        <td><span class="text-info">{{this.max_number_of_scans}}</span></td>
                        <td><span class="text-info">{{this.winner}}</span></td>
                        <td><span class="text-info">{{this.start_date}}</span></td>
                        <td><span class="text-info">{{this.end_date}}</span></td>
                        <td><span class="text-info">{{this.isDisable}}</span></td>
                        <td><a class="" href="/admin/campaign/participates/{{this.id}}">{{valueFromMap this.id @root.participateCountsMap}}</a></td>
                        <td><a class="" href="/admin/campaign/participates/{{this.id}}">{{@root.totalParticipate}}</a></td>
                        <td style="min-width: 50px;">
                            <a class="text-success" href="/admin/campaign/edit/{{this._id}}" > <i class="fa fa-edit"></i></a>
                            <a class="text-danger" href="/admin/campaign/delete/{{this._id}}" > <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
