{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-8">
			<h2>Edit Campaign</h2>
			<form method="post" id="edit_form" action="/admin/campaign/insert" data-toggle="validator">
                <div class="form-group">
                    <label>Campaign name *</label>
                    <input type="text" class="form-control" name="name" value="{{campaign.name}}" required>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" name="description" value="{{campaign.description}}">
                </div>
                <div class="form-group">
                    <label>Url</label>
                    <input type="text" class="form-control" name="url" value="{{campaign.url}}">
                </div>
                <div class="form-group">
                    <label>Start Date: </label>
                    <input type="datetime-local" id="startDate" name="startDate" value="{{formatDate campaign.start_date "DD-MM-YYYY hh:mm"}}" required>
                </div>
                <div class="form-group">
                    <label>End Date: </label>
                    <input type="datetime-local" id="endDate" name="endDate" value="{{campaign.end_date}}" required>
                </div>
                <div class="form-group" style="padding-left: 0px;">
                    <label for="isFeatureCollection" class="col-sm-2 control-label" style="padding-left: 0px;">Disable</label>
                    <input class="isFeatureCollection"
                           type="checkbox" {{checkedState campaign.isDisable}}
                           id="isFeatureCollection"
                           name="isDisable">
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
</div>
