{{> partials/menu}}

<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <h2>{{profileType}} Management</h2>

      <p>Sorting of {{defineCase}} affects how it appears on app: Topmost here = leftmost on app, Bottom = rightmost on
        app </p>
      <p class="getProfileType" hidden>{{profileType}}</p>
      <br />
    </div>
    <div id="show-botton-save" class="col col-md-2 hidden">
      <button type="button" class="btn btn-warning btn-lg pull-right save-btn hidden"
        onclick="handleSubmit();">Save</button>
    </div>
    <div class="col-xs-12 col-md-12">
      <table id="sortable" class="table table-bordered table-sortable" style="text-align:center;">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Profile Name</th>
            <th>Polls</th>
            <th>Quizzes</th>
            <th>On App</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each results}}
          <tr id={{this.order}} class="drag-child">
            <td>
              {{#isNull this.logoImage}}
              {{else}}
              <img src={{this.logoImage}} style="max-width: 50px; height:auto; object-fit: contain;" />
              {{/isNull}}
            </td>
            <td>
              <span class="text-info">{{this.profileName}}</span>
            </td>
            <td>
              {{#if this.hasPolls}}
              <a href="/admin/community-profile/list-polls?profileId={{this._id}}">Edit</a>
              {{else}}
              <a href="/admin/community-profile/{{this._id}}/create-poll">Create</a>
              {{/if}}
            </td>
            <td>
              {{#if this.hasQuizs}}
              <a href="/admin/community-profile/list-quizs?profileId={{this._id}}">Edit</a>
              {{else}}
              <a href="/admin/community-profile/{{this._id}}/create-quiz">Create</a>
              {{/if}}
            </td>
            <td>
              <label class="switch">
                {{#if this.canPublish}}
                <input onclick="publicOnApp('{{this._id}}', '{{this.order}}')" id="{{this._id}}" type="checkbox"
                  {{checkedState this.isPublished}}>
                <span class="slider round"></span>
                {{else}}
                <input type="checkbox" {{checkedState this.isPublished}} disabled>
                <span class="slider round" style="cursor: auto;"></span>
                {{/if}}
              </label>

            </td>
            <td style="min-width: 50px;">
              <a class="text-success" href="/admin/community-profile/edit/{{this._id}}"> <i class="fa fa-edit"></i></a>
              {{#if this.hasPolls}}
              {{else}}
              {{#unless this.isPublished}}
              <i id="delete-icon" class="fa fa-trash text-danger" onclick="handleDelete('{{this._id}}');"></i>
              {{/unless}}
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<style>
  /* The switch - the box around the slider */
  #sortable>tbody>tr>td {
    height: 50px;
    vertical-align: middle;
  }

  #sortable>thead>tr>th {
    text-align: center;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0.5px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    transform: translateX(20px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  #delete-icon {
    cursor: pointer;
  }

  #show-botton-save {
    position: relative;
  }

  .save-btn {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    right: 880px;
    background-color: #f98209;
  }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
  function publicOnApp(id, order) {
    let trTag = $(`tr#${order} a`)
    let findEdit = Object.values(trTag).splice(0, trTag.length).filter(e => e.innerHTML === 'Edit')
    if (findEdit.length && !$(`#${id}:checked`).val()) {
      return Swal.fire({
        icon: 'error',
        customClass: 'sweetalert-fontsize',
        title: 'Unpublish failed',
        html: 'Brand Profile cannot be unpublished. It is linked to poll & quiz data',
      }).then(() => {
        if (!document.getElementById(id).checked) {
          return document.getElementById(id).checked = true
        }
      });
    }
    if ($(`#${id}:checked`).val()) {
      return Swal.fire({
        title: 'Are you sure publish this profile to app?',
        icon: 'warning',
        customClass: 'sweetalert-fontsize',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText: 'No, cancel!',
        confirmButtonText: 'Yes, publish it!',
        reverseButtons: true,
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            method: 'PUT',
            url: `/admin/community-profile/edit/update-status/${id}`,
            data: { isPublished: true },
          }).done((res) => {
            Swal.fire({
              icon: 'success',
              customClass: 'sweetalert-fontsize',
              title: 'Publish successfully',
            }).then(() => location.reload());
          }).fail((res) => {
            Swal.fire({
              icon: 'error',
              customClass: 'sweetalert-fontsize',
              title: 'Publish failed',
            }).then(() => location.reload());
          })
        }
        if (!result.isConfirmed) {
          if (document.getElementById(id).checked) {
            return document.getElementById(id).checked = false
          }
        }
      })
    }
    if (!$(`#${id}:checked`).val()) {
      return Swal.fire({
        title: 'Are you sure unpublish this profile?',
        icon: 'warning',
        customClass: 'sweetalert-fontsize',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText: 'No, cancel!',
        confirmButtonText: 'Yes, unpublish it!',
        reverseButtons: true,
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            method: 'PUT',
            url: `/admin/community-profile/edit/update-status/${id}`,
            data: { isPublished: false },
          }).done((res) => {
            Swal.fire({
              icon: 'success',
              customClass: 'sweetalert-fontsize',
              title: 'Unpublish successfully',
            }).then(() => location.reload());
          }).fail((res) => {
            Swal.fire({
              icon: 'error',
              customClass: 'sweetalert-fontsize',
              title: 'Unpublish failed',
              html: res.responseJSON.message,
            }).then(() => location.reload());
          })
        }
        if (!result.isConfirmed) {
          if (!document.getElementById(id).checked) {
            return document.getElementById(id).checked = true
          }
        }
      })
    }
  }
</script>
<script>
  $(function () {
    $("#sortable tbody").sortable({
      cursor: "move",
      placeholder: "sortable-placeholder",
      helper: function (e, tr) {
        var dragItemChild = tr.children();
        var dragItem = tr.clone();
        dragItem.children().each(function (index) {
          // Set helper cell sizes to match the original sizes
          $(this).width(dragItemChild.eq(index).width());
        });
        document.getElementById('show-botton-save').classList.remove('hidden')
        $('.save-btn').removeClass('hidden');
        return dragItem;
      }
    }).disableSelection();
  });
  function handleSubmit() {
    Swal.fire({
      title: 'Are you sure to save it?',
      icon: 'warning',
      customClass: 'sweetalert-fontsize',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      cancelButtonText: 'No, cancel!',
      confirmButtonText: 'Confirm',
      reverseButtons: true,
    }).then((result) => {
      if (result.isConfirmed) {
        var profileType = document.getElementsByClassName('getProfileType')[0].innerHTML
        var list = document.getElementsByClassName('drag-child')
        var listId = Object.values(list).splice(0, Object.keys(list).length).map(e => Number(e.id))
        $.ajax({
          method: 'PUT',
          url: `/admin/community-profile/edit/update-orders/${profileType}`,
          data: { orders: listId }
        })
          .done((msg) => {
            Swal.fire({
              icon: 'success',
              customClass: 'sweetalert-fontsize',
              title: 'Update order item succeed',
            }).then(() => location.reload());
          })
          .fail((msg) => {
            Swal.fire({
              icon: 'error',
              customClass: 'sweetalert-fontsize',
              title: 'Update order item failed',
            }).then(() => location.reload());
          });
      } else {
        location.reload()
      }
    })
  }
  function handleDelete(id) {
    Swal.fire({
      title: 'Are you sure to delete it?',
      icon: 'warning',
      customClass: 'sweetalert-fontsize',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      cancelButtonText: 'No, cancel!',
      confirmButtonText: 'Yes, delete it!',
      reverseButtons: true,
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          method: 'DELETE',
          url: `/admin/community-profile/delete/${id}`,
        })
          .done((msg) => {
            Swal.fire({
              icon: 'success',
              customClass: 'sweetalert-fontsize',
              title: 'Delete item succeed',
            }).then(() => location.reload());
          })
          .fail((msg) => {
            Swal.fire({
              icon: 'error',
              customClass: 'sweetalert-fontsize',
              title: 'Delete item failed',
            }).then(() => location.reload());
          });
      } else {
        location.reload()
      }
    })
  }
</script>