{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="col-lg-12">
        <div class="col-lg-11">
            <h2>List of quizzes</h2>
        </div>
        <div class="col-lg-1"><a href="/admin/community-quiz/new"><button
                    class="btn btn-default button-custom"><b>Create</b></button></a></div>
    </div>
    <div class="col-lg-12">
        <div class="divTable greyGridTable">
            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead cell0"></div>
                    <div class="divTableHead">Community <i class="fa fa-angle-down fa-lg"></i></div>
                    <div class="divTableHead quiz-title">Quiz Title</div>
                    <div class="divTableHead">Quiz starts on <div class="tooltip-hover"><img id="icon"
                                src="/images/icon/icons-question.png">
                            <span class="tooltip-hover-text">‘Quiz starts on’ date is the date that the quiz will be
                                published to the app. Associated brand profile has to be already published to the
                                app.</span>
                        </div>
                    </div>

                    <div class="divTableHead">Status <i class="fa fa-angle-down fa-lg"></i></div>
                    <div class="divTableHead cell5"></div>
                </div>
            </div>
            {{#each results}}
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell cell0"></div>
                    <div class="divTableCell">{{this.profileName}}</div>
                    <div class="divTableCell"><a href="/admin/community-quiz/update/{{this._id}}">{{this.title}}</a>
                    </div>
                    <div class="divTableCell">{{this.quizStartOn}}</div>
                    <div class="divTableCell">{{this.statusOfQuiz}}</div>
                    <div class="divTableCell cell5"><i id="showMoreMenu"
                            class="fa fa-ellipsis-v fa-lg showMoreOption"></i>
                        <ul class="dropdown">
                            {{#ifCond this.statusOfQuiz "==" "Active"}}
                            <li class="card-active" onclick="editQuiz('{{this._id}}')">Edit</li>
                            {{/ifCond}}
                            {{#ifCond this.statusOfQuiz "==" "Incoming"}}
                            <li class="card-active" onclick="editQuiz('{{this._id}}')">Edit</li>
                            {{/ifCond}}
                            {{#ifCond this.statusOfQuiz "!=" "Draft"}}
                            <li class="card-active" onclick="exportCSV('{{this._id}}')">Export CSV</li>
                            {{/ifCond}}
                            {{#ifCond this.statusOfQuiz "==" "Draft"}}
                            <li class="card-active" onclick="editQuiz('{{this._id}}')">Edit</li>
                            <li class="card-active" onclick="deleteQuiz('{{this._id}}')">Delete</li>
                            {{/ifCond}}
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<style>
    div.greyGridTable {
        border: 2px solid #FFFFFF;
        width: 100%;
        border-collapse: collapse;
    }

    .divTable.greyGridTable .divTableCell,
    .divTable.greyGridTable .divTableHead {
        position: relative;
    }

    .quiz-title {
        width: 250px;
    }

    .divTable.greyGridTable .divTableBody .divTableCell {
        font-size: 15px;
    }
    .divTable.greyGridTable .divTableHeading {
        background: #FFFFFF;
        border-bottom: 2px solid #CBCBCB;
    }

    .divTable.greyGridTable .divTableHeading .divTableHead {
        font-size: 17px;
        font-weight: bold;
        color: #333333;
    }

    .greyGridTable .tableFootStyle {
        font-size: 16px;
    }

    /* DivTable.com */
    .divTable {
        display: table;
    }

    .divTableRow {
        display: table-row;
    }

    .divTableHeading {
        display: table-header-group;
    }

    .divTableCell,
    .divTableHead {
        display: table-cell;
    }

    .divTableHeading {
        display: table-header-group;
    }

    .divTableFoot {
        display: table-footer-group;
    }

    .divTableBody {
        display: table-row-group;
    }

    .cell5 {
        position: relative;
        width: 10%;
        text-align: center;
    }

    .cell0 {
        width: 5%;
    }

    .divTableCell {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .divTableHead {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .divTableBody i {
        opacity: 0.5;
    }

    .divTable.greyGridTable i {
        cursor: pointer;
    }

    .showMoreMenu {
        position: relative;
    }

    .dropdown {
        display: none;
        background-color: #FFFFFF;
        position: absolute;
        list-style: none;
        padding: 0;
        text-align: start;
        right: 46px;
        width: 100%;
        top: 46px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown li {
        border: 1px solid #DCDCDC;
        padding: 8px 4px;
    }

    .dropdown li:hover {
        background-color: #DCDCDC;
    }

    .button-custom {
        margin-top: 20px;
        padding: 6px 20px;
        margin-left: -20px;

    }

    .button-custom a {
        color: black;
    }

    .divTableCell a {
        text-decoration: underline;
    }

    .swal2-html-container {
        text-align: center;
    }

    /* tooltip-hover- text */
    .tooltip-hover {
        display: contents;
    }

    .tooltip-hover .tooltip-hover-text {
        visibility: hidden;
        width: 300px;
        text-align: start;
        font-weight: 100;
        padding: 10px 15px;
        border: 1px solid #dedada;
        background-color: white;
        left: -7.5%;
        top: 50px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        /* Position the tooltip-hover- text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    .tooltip-hover .tooltip-hover-text::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent rgb(255, 255, 255) transparent;
    }

    .card-not-active {
        cursor: default;
    }

    .card-active {
        cursor: pointer;
    }


    /* Show the tooltip-hover- text when you mouse over the tooltip-hover- container */
    .tooltip-hover:hover .tooltip-hover-text {
        visibility: visible;
    }

    #icon {
        width: 18px;
        height: 18px;
        margin-bottom: 4px;
    }
</style>

<script>
    $('.showMoreOption').click(function () {
        var index = $('.showMoreOption').index(this)
        var menuDrop = $('.divTableCell.cell5')[index].getElementsByClassName('dropdown')[0]
        Object.values(document.getElementsByClassName('divTableCell cell5')).forEach((e, o) => {
            let i = $('.divTableCell.cell5')[o].getElementsByClassName('dropdown')[0].style.display
            if (i === 'block' && o !== index) {
                $('.divTableCell.cell5')[o].getElementsByClassName('dropdown')[0].style.display = 'none'
            }
        })
        if (menuDrop.style.display === 'block') {
            return menuDrop.style.display = 'none'
        } else {
            return menuDrop.style.display = 'block'
        }
    })

    $(document).click(function (e) {
        if ($(".cell5").has(e.target).length === 0) {
            $('.dropdown').hide();
        }
    })

    function deleteQuiz(id) {
        Swal.fire({
            title: 'Delete Quiz?',
            text: "Once the quiz is deleted, the questions and data collected will be deleted.",
            icon: 'warning',
            customClass: 'sweetalert-fontsize',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'No, cancel!',
            confirmButtonText: 'Yes, delete it!',
            reverseButtons: true,
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    method: 'DELETE',
                    url: `/admin/community-quiz/delete/${id}`,
                })
                    .done((msg) => {
                        Swal.fire({
                            icon: 'success',
                            customClass: 'sweetalert-fontsize',
                            title: 'Delete quiz succeed',
                        }).then(() => location.reload());
                    })
                    .fail((msg) => {
                        Swal.fire({
                            icon: 'error',
                            customClass: 'sweetalert-fontsize',
                            title: 'Delete quiz failed',
                        }).then(() => location.reload());
                    });
            } else {
                location.reload()
            }
        })
    }
    function exportCSV(id) {
        location.href = `/admin/community-quiz/export/${id}`
        return false
    }
      function editQuiz(id) {
        location.href = `/admin/community-quiz/update/${id}`;
    }
</script>