{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="row poll-page">
        <div class="col-md-12">
            <h2 class="form-title">{{formTitle}}</h2>
            {{#if result}}
            <form method="post" id="community-poll-form" action="/admin/community-poll/update/{{result._id}}"
                data-toggle="validator" {{else}} <form method="post" id="community-poll-form"
                action="/admin/community-poll/insert" data-toggle="validator" {{/if}} enctype="multipart/form-data">
                <div class="form-group">
                    <label class="label-poll">Community</label>
                    <input type="hidden" class="form-control" name="profileName">
                    {{#if profileStatus}}
                    <input type="hidden" id="profileStatus" value="{{profileStatus}}">
                    {{/if}}
                    <select id="profileName" class="form-control poll" name="profileId" onchange="getProfileName()">
                        {{#if getProfile}}
                        <option value="{{getProfile._id}}" {{selectState getProfile._id getProfile.profileName}}>
                            {{getProfile.profileName}}</option>
                        {{else}}
                        <option value="">---</option>
                        {{/if}}
                        {{#each profiles}}
                        <option value="{{this._id}}" status="{{this.isPublished}}" {{selectState this._id
                            @root.profileId}}>{{this.profileName}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <input type="hidden" id="getStatusOfPoll" name="getStatusOfPoll" value="{{isDisableForm}}"></input>
                <div class="form-group">
                    <label class="label-poll">Question</label>
                    <textarea type="text" class="form-control poll" id="poll-question" name="question" required
                        maxlength="90">{{result.question}}</textarea>
                </div>
                <div class="form-group">
                    <label class="label-poll">Options</label>
                </div>

                <div class="label-option">
                    1.
                    <input type="text" class="form-control poll-option" name="option1"
                        value="{{result.options.0.name}}">
                </div>
                <div class="label-option">
                    2.
                    <input type="text" class="form-control poll-option" name="option2"
                        value="{{result.options.1.name}}">
                </div>
                <div class="label-option">
                    3.
                    <input type="text" class="form-control poll-option" name="option3"
                        value="{{result.options.2.name}}">
                </div>
                <div class="label-option">
                    4.
                    <input type="text" class="form-control poll-option" name="option4"
                        value="{{result.options.3.name}}">
                </div>

                <div class="form-group">
                    <div class="label-option">
                        <label>Poll starts on</label>
                        <div class="tooltip-hover"><img class="icons-question" src="/images/icon/icons-question.png">
                            <span class="tooltip-hover-text starts">‘Poll starts on’ date is the date that the poll will
                                be
                                published to the app. Associated brand profile has
                                to be already published to the app. </span>
                        </div>
                    </div>
                    {{#if result.pollStartOn}}
                    <input type="datetime-local" class="form-control poll" id="pollStartOn" name="pollStartOn"
                        onchange="changePollStartOn()" value="{{result.pollStartOn}}">
                    {{else}}
                    <input type="datetime-local" class="form-control poll" id="pollStartOn" name="pollStartOn"
                        onchange="changePollStartOn()">
                    {{/if}}
                </div>

                <div class="form-group">
                    <div class="label-option">
                        <label>Poll expires on</label>
                        <div class="tooltip-hover"><img class="icons-question" src="/images/icon/icons-question.png">
                            <span class="tooltip-hover-text expires">‘Poll expires on’ date is the date that users will
                                no
                                longer
                                be able to participate in the poll and will see the poll as Expired. </span>
                        </div>
                    </div>
                    {{#if result.pollExpiresOn}}
                    <input type="datetime-local" class="form-control poll" id="pollExpiresOn" name="pollExpiresOn"
                        value="{{result.pollExpiresOn}}" onchange="changePollExpiresOn()">
                    {{else}}
                    <input type="datetime-local" class="form-control poll" id="pollExpiresOn" name="pollExpiresOn"
                        onchange="changePollExpiresOn()">
                    {{/if}}
                </div>

                <div class="upload-btn-wrapper">
                    <label class="label-poll">Banner image</label>
                    <button type="button" class="btn-upload">Upload image</button>
                    <input type="hidden" id="checkBannerImage" value="{{result.bannerImage}}">
                    <input type="file" class="custom-btn-upload" id="bannerImage" name="bannerImage"
                        onchange="PreviewImage('bannerImage', '{{result.bannerImage}}');" />
                    {{#if result.bannerImage.length}}
                    <img id="bannerImageUploadPreview"
                        style="margin-top: 20px; width: 100px; height: 100px; object-fit: cover; margin-left: 30px;"
                        src="{{result.bannerImage}}" />
                    {{/if}}
                </div>

                <div class="form-group">
                    <div class="statusBreakDown">
                        <input type="checkbox" id="statusBreakDownId" name="statusBreakDown" value="true" {{
                            checkedState result.statusBreakDown }}></input>
                        <span class="b2b-checkbox">Enable users to view response breakdown</span>
                    </div>
                </div>

                <div class="col-lg-1"> </div>
                <div class="col-lg-3 manage-save-btn">
                    {{#if showSaveDraft}}
                    <div id="wrap-save-btn"><button id="save-btn" type="submit" name="isDraft" value="true"
                            class="btn btn-default button-custom" disabled><b>Save Draft</b>
                        </button></div>
                    {{/if}}
                    {{#if showUnpublish}}
                    <div id="wrap-unpublish-btn"><button id="unpublish-btn" type="button"
                            class="btn btn-default button-custom"
                            onclick="updateStatusPoll('{{result._id}}')"><b>Unpublish</b>
                        </button></div>
                    {{/if}}
                    {{#if showPublish}}
                    <div id="wrap-publish-btn"><button id="publish-btn" type="submit"
                            class="btn btn-warning button-custom" disabled><b>Publish</b></button></div>
                    {{/if}}
                    {{#if showExportCSV}}
                    <div id="wrap-export-btn"><button id="export-btn" type="submit"
                            class="btn btn-warning button-export-custom" onclick="return exportCSV('{{result._id}}')"><b>Export CSV</b></button></div>
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .poll-page {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .form-control.poll {
        width: 44%;
        height: 44px;
    }

    .poll-option {
        width: 41%;
        height: 44px;
        font-weight: 500;
    }

    .label-poll {
        display: block;
    }

    .label-option {
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    .label-option,
    .label-poll {
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 16px;
    }

    .poll-page .form-control,
    .label-poll,
    .form-title,
    .label-option {
        margin-left: 30px;
    }

    /* tooltip-hover- container */
    .tooltip-hover {
        position: relative;
        display: inline-block;
        /* If you want dots under the hoverable text */
    }

    .icons-question {
        width: 18px;
        height: 18px;
        margin-bottom: 4px;
        margin-left: 2px;
    }

    .starts {
        left: -700%;
        top: 30px;
    }

    .expires {
        left: -700%;
        top: 30px;
    }

    /* tooltip-hover- text */
    .tooltip-hover .tooltip-hover-text {
        visibility: hidden;
        width: 300px;
        text-align: start;
        font-weight: 100;
        padding: 10px 15px;
        border: 1px solid #dedada;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        /* Position the tooltip-hover- text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    .tooltip-hover .tooltip-hover-text::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent rgb(255, 255, 255) transparent;
    }

    /* Show the tooltip-hover- text when you mouse over the tooltip-hover- container */
    .tooltip-hover:hover .tooltip-hover-text {
        visibility: visible;
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .custom-btn-upload {
        margin-top: 65px;
        width: 100%;
        height: 44%;
        cursor: pointer;
    }

    .btn-upload {
        display: block;
        border: 2px solid gray;
        color: gray;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: bold;
        margin-left: 30px;
    }

    .statusBreakDown {
        margin: 30px;
    }

    #save-btn {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .manage-save-btn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 74px;
    }

    .button-custom {
        padding: 6px 12px;
    }

    #publish-btn {
        background-color: #EEA209
    }

    .button-export-custom {
        background-color: #f59000;
        padding: 6px 12px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .custom-btn-upload {
        width: 0;
        height: 0;
    }
</style>
<script>
    function PreviewImage(id, url) {
        if (document.getElementById(id).files[0].size > 10485760) {
            Swal.fire({
                icon: 'error',
                customClass: 'sweetalert-fontsize',
                title: 'File too large',
                html: `File <b>${document.getElementById(id).files[0].name}</b> too large. Please try again.`,
                footer: 'Note: File must be less than or equal to 10mb',
            })
            return $(`#${id}`).val(null)
        }

        $(`#${id}UploadPreview`).remove();
        $(`#${id}Cancel`).remove();
        $(`#${id}`).after(`<img id="${id}UploadPreview" style="margin-top: 20px; width: 100px; height: 100px; object-fit: cover; margin-left: 30px;" /> <img id="${id}Cancel" class="menu-icon remove-upload" style ="margin-left: -13px;margin-top: -78px;width: 25px;" src="/images/icon/cancelUpload.png" onclick="removeImage('${id}', '${url}');">`);
        var imagePreview = new FileReader();
        imagePreview.readAsDataURL(document.getElementById(id).files[0]);
        imagePreview.onload = function (e) {
            document.getElementById(`${id}UploadPreview`).src = e.target.result;
        };
    };

    function removeImage(id, url) {
        $(`#${id}UploadPreview`).remove()
        $(`#${id}Cancel`).remove();
        $(`#${id}`).val(null)
        if (url) {
            $(`#${id}`).after(`<img id="bannerImageUploadPreview"
                        style="margin-top: 20px; width: 100px; height: 100px; object-fit: cover; margin-left: 30px;"
                        src="${url}" />`
            );
        }
    }

    $(document).ready(function () {
        getProfileName();
        function checkDraft() {
            let valid = true;
            if (!$('#poll-question').val().length) {
                valid = false
            }
            return valid
        }

        function validateForm() {
            let valid = true;
            let profileStatis = document.getElementById('profileStatus')

            $('.form-control').each(function () {
                if ($(this).val() === '') {
                    valid = false;
                }
            });

            if ($('#profileStatus').val() === 'false') {
                valid = false;
            }

            if (!$('#bannerImageUploadPreview')[0]) {
                valid = false;
            }

            if (valid && !document.getElementsByName('canPublish')[0]) {
                $("<input />").attr("type", "hidden")
                    .attr("name", "canPublish")
                    .attr("value", "true")
                    .appendTo("#community-poll-form");
            }

            return valid;
        }

        function checkSubmit() {
            if (validateForm()) {
                $("#publish-btn").removeAttr("disabled");
                $("#publish-btn").css("background-color", "")
            } else {
                $("#publish-btn").attr("disabled", true);
                $("#publish-btn").css("background-color", "#C8C9C8")
                $("#publish-btn").css("color", "#333")
            }
            if (checkDraft()) {
                $("#save-btn").removeAttr("disabled");
                $("#save-btn").css("background-color", "")
            } else {
                $("#save-btn").attr("disabled", true);
            }
        }

        $("#community-poll-form").mousemove(function () {
            checkSubmit();
        });
        checkSubmit();
    });
    //check dateEnd gte dateStart
    function changePollStartOn() {
        var from = $('#pollStartOn').val();
        var to = $('#pollExpiresOn').val();
        if (to != "") {
            if (from > to) {
                alert("The expiration date must be greater than or equal to the start date");
                $("#pollStartOn").val("");
            }
        }
    }
    function changePollExpiresOn() {
        var from = $('#pollStartOn').val();
        var to = $('#pollExpiresOn').val();
        if (from > to) {
            alert("The expiration date must be greater than or equal to the start date");
            $("#pollExpiresOn").val("");
        }
    }
    $('.btn-upload').on('click', function () {
        $('#bannerImage').trigger('click');
    });

    function getProfileName() {
        const profileName = $('select option').filter(':selected').text();
        if ($('select option').filter(':selected')[0].attributes[1]) {
            const profileStatus = $('select option').filter(':selected')[0].attributes[1].value
            if (!$('#profileStatus').val()) {
                $("<input />").attr("type", "hidden")
                    .attr("name", "profileStatus")
                    .attr("value", profileStatus)
                    .attr("id", "profileStatus")
                    .appendTo("#community-poll-form");
            } else {
                $('#profileStatus').val(profileStatus)
            }
        }
        $("input[name='profileName']").val(profileName);
    }

    $('#save-btn').on('click', function () {
        $("<input />").attr("type", "hidden")
            .attr("name", "isDraft")
            .attr("value", "true")
            .appendTo("#community-poll-form");
        $("#save-btn").attr("disabled", true);
        $('form#community-poll-form').submit()
        return false
    })

    $('#publish-btn').on('click', function () {
        $("#publish-btn").attr("disabled", true);
        $("<input />").attr("type", "hidden")
            .attr("name", "isDraft")
            .attr("value", "false")
            .appendTo("#community-poll-form");
        $("<input />").attr("type", "hidden")
            .attr("name", "isPublished")
            .attr("value", "true")
            .appendTo("#community-poll-form");
        $('form#community-poll-form').submit()
        return false
    })

    function updateStatusPoll(id) {
        $.ajax({
            method: 'PUT',
            url: `/admin/community-poll/update-status/${id}`,
        }).done((res) => {
            location.href = '/admin/community-profile/list-polls';
        }).fail((res) => {
            location.href = `/admin/community-profile/list-polls`;
        })
        return false
    }

    if ($('#getStatusOfPoll').val() === 'true') {
        $("#community-poll-form :input").prop("disabled", true);
        $('#unpublish-btn').attr('disabled', false)
    }

    $('#export-btn').attr("disabled", false)

    function exportCSV(id) {
        location.href = `/admin/community-poll/export/${id}`
        return false
    }

</script>