{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-md-8">
            <h2>Create / Edit Community Profile</h2>
            <form method="post" id="edit_form" action="{{actions.endpoint}}" data-toggle="validator"
                enctype="multipart/form-data">
                <div class="form-group">
                    <label>Profile Name</label>
                    <input type="text" class="form-control" id="profileName" name="profileName"
                        value="{{result.profileName}}" required>
                </div>
                <div class="form-group">
                    <label>Profile Type</label>
                    <select class="form-control" id="profileType" name="profileType" required>
                        <option value="Brand" {{selectState result.profileType "Brand" }}>Brand</option>
                        <option value="Artist" {{selectState result.profileType "Artist" }}>Artist</option>
                        <option value="Collector" {{selectState result.profileType "Collector" }}>Collector</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Card Image</label>
                    <div class="tooltip-hover"><img id="icon" src="/images/icon/icons-question.png">
                        <span class="tooltip-hover-text">What user sees on Explore tab > Community</span>
                    </div>

                    <input type="file" id="cardImage" class="form-control file-input" name="cardImage" accept="image/*"
                        onchange="PreviewImage('cardImage');">
                    {{#if result.cardImage.length}}
                    <img id="cardImageUploadPreview"
                        style="margin-top: 20px;width: 100px; height: 100px; object-fit: cover;"
                        src="{{result.cardImage}}" />
                    {{/if}}
                </div>
                <div class="form-group">
                    <label>Logo Image</label>
                    <div class="tooltip-hover"><img id="icon" src="/images/icon/icons-question.png">
                        <span class="tooltip-hover-text">What user sees on individual Community Page</span>
                    </div>

                    <input type="file" id="logoImage" class="form-control file-input" name="logoImage" accept="image/*"
                        onchange="PreviewImage('logoImage');">
                    {{#if result.logoImage.length}}
                    <img id="logoImageUploadPreview"
                        style="margin-top: 20px;width: 100px; height: 100px; object-fit: cover;"
                        src="{{result.logoImage}}" />
                    {{/if}}
                </div>
                <div class="form-group">
                    <label>Banner Image</label>
                    <div class="tooltip-hover"><img id="icon" src="/images/icon/icons-question.png">
                        <span class="tooltip-hover-text">What user sees on individual Community Page</span>
                    </div>

                    <input type="file" id="bannerImage" class="form-control file-input" name="bannerImage"
                        accept="image/*" onchange="PreviewImage('bannerImage');">
                    {{#if result.bannerImage.length}}
                    <img id="bannerImageUploadPreview"
                        style="margin-top: 20px;width: 100px; height: 100px; object-fit: cover;"
                        src="{{result.bannerImage}}" />
                    {{/if}}
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" style="background-color: grey" class="btn btn-danger" id="publish"
                            name="isPublish" value="true">Publish to App</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pull-right" style="margin-right:5px;">
                        {{#if result.isPublished}}
                        {{#if canChangeToDraft}}
                        <button id="public-to-draft" type="submit" class="btn btn-success" name="isPublish"
                            value="false">Save as
                            draft</button>
                        {{else}}
                        <button id="cannot-save-as-draft" type="submit" class="btn btn-success" name="isPublish"
                            value="false">Save as
                            draft</button>
                        {{/if}}
                        {{else}}
                        <button id="save-as-draft" type="submit" class="btn btn-success" name="isPublish"
                            value="false">Save as
                            draft</button>
                        {{/if}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function PreviewImage(id) {
        if (document.getElementById(id).files[0].size > 10485760) {
            Swal.fire({
                icon: 'error',
                customClass: 'sweetalert-fontsize',
                title: 'File too large',
                html: `File <b>${document.getElementById(id).files[0].name}</b> too large. Please try again.`,
                footer: 'Note: File must be less than or equal to 10mb',
            })
            return $(`#${id}`).val(null)
        }

        $(`#${id}UploadPreview`).remove();
        $(`#${id}Cancel`).remove();
        $(`#${id}`).after(`<img id="${id}UploadPreview" style="margin-top: 20px; width: 100px; height: 100px; object-fit: cover;" /> <img id="${id}Cancel" class="menu-icon remove-upload" src="/images/icon/cancelUpload.png" onclick="removeImage('${id}');">`);
        var imagePreview = new FileReader();
        imagePreview.readAsDataURL(document.getElementById(id).files[0]);
        imagePreview.onload = function (e) {
            document.getElementById(`${id}UploadPreview`).src = e.target.result;
        };
    };
    function removeImage(id) {
        $(`#${id}UploadPreview`).remove()
        $(`#${id}Cancel`).remove();
        $(`#${id}`).val(null)
    }


    $(document).ready(function () {
        function validateForm() {
            var valid = true;
            $('.form-control').each(function () {
                if ($(this).val() === '') {
                    valid = false;
                    return false;
                }
            });
            if ($('#profileType').val().length && $('#profileName').val().length && $('#cardImageUploadPreview')[0] && $('#bannerImageUploadPreview')[0] && $('#logoImageUploadPreview')[0]) {
                valid = true
            }
            return valid
        }

        function checkSubmit() {
            if (validateForm()) {
                $("#publish").removeAttr("disabled");
                $("#publish").css("background-color", "")

            } else {
                $("#publish").attr("disabled", true);
                $("#publish").css("background-color", "grey")

            }
        }

        $(".form-group").hover(function () {
            checkSubmit();
        });
        checkSubmit();
    });

    $('#publish').on('click', function () {
        $('#publish').on('click', function () {
            $("#publish").attr("disabled", true);
        })
    })

    $('#save-as-draft').on('click', function () {
        $('#save-as-draft').on('click', function () {
            $("#save-as-draft").attr("disabled", true);
        })
    })

    $('#public-to-draft').on('click', function () {
        $('#public-to-draft').attr('disabled', true)
        return Swal.fire({
            title: 'Are you sure save this as draft?',
            icon: 'warning',
            customClass: 'sweetalert-fontsize',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'No, cancel!',
            confirmButtonText: 'Yes, save it!',
            reverseButtons: true,
        }).then((result) => {
            if (result.isConfirmed) {
                $('form#edit_form').submit()
            }
            if (!result.isConfirmed) {
                $('#public-to-draft').attr('disabled', false)
            }
        })
    })

    $('#cannot-save-as-draft').on('click', function (e) {
        e.preventDefault();
        return Swal.fire({
            icon: 'error',
            customClass: 'sweetalert-fontsize',
            title: 'Unpublish failed',
            html: 'Brand Profile cannot be unpublished. It is linked to poll & quiz data',
        })
    })
</script>
<style>
    .form-group {
        position: relative;
    }

    .remove-upload {
        width: 24px;
        position: absolute;
        left: 88px;
        top: 70px;
    }

    .remove-upload:hover {
        cursor: pointer;
    }

    /* tooltip-hover- container */
    .tooltip-hover {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        /* If you want dots under the hoverable text */
    }

    /* tooltip-hover- text */
    .tooltip-hover .tooltip-hover-text {
        visibility: hidden;
        width: 300px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        /* Position the tooltip-hover- text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    /* Show the tooltip-hover- text when you mouse over the tooltip-hover- container */
    .tooltip-hover:hover .tooltip-hover-text {
        visibility: visible;
    }

    .row {
        margin-bottom: 20px;
    }

    #icon {
        width: 18px;
        height: 18px;
        margin-bottom: 10px;
    }
</style>