{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12" id="quiz-component">
    <div class="row">
        <div class="col-md-12">
            {{#if result}}<h2>Update Quiz</h2>{{else}}<h2>Create Quiz</h2>{{/if}}
            <form method="post" id="edit_form" {{#if isUpdateForm}} action="/admin/community-quiz/update/{{result._id}}"
                {{else}} action="/admin/community-profile/create-quiz" {{/if}} data-toggle="validator"
                enctype="multipart/form-data">
                <div class="form-group" style="margin-top:50px;">
                    <label class="label-quiz">Community</label>
                    {{#if isProfilePublic}}
                    <input type="hidden" id="isProfilePublic" class="form-control" name="isProfilePublic"
                        value="{{isProfilePublic}}" />
                    {{else}}
                    <input type="hidden" id="isProfilePublic" class="form-control" name="isProfilePublic"
                        value="false" />
                    {{/if}}
                    <input type="hidden" id="profileName" class="form-control" name="profileName" {{#if result}}
                        value="{{result.profileName}}" {{else}}{{/if}} />
                    <select id="profileId" class="form-control quiz" name="profileId" value="{{result.profileId}}">
                    </select>
                </div>
                <input type="hidden" id="edit-question" name="checkEditQuestion" value="{{checkEditQuestion}}">
                <div class="form-group">
                    <label class="label-quiz">Quiz Title</label>
                    <input type="text" id="quiz-title" class="form-control quiz" name="title"
                        value="{{result.title}}" />
                </div>
                <div class="form-group">
                    <label class="label-quiz">Users with these SKUs in their vault can respond to this quiz:</label>
                    <select id="availableSkus" class="form-control quiz" name="availableSkus" multiple="multiple">
                        {{#if result.availableSkus}}
                        {{#each result.availableSkus}}
                        <option selected="selected">{{this}}</option>
                        {{/each }}
                        {{/if }}
                    </select>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="statusBreakDownId" name="statusBreakDown" value="true" {{checkedState
                        result.statusBreakDown}} style="margin-left: 20px;"></input>
                    <span class="b2b-checkbox">Enable users to view response breakdown</span>
                </div>
                <div class="form-group">
                    <label style="margin-left: 20px; margin-right: 30px;" class="label-quiz">Quiz starts on <div
                            class="tooltip-hover"><img id="icon" src="/images/icon/icons-question.png">
                            <span class="tooltip-hover-text starts">‘Quiz starts on’ date is the date that the quiz will
                                be published to the app. Associated brand profile has to be already published to the
                                app.</span>
                        </div></label>
                    {{#if result.quizStartOn}}
                    <input type="datetime-local" id="quizStartOn" name="quizStartOn" onchange="changeQuizStartOn()"
                        value="{{result.quizStartOn}}">
                    {{else}}
                    <input type="datetime-local" id="quizStartOn" name="quizStartOn" onchange="changeQuizStartOn()">
                    {{/if}}
                </div>
                <div class="form-group">
                    <label style="margin-left: 20px;margin-right: 20px;" class="label-quiz">Quiz expires on <div
                            class="tooltip-hover"><img id="icon" src="/images/icon/icons-question.png">
                            <span class="tooltip-hover-text expires">‘Quiz expires on’ date is the date that users will
                                no longer be able to participate in the quiz and will see the quiz as Expired.</span>
                        </div></label>
                    {{#if result.quizExpiresOn}}
                    <input type="datetime-local" id="quizExpiresOn" name="quizExpiresOn"
                        onchange="changeQuizExpiresOn()" value="{{result.quizExpiresOn}}">
                    {{else}}
                    <input type="datetime-local" id="quizExpiresOn" name="quizExpiresOn"
                        onchange="changeQuizExpiresOn()">
                    {{/if}}
                </div>
                <div class="upload-btn-wrapper">
                    <label class="label-quiz">Banner image</label>
                    <br>
                    <button type="button" class="btn-upload">Upload image</button>
                    <input type="hidden" id="checkBannerImage" value="{{result.bannerImage}}">
                    <input type="file" class="custom-btn-upload" id="bannerImage" name="bannerImage"
                        onchange="PreviewImage('bannerImage', '{{result.bannerImage}}');" />
                    {{#if result.bannerImage.length}}
                    <img id="bannerImageUploadPreview"
                        style="margin-top: 20px;width: 100px; height: 100px; object-fit: cover;"
                        src="{{result.bannerImage}}" />
                    {{/if}}
                </div>
                <hr>
                <div class="form-group">
                    <label class="label-quiz label-custom">Questions</label>
                    <button type="button" class="btn btn-default add-question" onclick="addQuestion()">Add</button>
                </div>
                <div id="checkOption">
                    <div class="tag-add-quiz 0"></div>
                    {{#if questions}}
                    {{#each questions}}
                    <div class="col-lg-12 question-model {{this.questionNumber}}">
                        <div class="form-group has-danger">
                            <div class="col-lg-12"></div>
                            <label class="label-quiz quiz-number">#{{this.questionNumber}}</label>
                            <input type="text" class="form-control quiz question-name"
                                name="questions[{{@index}}][title-{{this.questionNumber}}]" value="{{this.question}}"><i
                                class="fa fa-trash quiz-delete" onclick="quizDelete({{this.questionNumber}})"></i>
                        </div>
                        <table class="quizTable">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 29.328px;">Options</th>
                                    <th scope="col" style="width: 530.344px;"></th>
                                    <th scope="col" style="width: 157.344px; text-align: center;">Correct Answer</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <input type="hidden" class="quiz-id" name="questions[{{@index}}][_id]" value="{{this._id}}">
                                    <td class="label-question"><span class="answer">1.</span></td>
                                    <td><input type="text" class="form-control quiz-answer"
                                name="questions[{{@index}}][options][option1]" value="{{this.options.0.name}}"></td>
                                    <td class="table-checkbox"><input type="radio" name="questions[{{@index}}][question-{{this.questionNumber}}]"
                                class="radio-item correct-answer" value="1" {{checkedState this.options.0.is_correct}}></td>
                                </tr>

                                <tr>
                                    <td class="label-question"><span class="answer">2.</span></td>
                                    <td><input type="text" class="form-control quiz-answer"
                                name="questions[{{@index}}][options][option2]" value="{{this.options.1.name}}"></td>
                                    <td class="table-checkbox"><input type="radio" name="questions[{{@index}}][question-{{this.questionNumber}}]"
                                class="radio-item correct-answer" value="2" {{checkedState this.options.1.is_correct}}></td>
                                </tr>

                                <tr>
                                    <td class="label-question"><span class="answer">3.</span></td>
                                    <td><input type="text" class="form-control quiz-answer"
                                name="questions[{{@index}}][options][option3]" value="{{this.options.2.name}}"></td>
                                    <td class="table-checkbox"><input type="radio" name="questions[{{@index}}][question-{{this.questionNumber}}]"
                                class="radio-item correct-answer" value="3" {{checkedState this.options.2.is_correct}}></td>
                                </tr>

                                <tr>
                                    <td class="label-question"><span class="answer">4.</span></td>
                                    <td><input type="text" class="form-control quiz-answer"
                                name="questions[{{@index}}][options][option4]" value="{{this.options.3.name}}"></td>
                                    <td class="table-checkbox"><input type="radio" name="questions[{{@index}}][question-{{this.questionNumber}}]"
                                class="radio-item correct-answer" value="4" {{checkedState this.options.3.is_correct}}></td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="tag-add-quiz {{this.questionNumber}}"></div>
                    {{/each}}
                    {{else}}
                    <div class="col-lg-12 question-model 1">
                        <div class="form-group has-danger">
                            <div class="col-lg-12"></div>
                            <label class="label-quiz quiz-number">#1</label>
                            <input type="text" class="form-control quiz question-name" name="questions[0][title-1]"
                                value="{{result.option1}}"><i class="fa fa-trash quiz-delete"
                                onclick="quizDelete(1)"></i>
                        </div>
                        <table class="quizTable">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 29.328px;">Options</th>
                                    <th scope="col" style="width: 530.344px;"></th>
                                    <th scope="col" style="width: 157.344px; text-align: center;">Correct Answer</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td class="label-question"><span class="answer">1.</span></td>
                                    <td><input type="text" class="form-control quiz-answer"
                                    name="questions[0][options][option1]" value=""></td>
                                    <td class="table-checkbox"><input type="radio" name="questions[0][question-1]" class="" value="1"></td>
                                </tr>

                                <tr>
                                    <td class="label-question"><span class="answer">2.</span></td>
                                    <td><input type="text" class="form-control quiz-answer"
                                        name="questions[0][options][option2]" value=""></td>
                                    <td class="table-checkbox"><input type="radio" name="questions[0][question-1]" class="" value="2"></td>
                                </tr>

                                <tr>
                                    <td class="label-question"><span class="answer">3.</span></td>
                                    <td><input type="text" class="form-control quiz-answer"
                                        name="questions[0][options][option3]" value=""></td>
                                    <td class="table-checkbox"><input type="radio" name="questions[0][question-1]" class="" value="3"></td>
                                </tr>

                                <tr>
                                    <td class="label-question"><span class="answer">4.</span></td>
                                    <td><input type="text" class="form-control quiz-answer"
                                        name="questions[0][options][option4]" value=""></td>
                                    <td class="table-checkbox"><input type="radio" name="questions[0][question-1]" class="" value="4"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="tag-add-quiz 1"></div>
                    {{/if}}
                </div>
        </div>
        <input type="hidden" id="getStatusOfQuiz" name="getStatusOfQuiz" value="{{isDisableForm}}"></input>
        <div class="col-lg-1"> </div>
        <div class="col-lg-3 manage-save-btn">
            {{#if showSaveDraft}}
            <div id="wrap-save-btn"><button id="save-btn" type="submit" name="isDraft" value="true"
                    class="btn btn-default button-custom" disabled><b>Save Draft</b>
                </button></div>
            {{/if}}
            {{#if showUnpublish}}
            <div id="wrap-unpublish-btn"><button id="unpublish-btn" type="button" class="btn btn-default button-custom"
                    onclick="updateStatusQuiz('{{result._id}}')"><b>Unpublish</b>
                </button></div>
            {{/if}}
            {{#if showPublish}}
            <div id="wrap-publish-btn"><button id="publish-btn" type="submit" name="isDraft" value="false"
                    class="btn btn-warning button-custom" disabled><b>Publish</b></button></div>
            {{/if}}
            {{#if showExportCSV}}
            <div id="wrap-export-btn"><button id="export-btn" type="submit" onclick="return exportCSV('{{result._id}}')" class="btn btn-warning button-export-custom"
                    disabled><b>Export CSV</b></button></div>
            {{/if}}
        </div>
        </form>
    </div>
</div>
</div>
<style>
    .quiz-answer{
        height: 44px;
    }
    .label-question {
        text-align: end;
    }
    .table-checkbox {
        text-align: center;
    }
    .quizTable {
        width: 75% !important;
    }
    .quizTable td {
        border: none !important;
        vertical-align: middle !important;
        padding: 8px;
    }
    .quizTable th {
        border: none !important;
    }

    .quizTable tr:hover {
        background-color: white !important;
    }


    #quiz-component {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
    }

    #save-btn {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .option {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .quiz-header {
        display: flex;
        justify-content: space-between;
        width: 60%;
    }

    .label-quiz {
        margin-bottom: 20px;
        margin-top: 20px;
        display: block;
    }

    .answer {
        display: inline-block;
    }

    .label-quiz.quiz-number {
        display: block;
    }

    .radio-item {
        height: 15px;
        width: 15px;
    }

    .form-control.quiz.question-name {
        display: inline-block;
        margin-right: 20px;
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .btn-upload {
        display: block;
        border: 2px solid gray;
        color: gray;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: bold;
    }

    .add-question {
        margin-left: 20px;
    }

    .manage-save-btn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 74px;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    hr {
        border-top: 2px solid #DCDCDC;
    }

    .form-control.quiz {
        width: 44%;
        height: 44px;
    }

    .select2-container--default .select2-selection--multiple {
        min-height: 44px;
    }

    .select2-selection.select2-selection--single {
        min-height: 44px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 38px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 38px;
    }

    .remove-upload:hover {
        cursor: pointer;
    }

    .button-custom {
        padding: 6px 12px;
    }

    .button-export-custom {
        background-color: #f59000;
        padding: 6px 12px;
        margin-top: 20px;
        margin-bottom: 20px;
    }



    .question-model {
        display: block;
        position: relative;
    }

    .quiz-delete {
        cursor: pointer;
    }

    #publish-btn {
        background-color: #EEA209
    }

    .label-custom {
        display: inline-block;
    }

    /* tooltip-hover- text */
    .tooltip-hover {
        display: contents;
    }

    .tooltip-hover .tooltip-hover-text {
        visibility: hidden;
        width: 300px;
        text-align: start;
        font-weight: 100;
        padding: 10px 15px;
        border: 1px solid #dedada;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        /* Position the tooltip-hover- text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    .starts {
        left: -3.5%;
        top: 33px;
    }

    .expires {
        left: -2.3%;
        top: 33px;
    }

    .tooltip-hover .tooltip-hover-text::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent rgb(255, 255, 255) transparent;
    }


    /* Show the tooltip-hover- text when you mouse over the tooltip-hover- container */
    .tooltip-hover:hover .tooltip-hover-text {
        visibility: visible;
    }

    #icon {
        width: 18px;
        height: 18px;
        margin-bottom: 4px;
    }

    .form-group .label-quiz {
        position: relative;
    }

    .custom-btn-upload {
        margin-top: 85px;
        width: 100%;
        height: 35%;
        cursor: pointer !important;
    }

    .select2-search__field {
        width: 26.75em !important;
    }
</style>
<script>
    if ($('#getStatusOfQuiz').val() === 'true') {
        $("#edit_form :input").prop("disabled", true);
        Object.values(document.getElementsByClassName('fa fa-trash quiz-delete')).forEach((e, i) => {
            e.remove()
        })
    }

    $('#profileId').select2({
        ajax: {
            url: '/admin/community-quiz/new/getProfileName',
            dataType: "json",
            type: "GET",
            cache: true,
            data: function (params) {
                return {
                    search: params.term
                }
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (item) {
                        return {
                            text: item.profileName,
                            id: item._id,
                            isDraft: item.isPublished
                        }
                    })
                };
            },
        }
    })

    $('#availableSkus').select2({
        tags: true,
        multiple: true,
        tokenSeparators: [",", " "],
        ajax: {
            url: '/admin/community-quiz/new/getSKUs',
            dataType: "json",
            type: "GET",
            data: function (params) {
                return {
                    search: params.term
                }
            },
            processResults: function (data2) {
                return {
                    results: $.map(data2, function (item) {
                        return {
                            text: item.productVariantSku,
                            id: item.productVariantSku
                        }
                    })
                };
            },
        },
    });

    function validateForm() {
        let valid = true;
        if (
            !$('.select2-selection')[0].innerText.length ||
            !$('#quiz-title').val().length ||
            {{!-- !$('.select2-selection__choice').length || --}}
            !$('#quizStartOn').val().length ||
            !$('#quizExpiresOn').val().length ||
            (!$('#bannerImage')[0].files.length && !$('#checkBannerImage').val().length)
        ) {
            valid = false
        }
        let listQuestion = Object.values(document.getElementsByClassName('question-name')).map(e => e.value)
        listQuestion.forEach((e) => {
            if (!e.length) {
                valid = false
                return valid
            }
        })
        for (let i = 0; i < listQuestion.length; i++) {
            let listAnswer = document.getElementsByClassName(`question-model ${i + 1}`)[0].getElementsByClassName('quiz-answer')
            let getCheckedAnswer = $(`input[name="questions[${i}][question-${i + 1}]"]:checked`).val();
            if (!getCheckedAnswer) {
                valid = false
                return valid
            }
            Object.values(listAnswer).map(e => {
                if (!e.value.length) {
                    valid = false
                    return valid
                }
            })
        }

        if ($('#isProfilePublic').val() === 'false') {
            valid = false
            return valid
        }

        if (!$('.question-model').length) {
            valid = false
            return valid
        }

        if (valid && !document.getElementsByName('canPublish')[0]) {
            $("<input />").attr("type", "hidden")
                .attr("name", "canPublish")
                .attr("value", "true")
                .appendTo("#edit_form");
        }

        return valid
    }

    $('#save-btn').on('click', function () {
        $("<input />").attr("type", "hidden")
            .attr("name", "isDraft")
            .attr("value", "true")
            .appendTo("#edit_form");
        $("#save-btn").attr("disabled", true);
        $('form#edit_form').submit()
    })
    $('#publish-btn').on('click', function () {
        $("<input />").attr("type", "hidden")
            .attr("name", "isDraft")
            .attr("value", "false")
            .appendTo("#edit_form");
        $("<input />").attr("type", "hidden")
            .attr("name", "ispublished")
            .attr("value", "true")
            .appendTo("#edit_form");
        $("#publish-btn").attr("disabled", true);
        $('form#edit_form').submit()
    })
    function addQuestion() {
        let numOfQuiz = document.getElementsByClassName('question-model').length
        let quizNum = numOfQuiz + 1
        $(`.tag-add-quiz.${numOfQuiz}`).after(`<div class="col-lg-12 question-model ${quizNum}">
                    <div class="form-group has-danger">
                        <div class="col-lg-12"></div>
                        <label class="label-quiz quiz-number">#${quizNum}</label>
                        <input type="text" class="form-control quiz question-name" name="questions[${quizNum - 1}][title-${quizNum}]"
                            value="" /><i class="fa fa-trash quiz-delete" onclick="quizDelete(${quizNum})"></i>
                    </div>
                    <table class="quizTable">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 29.328px;">Options</th>
                                <th scope="col" style="width: 530.344px;"></th>
                                <th scope="col" style="width: 157.344px; text-align: center;">Correct Answer</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td class="label-question"><span class="answer">1.</span></td>
                                <td><input type="text" class="form-control quiz-answer" name="questions[${quizNum - 1}][options][option1]" value="" /></td>
                                <td class="table-checkbox"><input type="radio" name="questions[${quizNum - 1}][question-${quizNum}]" class="radio-item correct-answer" value="1"></td>
                            </tr>

                            <tr>
                                <td class="label-question"><span class="answer">2.</span></td>
                                <td><input type="text" class="form-control quiz-answer" name="questions[${quizNum - 1}][options][option2]" value=""/></td>
                                <td class="table-checkbox"><input type="radio" name="questions[${quizNum - 1}][question-${quizNum}]" class="radio-item correct-answer" value="2"></td>
                            </tr>

                            <tr>
                                <td class="label-question"><span class="answer">3.</span></td>
                                <td><input type="text" class="form-control quiz-answer" name="questions[${quizNum - 1}][options][option3]" value=""/></td>
                                <td class="table-checkbox"><input type="radio" name="questions[${quizNum - 1}][question-${quizNum}]" class="radio-item correct-answer" value="3"></td>
                            </tr>

                            <tr>
                                <td class="label-question"><span class="answer">4.</span></td>
                                <td><input type="text" class="form-control quiz-answer" name="questions[${quizNum - 1}][options][option4]" value=""/></td>
                                <td class="table-checkbox"><input type="radio" name="questions[${quizNum - 1}][question-${quizNum}]" class="radio-item correct-answer" value="4"></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="tag-add-quiz ${quizNum}"></div>`)
    }

    function quizDelete(num) {
        $(`.question-model.${num}`).remove()
        $(`.tag-add-quiz.${num}`).remove()
        let x = document.getElementsByClassName('question-model')
        let y = document.getElementsByClassName('tag-add-quiz')
        let listItem = Object.values(x)
        let listTagAddQuiz = Object.values(y)
        listItem.forEach((e, i) => {
            //Change title text
            let getQuizDelete = Object.values(e.getElementsByClassName('quiz-delete'))
            getQuizDelete[0].setAttribute('onclick', `quizDelete(${i + 1})`)

            let newItem = i + 1
            //change class quiz-model
            e.classList.remove(e.classList[2])
            e.classList.add(newItem)

            //change question number
            let getRadioItem = Object.values(e.getElementsByClassName('radio-item'))
            getRadioItem.forEach((e2, i2) => {
                getRadioItem[i2].setAttribute('name', `questions[${i}][question-${newItem}]`)
            })

            //Change lable text
            let getLableText = Object.values(e.getElementsByClassName('quiz-number'))
            getLableText[0].innerText = `#${newItem}`

            //Change title text
            let getTitleText = Object.values(e.getElementsByClassName('question-name'))
            getTitleText[0].setAttribute('name', `questions[${i}][title-${newItem}]`)

            //Change option item
            let getOptionItem = Object.values(e.getElementsByClassName('quiz-answer'))
            getOptionItem.forEach((e2, i2) => {
                getOptionItem[i2].setAttribute('name', `questions[${i}][options][option${i2 + 1}]`)
            })

            //Change id
            let getIdItem = Object.values(e.getElementsByClassName('quiz-id'))
            if(getIdItem.length){
                getIdItem[0].setAttribute('name', `questions[${i}][_id]`)
            }
        })
        listTagAddQuiz.forEach((e, i) => {
            e.classList.remove(e.classList[1])
            e.classList.add(i)
        })
        return validateForm()
    }

    function checkDraft() {
        let valid = true;
        if (!$('#quiz-title').val().length) {
            valid = false
        }
        return valid
    }

    $('#select2-profileId-container')[0].innerText = $('#profileName').val()

    function checkSubmit() {
        if ($('#select2-profileId-container')[0].innerText.length) {
            $('#profileName').attr('value', $('#select2-profileId-container')[0].innerText)
        }


        if ($('#save-btn').attr('disabled')) {
            $('#wrap-save-btn').attr('title', 'Make sure you fill in the quiz title to save it as a draft!')
        }

        if ($('#publish-btn').attr('disabled')) {
            $('#wrap-publish-btn').attr('title', 'Make sure you fill all the form and profile is published to publish it!')
        }

        if (!$('#save-btn').attr('disabled')) {
            $('#wrap-save-btn').removeAttr('title')
        }

        if (!$('#publish-btn').attr('disabled')) {
            $('#wrap-publish-btn').removeAttr('title')
        }

        if (checkDraft()) {
            $("#save-btn").removeAttr("disabled");
            $("#save-btn").css("background-color", "")
        } else {
            $("#save-btn").attr("disabled", true);
        }
        if (validateForm()) {
            $("#publish-btn").removeAttr("disabled");
            $("#publish-btn").css("background-color", "")
        } else {
            $("#publish-btn").attr("disabled", true);
            $("#publish-btn").css("background-color", "#C8C9C8")
            $("#publish-btn").css("color", "#333")
        }
    }

    $("#edit_form").hover(function () {
        checkSubmit();
        checkDraft();
    });
    $("#checkOption").mousemove(function () {
        checkSubmit();
        checkDraft();
    });
    checkSubmit();

    function changeQuizStartOn() {
        var from = $('#quizStartOn').val();
        var to = $('#quizExpiresOn').val();
        if (to != "") {
            if (from > to) {
                alert("The expiration date must be greater than or equal to the start date");
                $("#quizStartOn").val("");
            }
        }
    }
    function changeQuizExpiresOn() {
        var from = $('#quizStartOn').val();
        var to = $('#quizExpiresOn').val();
        if (from > to) {
            alert("The expiration date must be greater than or equal to the start date");
            $("#quizExpiresOn").val("");
        }
    }

    function updateStatusQuiz(id) {
        $.ajax({
            method: 'PUT',
            url: `/admin/community-quiz/update-status/${id}`,
        }).done((res) => {
            location.href = '/admin/community-profile/list-quizs';
        }).fail((res) => {
            location.href = `/admin/community-profile/list-quizs`;
        })
    }

    function PreviewImage(id, url) {
        if (document.getElementById(id).files[0].size > 10485760) {
            Swal.fire({
                icon: 'error',
                customClass: 'sweetalert-fontsize',
                title: 'File too large',
                html: `File <b>${document.getElementById(id).files[0].name}</b> too large. Please try again.`,
                footer: 'Note: File must be less than or equal to 10mb',
            })
            return $(`#${id}`).val(null)
        }

        $(`#${id}UploadPreview`).remove();
        $(`#${id}Cancel`).remove();
        $(`#${id}`).after(`<img id="${id}UploadPreview" style="margin-top: 20px; width: 100px; height: 100px; object-fit: cover;" /> <img id="${id}Cancel" class="menu-icon remove-upload" src="/images/icon/cancelUpload.png" onclick="removeImage('${id}', '${url}');">`);
        var imagePreview = new FileReader();
        imagePreview.readAsDataURL(document.getElementById(id).files[0]);
        imagePreview.onload = function (e) {
            document.getElementById(`${id}UploadPreview`).src = e.target.result;
        };
    };

    function removeImage(id, url) {
        $(`#${id}UploadPreview`).remove()
        $(`#${id}Cancel`).remove();
        $(`#${id}`).val(null)
        if (url) {
            $(`#${id}`).after(`<img id="bannerImageUploadPreview"
                        style="margin-top: 20px;width: 100px; height: 100px; object-fit: cover;"
                        src="${url}" />`
            );
        }
    }

    $(".select2-search__field").attr("placeholder", "List product SKUs here");
    $('#edit_form').change(function () {
        $(".select2-search__field").attr("placeholder", "List product SKUs here");
        var d = $("#profileId").select2("data");
        if (d[0]) {
            $('#isProfilePublic').val(`${d[0].isDraft}`)
        }
    })

    $('#export-btn').attr("disabled", false)

    function exportCSV(id) {
        location.href = `/admin/community-quiz/export/${id}`
        return false
    }
    if($('#edit-question').val() === 'false'){
        $('.add-question').attr('disabled', true)
        $('.quiz-delete').remove()
        $('.question-name').attr('disabled', true)
        $('.quiz-answer').attr('disabled', true)
        $('.correct-answer').attr('disabled',true)
    }
</script>