<div class="col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4" style="padding-top: 100px" >
	<form class="form-signin"  method="post" role="form" data-toggle="validator">
		<input type="hidden" name="frm_referringUrl" value="{{referringUrl}}">
		<h2 class="form-signin-heading">Please sign in</h2>
		<div class="form-group">
			<input type="email" id="email" name="email" class="form-control" placeholder="email address" required autofocus>
		</div>
		<div class="form-group">
			<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
		</div>
        <div class="form-group">
            <input type="text" id="token" name="token" class="form-control" placeholder="Token" required>
        </div>
		<button class="btn btn-lg btn-primary btn-block" id="loginForm" type="submit">Sign in</button>
	</form>
</div>
