{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="col-lg-12 udid-request-container">
        <div class="col-lg-8 no-pad-left">
            <h3 class="nfc_page_title">UDID request for products with <br/> encrypted strings</h3>
            <input type="hidden" class="form-control" name="id" id="productSku" value="{{productSkus}}" readonly>
            <input type="hidden" class="form-control" name="id" id="productSkuAdded" value="{{dataAddedSku}}" readonly>
            <input type="hidden" class="form-control" name="id" id="enableSendEmailV2" value="{{isEnableSEndEmailV2}}" readonly>
            <br>
        </div>
        <div class="col-lg-4 pull-right no-pad-right udid-request-container ">

            <input type="text" class="form-control" name="attachedSku" id="attachedSku" placeholder="Search for Product SKU">
            <table class="table table-udid-request-result">
                <tbody class="tbody-udid-request" id="resultSearch">
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12 UIDRequestArea">
        <table class="table tableUUIDRequest">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">SKU</th>
                <th scope="col" class="text-center">Total Quantity</th>
                <th scope="col" class="text-center">To Send
<!--                    <i data-toggle="tooltip"-->
<!--                       data-placement="top"-->
<!--                       title="Encrypted Strings with no UDID"-->
<!--                       class="fa fa-info fa-icon tooltip-nfc"-->
<!--                       aria-hidden="true">-->
<!--                    </i>-->
                    <div class="letterCircle tooltip-nfc"
                         aria-hidden="true"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="Encrypted Strings with no UDID"
                         style="font-weight: bolder !important">
                        i
                    </div>
                </th>
                <th scope="col" class="text-center">Pending
                </th>
                <th scope="col" class="text-center">Completed
<!--                    <i data-toggle="tooltip"-->
<!--                       data-placement="top"-->
<!--                       title="UDID attached to encrypted strings"-->
<!--                       class="letterCircle tooltip-nfc"-->
<!--                       aria-hidden="true">-->
<!--                    </i>-->
                    <div class="letterCircle tooltip-nfc"
                         aria-hidden="true"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="UDID attached to encrypted strings"
                         style="font-weight: bolder !important">
                        i
                    </div>
                </th>
                <th scope="col" class="text-center">Add More
<!--                    <i data-toggle="tooltip"-->
<!--                       data-placement="top"-->
<!--                       title="Create more encrypted strings"-->
<!--                       class="fa fa-info fa-icon tooltip-nfc"-->
<!--                       aria-hidden="true">-->
<!--                    </i>-->
                    <div class="letterCircle tooltip-nfc"
                         aria-hidden="true"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="Create more encrypted strings"
                         style="font-weight: bolder !important">
                        i
                    </div>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="tbody-udid-request" id="tableAddedSKU">
                <tr id="tableAddedSKUFirstRow">
                    <td scope="col" class="tableUUIDRequest-first-column"></td>
                    <td class="td-udid-empty" scope="col-5" colspan="7">
                        Please search and attach SKU
                    </td>
                </tr>
            </tbody>
        </table>
        <label class="td-udid-empty">Note: For each SKU that you are requesting, please remember to create encrypted strings for the factory to attach UDID.</label>
        <div class="form-group">
           <label id="label-error" class="text-danger"></label>
        </div>
        <div class="form-group">
            <div class="pull-right">
                <button type="button" onclick="btnUdidRequestContinue()" id="btn-send-email-multiple" class="btn btn-udid-request-continue"><span style="font-weight: bold;">Continue</span></button>
            </div>
        </div>
    </div>
</div>

