{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-8">
			<h2>Add Participate</h2>
			<form method="post" id="edit_form" action="/admin/campaign/participate/insert" data-toggle="validator">
                <div class="form-group">
                    <label>User name *</label>
                    <input type="text" class="form-control" name="userName" value="" required>
                    <input type="hidden" class="form-control" name="campaignId" value="{{campaign.id}}" required>
                </div>
                <div class="form-group">
                    <label>Sku *</label>
                    <select id="productId" class="form-control" name="sku" required>
                        <option value="">---</option>
                        {{#each products}}
                            <option value="{{this.productVariantSku}}">{{this.productVariantSku}} - {{this.productTitle}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label>Scanning count *</label>
                    <input type="number" min="1" max="{{campaign.max_number_of_scans}}" class="form-control" name="scanCount" required>
                </div>
                <div class="form-group">
                    <label>Scan Date *</label>
                    <input type="date" data-date-format="DD-MM-YYYY" id="startDate" min='{{minDate}}' max='{{maxDate}}' name="scanDate" value="" required>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
</div>
