{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="col-lg-12">
        <h2>Participates - [CampaignID: {{campaign.id}}]</h2>
        <h5>[{{campaign.name}}]<a href="/admin/campaign/participate/new/{{campaign.id}}" style="float: right; margin-bottom: 10px"><button class="btn btn-success">Add Paticipate</button></a></h5>
    </div>
    {{#if participates}}
        <div class="col-lg-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="text-info"><strong>UserName</strong></h5>
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-info"><strong>Scan count</strong></h5>
                        </div>
                    </div>
                </li>
                {{#each participates}}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="">{{this._id}}</h5>
                            </div>
                            <div class="col-md-6">
                                <h5 class="">{{this.count}} </h5>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
            <div class="text-center">
            <div class="pagination pagination-centered">
                <ul>
                    {{#paginate pagination type="first"}}
                        <li {{#if disabled}}class="disabled"{{/if}}><a href="?p={{n}}">First</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="previous"}}
                        <li {{#if disabled}}class="disabled"{{/if}}><a href="?p={{n}}">Prev</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="middle" limit="10"}}
                        <li {{#if active}}class="active"{{/if}}><a href="?p={{n}}">{{n}}</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="next"}}
                        <li {{#if disabled}}class="disabled"{{/if}}><a href="?p={{n}}">Next</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="last"}}
                        <li {{#if disabled}}class="disabled"{{/if}}><a href="?p={{n}}">Last</a></li>
                    {{/paginate}}
                </ul>
            </div>
            </div>
        </div>
    {{else}}
    <h4 class="text-center">
        No participate found
    </h4>
    {{/if}}
</div>