{{> partials/menu}}
<div class="col-xs-12 col-md-9 bg-light">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h3>Registration of Interest Page</h3>
            <select id="selection-filter-upcoming" class="selection-page">
                <option value="All" >All</option>
                <option value="Active" selected>Active</option>
                <option value="Inactive" >Inactive</option>
            </select>
            <ul class="list-group product-upcoming-list">
                There is currently no product on the registration of interest page on the Mighty Jaxx Website.
            </ul>
        </div>
        <div id="upcoming-product-form" class="col-xs-12 col-md-4 padding-bottom-12">
            <h3 id="form-title">Add Product</h3>
            <form enctype="multipart/form-data" method="POST">
                <input type="hidden" name="id" value=""/>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" value="" placeholder="Product Name" required>
                     <label class="warning-label">0/78</label>
                </div>
                <div class="form-group form-group-inline" style="width: 100%;">
                    <label>Active</label>
                    <label class="switch">
                        <input type="checkbox" name="active">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="form-group">
                    <label>Url</label>
                    <input type="text" class="form-control" name="url" value="">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" rows="4" class="form-control" name="description" value="" required></textarea>
                    <label class="warning-label" >0/100</label>
                </div>
                <div class="row">
                    <div class="col-xs-6 form-group">
                        <label>Drop date</label>
                        <input type="date" class="form-control" name="dropDate" value="" required>
                    </div>
                    <div class="col-xs-6 form-group">
                        <label>Drop time (+8 GMT)</label>
                        <input type="time" class="form-control" name="dropTime" value="" required>
                    </div>
                </div>
                <input type="hidden" name="productPictureUrl" id="productPictureUrl">
                <div class="form-group">
                    <label>Product image</label>
                    <div class="input-group drag-control">
                        <div class="form-control" data-message="Click to select file or drag n drop it here">
                            <span class="input-inner-label">Drag and drop here  or <a class="choose-file" onclick="chooseFile(this)">Browse</a></span>
                            <input title="Click to select file or drag n drop it here" type="file" name="productPicture" id="productPicture">
                        </div>
                    </div>
                    <div class="productImageName" style="display:none"><span class="file-name"></span><span class="remove-file">x</span></div>
                </div>
                <div class="text-right">
                    <button type="submit" id="cancel-btn" class="btn btn-text">Cancel</button>
                    <button type="submit" id="submit-btn" class="btn">Publish</button>
                </div>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.6/basic.min.css" integrity="sha512-MeagJSJBgWB9n+Sggsr/vKMRFJWs+OUphiDV7TJiYu+TNQD9RtVJaPDYP8hA/PAjwRnkdvU+NsTncYTKlltgiw==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.6/dropzone.min.css" integrity="sha512-jU/7UFiaW5UBGODEopEqnbIAHOI8fO6T99m7Tsmqs2gkdujByJfkCbbfPSN4Wlqlb9TGnsuC0YgUgWkRBK7B9A==" crossorigin="anonymous" />
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<style>
    .dropzone {
        border-style: dashed;
        border-radius: 5px;
    }

    .form-group label{
        font-size:12px;
    }

    .bootbox .modal-footer{
        border-top: 0 !important;
    }

    .bootbox .bootbox-body{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .bootbox .modal-body, .bootbox .modal-footer{
        padding: 0;
    }

    .bootbox .modal-content{
        padding: 20px;
    }

    .bootbox button{
        width: 130px;
    }

    .bootbox .modal-sm{
        width: 320px;
    }
    .btn-success.btn-confirm{
        background: #FFC000;
        border-color: #FFC000;
        color: #000;
        font-weight: bold;
        font-size: 12px;
        float:right;
    }

    .btn-danger.btn-cancel{
        border-color: #EDEDED;
        background: #EDEDED;
        color: #000;
        font-weight: bold;
        font-size: 12px;
        float:left;
    }

    .info .added-count{
        color: grey;
        font-weight: bold;
        font-size: 13px;
    }
</style>

<script>
    // Custom file drop extension

    function progressHandling (event) {
        
    };
     function doUpload (file) {
        var formData = new FormData();

        // add assoc key values, this will be posts values
        formData.append("file", file, file.name);
        formData.append("upload_file", true);

        $.ajax({
            type: "POST",
            url: "/admin/upload_upcomming_product_picture_temp",
            xhr: function () {
                var myXhr = $.ajaxSettings.xhr();
                if (myXhr.upload) {
                    myXhr.upload.addEventListener('progress', progressHandling, false);
                }
                return myXhr;
            },
            success: function (data) {
                $('input[name=productPictureUrl]').val(data.data.url);
            },
            error: function (error) {
                // handle error
            },
            async: true,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            timeout: 60000
        });
    };

    $.fn.extend({
        filedrop: function (options) {
            var defaults = {
                callback : null
            }
            options =  $.extend(defaults, options)
            return this.each(function() {
                var files = []
                var $this = $(this)

                // Stop default browser actions
                $this.bind('dragover dragleave', function(event) {
                    event.stopPropagation()
                    event.preventDefault()
                })

                // Catch drop event
                $this.bind('drop', function(event) {
                    // Stop default browser actions
                    event.stopPropagation()
                    event.preventDefault()

                    // Get all files that are dropped
                    files = event.originalEvent.target.files || event.originalEvent.dataTransfer.files;
                    
                    $('input[name=productPictureUrl]').val('').trigger('change');
                    $this.find("input[type='file']").prop("files", event.originalEvent.dataTransfer.files).trigger('change');
                    // Convert uploaded file to data URL and pass trought callback
                    if(options.callback) {
                        var reader = new FileReader()
                        reader.onload = function(event) {
                            options.callback(files[0])
                        }
                        reader.readAsDataURL(files[0])
                    }
                    return false
                })
            })
        }
    })
    function chooseFile(e){
        $('#productPicture').trigger('click');
    }

    function clearForm(){
        $('#form-title').html('Add Product');
        $('input[name=id]').val('').trigger('change');
        $('input[name=url]').val('').trigger('change');
        $('textarea[name=description]').val('').trigger('change');
        $('input[name=title]').val('').trigger('change');
        $('input[name=active]').prop('checked', false).trigger('change');
        $('input[name=dropDate]').val('').trigger('change');
        $('input[name=dropTime]').val('').trigger('change');
        $('.remove-file').trigger('click').trigger('change');
        $('#submit-btn').html("Publish");
    }

    function reloadListProduct(){
        const filterUpcoming = $('#selection-filter-upcoming').val();
        if(!filterUpcoming){
            $('#selection-filter-upcoming').val("Active");
        }
        $.ajax({
            type: "GET",
            url: "/api/v4/getAllUpcommingProducts?filter="+filterUpcoming,
            success: function (data) {
                var html = '';
                data = data.data;
                if(data.length==0){
                    html = 'There is currently no product on the registration of interest page on the Mighty Jaxx Website.';
                }
                else{
                    for(var i in data){
                        if(data[i].pictureUrl == null || data[i].pictureUrl == "" || !data[i].pictureUrl){
                            data[i].pictureUrl="";
                        }
                        if(data[i].count == null || !data[i].count){
                            data[i].count = 0;
                        }
                        html +='<div class="product-upcoming-item">\
                            <div class="info">\
                            <div>\
                            <img src="' + data[i].pictureUrl.split('public')[1]
                                + '" alt="">\
                            </div>\
                    <p><strong>' + data[i].title +
                                '</strong><br>\
                                <span class="added-count">Added to calendar : ' + data[i].count + '</span>\
                </div>\
                <div class="actions">\
                <span class="edit-upcoming-item" data-id="' + data[i]._id + '" data-dropDate="' + data[i].dropDate + '" data-active="' + data[i].active + '" data-url="' + data[i].url + '" data-pictureUrl="' + data[i].pictureUrl + '" data-title="' + data[i].title + '" data-description="' + data[i].description + '">\
                <img src="/images/icon/edit.png" alt="" />\
                </span>\
                <span class="delete-upcoming-item" data-id="' + data[i]._id + '">\
                <img src="/images/icon/delete.png" alt="" />\
                </span>\
                </div>\
                </div>'
                    }
                }
                $('.product-upcoming-list').html(html);
            }
        });

    }

    function deleteProduct(id){
        $.ajax({
            type: "GET",
            url: "/api/v4/deleteUpcommingProducts/" + id,
            success: function (data) {
                
                reloadListProduct();
                toastr.success('Success');
            }
        });

    }

    function validateLengh(input, length){
        if(!input)
            return true;
             if(input.length >length)
            return false;
        return true;
    }

    function controlTitleLengthAlert(){
        var value = $('input[name=title]').val();
        $('input[name=title]').parent().find('.warning-label').html(value.length.toString() + " / 78");
        if(validateLengh(value, 78)){
            $('input[name=title]').parent().removeClass('length-alert');
        }
        else{
            $('input[name=title]').parent().addClass('length-alert');
        }
    }

    function controlDescriptionLengthAlert(){
        var value = $('textarea[name=description]').val();
         $('textarea[name=description]').parent().find('.warning-label').html(value.length.toString() + " / 100");
        if(validateLengh(value, 100)){
            $('textarea[name=description]').parent().removeClass('length-alert');
        }
        else{
            $('textarea[name=description]').parent().addClass('length-alert');

        }
    }

    $(function(){
        reloadListProduct();
        $('form').validate();
        $(document).on('click', '.delete-upcoming-item', function(e){
            var id = $(e.target).parent().attr('data-id');

            bootbox.confirm({
                size: "small",
                message: "Are you sure you want to remove this product?",
                callback: function(result){
                    if(result){
                        deleteProduct(id);
                    }
                },
                buttons: {
                    confirm: {
                        label: 'Confirm',
                        className: 'btn-success btn-confirm'
                    },
                    cancel: {
                        label: 'Cancel',
                        className: 'btn-danger btn-cancel'
                    }
                },
                closeButton: false
            });
        });

        $(document).on('change', '#selection-filter-upcoming', function(e){
            reloadListProduct();
        });
        $(document).on('click', '.edit-upcoming-item', function(e){
            var el = $(e.target).parent();
            var data = {
                id: el.attr('data-id'),
                title: el.attr('data-title'),
                description: el.attr('data-description'),
                url: el.attr('data-url'),
                pictureUrl: el.attr('data-pictureUrl'),
                active: el.attr('data-active') == "false"? false: true,
                dropDate: el.attr('data-dropDate')
            };
            $('#form-title').html('Edit Product');
            $('input[name=id]').val(data.id);
            $('input[name=url]').val(data.url);
            $('textarea[name=description]').val(data.description);
            $('input[name=title]').val(data.title);
            $('input[name=active]').prop('checked', data.active);
            $('input[name=productPictureUrl]').val(data.pictureUrl);
            $('#submit-btn').html("Save");

            if(data.pictureUrl && data.pictureUrl != null && data.pictureUrl != ""){
                var fileNameEl = $('.productImageName');
                var url = data.pictureUrl.split('/');
                fileNameEl.find('.file-name').html(url[url.length -1]);
                fileNameEl.show();
            }
            if(data.dropDate){
                var dropDate = new Date(data.dropDate);
                $('input[name=dropDate]').val(moment(dropDate).format('yyyy-MM-DD'));
                $('input[name=dropTime]').val(moment(dropDate).format('HH:mm'));
            }
        })

        $('#cancel-btn').on('click', function(e){
            e.preventDefault();
            clearForm();
        });

        $('input[name=title]').keypress(function(e) { // text written
            controlTitleLengthAlert();
        });

        $('input[name=title]').keyup(function(e) {
            controlTitleLengthAlert();
        });
        $('input[name=title]').bind('paste', function(e) { // text pasted
            controlTitleLengthAlert();
        });
        $('input[name=title]').bind('change', function(e) { // text pasted
            controlTitleLengthAlert();
        });

        $('textarea[name=description]').keypress(function(e) { // text written
            controlDescriptionLengthAlert();
        });

        $('textarea[name=description]').keyup(function(e) {
            controlDescriptionLengthAlert();
        });
        $('textarea[name=description]').bind('paste', function(e) { // text pasted
            controlDescriptionLengthAlert();
        });
        $('textarea[name=description]').bind('change', function(e) { // text pasted
            controlDescriptionLengthAlert();
        });

        $('#submit-btn').on('click', function(e){
            e.preventDefault();
            if(!$('form').valid()){
                return;
            }
            if(!validateLengh($('input[name=title]').val(), 78)){
                return;
            }

            if(!validateLengh($('textarea[name=description]').val(), 100)){
                return;
            }
            var dropDate = new Date($('input[name=dropDate]').val());
            
            var dropTime = $('input[name=dropTime]').val();
            var hour = parseInt(dropTime.split(':')[0]);
            dropDate = new Date(dropDate.getFullYear(), dropDate.getMonth(), dropDate.getDate(), hour , dropTime.split(':')[1], 0, 0);
            dropDate = moment(dropDate).utcOffset(0).format();
            
            var data = {
                id: $('input[name=id]').val(),
                title: $('input[name=title]').val(),
                active: $('input[name=active]').prop('checked'),
                description: $('textarea[name=description]').val(),
                dropDate: dropDate,
                pictureUrl: $('input[name=productPictureUrl]').val(),
                url: $('input[name=url]').val()
            }
            $.ajax({
                type: "POST",
                url: "/admin/createOrUpdateUpcommingProduct",
                success: function (data) {
                    $('input[name=id]').val(data.data.id);
                    reloadListProduct();
                    clearForm();
                    toastr.success('Success');
                },
                error: function (error) {
                    // handle error
                },
                async: true,
                data: JSON.stringify(data),
                cache: false,
                contentType:"application/json; charset=utf-8",
                dataType:"json",
                processData: false,
                timeout: 60000
            });
        })
        $('input[type="file"]').on('change', function(e){
            
            var fileName = e.target.files[0].name;
            if (fileName) {
                var fileNameEl = $(e.target).parent().parent().parent().find('.productImageName');
                fileNameEl.find('.file-name').html(fileName);
                fileNameEl.show();
                doUpload(e.target.files[0]);
            }
        });
        $('.remove-file').on('click', function(e){
            $("input[type='file']").val('');
            $(e.target).parent('.productImageName').hide();
            $('input[name=productPictureUrl]').val('').trigger('change');
        })
        $('.drag-control').filedrop({
            callback : function(rawData) {
                
                doUpload(rawData);
                // a callback?
            }
        })
        // $('.drag-control').on(
        //         'drop',
        //         function(e){
        //             
        //             if(e.originalEvent.dataTransfer && e.originalEvent.dataTransfer.files.length) {
        //                 e.preventDefault();
        //                 e.stopPropagation();
        //                 /*UPLOAD FILES HERE*/
        //                 upload(e.originalEvent.dataTransfer.files);
        //             }
        //         }
        // );
        // $('.drag-control').on("dragover", function(e) {
        //     
        //     e.preventDefault();  // allow dropping and don't navigate to file on drop
        // }).on("drop", function(e) {
        //     
        //     $("input[type='file']")
        //             .prop("files", e.originalEvent.dataTransfer.files);
        // });
    })
</script>