{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 content-color">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 content-header">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 padding-left-0">
            <h2 class="page-title">Products Listing</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 padding-right-0">
            <div class="product-create-new">
                {{#if totalPages}}
                <select id="slection-page-product" class="selection-page">
                    <option value="{{page}}" hidden="hidden" selected="selected">Page {{page}}</option>
                    {{#each totalPages}}
                    <option value="{{this}}" {{selectState this @rootpage}}>Page {{this}}</option>
                    {{/each}}
                </select>
                {{/if}}
                <a href="/admin/product/new">
                    <button class="btn btn-new">Create new</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-12 search-bar">
        <div class="input-group search-bar-product-input inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" name="product_filter" id="product_filter" class="form-control input-lg"
                placeholder="Search" value="{{this.keySearch}}">
        </div>
    </div>
    <div class="col-lg-12 col-xl-12">
        <ul class="list-group" style="list-style-type: none;">
            {{#ifArrayHasData top_results}}
            {{#each top_results}}
            <li class="product-row">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 product-dflex">
                        <div class="product-image-flex">
                            <img class="pull-left product-image" src="{{this.productImageUrl}}" />
                        </div>
                        <div class="product-detail-info product-content">

                            <label>
                                <a class="product-title"
                                    href="/admin/product/edit/{{this._id}}">{{this.productTitle}}</a>
                            </label>
                            <br />
                            <span id="productVariantSku">SKU: {{this.productVariantSku}}</span>
                            <br />
                            {{#if this.productTitleOnApp}}
                            <span>Title show on app: {{this.productTitleOnApp}}</span>
                            {{else}}
                            <span>Title show on app: {{this.productTitle}}</span>
                            {{/if}}
                            <br />
                            <span>Artist Name: {{this.productArtist}}</span>
                            <br />
                            {{#if (convertStringToBool this.productLaunchVipStatus) }}
                            <button class="btn btn-vip lable-product">VIP</button>
                            {{/if}}
                            {{#if this.isShowStockxBanner}}
                            <button class="btn btn-success lable-product">StockX</button>

                            {{/if}}
                            {{#if (ifContainProductTag this.productTags "instock") }}
                            <button class="btn btn-inStock lable-product">InStock</button>
                            {{/if}}
                            {{#if (ifContainProductTag this.productTags "available") }}
                            <button class="btn btn-available lable-product">Available</button>
                            {{/if}}
                            {{#if (ifContainProductTag this.productTags "preorder") }}
                            <button class="btn btn-preorder lable-product">Preorder</button>
                            {{/if}}
                            {{!-- {{#ifCond this.productStock "<=" 0}} <button class="btn btn-light lable-product">Sold
                                Out</button>
                                {{else}}
                                {{/ifCond}}
                                --}}
                                {{#if (checkStringIsDateTimeAndNotEmpty this.productSoldOutDate) }}
                                {{#ifCond (parseDateTime this.productSoldOutDate) "<" this.currentDateTime}} <button
                                    class="btn btn-light lable-product">Sold Out</button>
                                    {{/ifCond}}
                                    {{else}}
                                    {{#ifCond this.stock_on_hand "<=" 0}} <button class="btn btn-light lable-product">
                                        Sold Out</button>
                                        {{/ifCond}}
                                        {{/if}}
                                        {{#if this.productFeature}}
                                            <span class="dot-banner"></span><label class="lable-banner">Thumbnail</label>
                                        {{/if}}
                                        {{#if this.productNew}}
                                            <span class="dot-thumbnail"></span>
                                            <label class="lable-thumbnail">Banner</label>
                                        {{/if}}
                                        {{#ifOrCond this.productNew this.productFeature}}
                                            <br/>
                                        {{/ifOrCond}}
                                        {{#ifAndCond this.productNotMatchShopify  this.productNotMatchMobile}}
                                            <span class="text-danger">The product has no matching product on Shopify.  Check the Shopify product ID in the listing against the ID of the product in the Shopify product URL.</span>
                                        {{/ifAndCond}}
                        </div>
                        <div class="product-udid-info product-udid">
                            <label class="udid-status-color">UDID Status</label>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad-left fontsize-12 udid-middle">
                                <div
                                    class="col-lg-9 col-md-9 col-sm-9 col-xs-8 no-pad-left fontsize-12 udid-title no-pad-right">
                                    <span class="udid-product-padding">Total Quantity:</span><br />
                                    <span class="udid-product-padding">Pending:</span><br />
                                    <span class="udid-product-padding">Completed:</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 no-pad-left fontsize-12 udid-stock">
                                    <span class="udid-product-padding">{{this.totalQrcode}}</span><br />
                                    <span class="udid-product-padding">{{this.pendingQrcode}}</span><br />
                                    <span class="udid-product-padding">{{this.completedQrcode}}</span>
                                </div>

                            </div>
                            {{#ifCond @root.session.groupRole 'in' 'admin|production'}}
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center send-email-div">
                                <a href="/admin/qrcode/nfc-udid-request?sku={{this.productVariantSku}}">
                                    <button class="btn btn-send-email btn-block">Send Encrypted String</button>
                                </a>
                                <div style="display: flex;">
                                    <form method="post" class="btn btn-file"
                                        action="/admin/product/import/{{this.productVariantSku}}"
                                        data-toggle="validator" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-send-email btn-block">Import</button>
                                        <input class="import-file" type="file" accept=".csv"
                                            value="upload-edition-number" name="myfile" />
                                    </form>
                                    <a style="width: 50%;" href="/admin/product/export/{{this.productVariantSku}}">
                                        <button class="btn btn-send-email btn-block">Export</button>
                                    </a>
                                </div>

                            </div>
                            {{else}}
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center send-email-div-empty">
                            </div>
                            {{/ifCond}}
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
            {{else}}
            <label>Not Found</label>
            {{/ifArrayHasData}}
        </ul>
    </div>
</div>