{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 content-color">
    <form method="post" class="form-horizontal" id="insert_form" action="/admin/product/insert" data-toggle="validator">
        <div class="col-lg-12">
            <div class="page-header">
                <div class="pull-right">
                    <button id="frm_edit_product_save" class="btn btn-success" type="submit">Add product <i class="fa fa-plus"></i></button>
                </div>
                <h2>New product</h2>
            </div>
            <div class="form-group">
                <label for="frmShopifyProductId" class="col-sm-2 control-label">Shopify Product Id</label>
                <div class="col-sm-10">
                    <input type="text" name="frmShopifyProductId" class="form-control" minlength="5" maxlength="200" value="{{shopifyProductId}}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductTitle" class="col-sm-2 control-label">Product title *</label>
                <div class="col-sm-10">
                    <input type="text" id="frmProductTitle" name="frmProductTitle" class="form-control" minlength="5" maxlength="200" value="{{productTitle}}" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductStore" class="col-sm-2 control-label">Store *</label>
                <div class="col-sm-10">
                    <select class="form-control" id="frmProductStore" name="frmProductStore">
                        <option value="MightyJaxx" selected>MightyJaxx</option>
                        <option value="MAMAFAKA">MAMAFAKA</option>
                        <option value="KinjazGlobal">KinjazGlobal</option>
                        <option value="JasonFreeny">JasonFreeny</option>
                        <option value="PremiumWorked">PremiumWorked</option>
                    </select>
                    <!--<input type="text" name="frmProductStore" class="form-control" minlength="5" maxlength="200" value="{{productStore}}" required/>-->
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductTitleOnApp" class="col-sm-2 control-label">Product title On App</label>
                <div class="col-sm-10">
                    <input type="text" name="frmProductTitleOnApp" class="form-control" minlength="5" maxlength="200" value="{{productTitleOnApp}}"/>
                </div>
            </div>
            <div class="form-group" >
                <label for="frmProductStockXUrl" class="col-sm-2 control-label">Product StockX Url</label>
                <div class="col-sm-10">
                    <input type="text" id="frmProductStockXUrl" placeholder="https://stockx.com/jason-freeny-xxray-dc-comics-deadshot-12-figure" name="frmProductStockXUrl" class="form-control" minlength="5" maxlength="200" value="{{productStockxXUrl}}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductModel" class="col-sm-2 control-label">Product Model</label>
                <div class="col-sm-10">
                    <input type="text" id="frmProductModel" placeholder="aa-bb-cc-dd-ee-ff-gg" name="frmProductModel" class="form-control" minlength="5" maxlength="200" value="{{productModelNumber}}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductVariantId" class="col-sm-2 control-label">Product Variant</label>
                <div class="col-sm-10">
                    <input type="text" id="frmProductVariantId" placeholder="CBJFSW" name="frmProductVariantId" class="form-control" minlength="5" maxlength="200" value="{{productVariantId}}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductVariantSku" class="col-sm-2 control-label">Product Variant SKU *</label>
                <div class="col-sm-10">
                    <input type="text" id="frmProductVariantSku" placeholder="CBJFSW" name="frmProductVariantSku" class="form-control" minlength="5" maxlength="200" value="{{productVariantSku}}" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductPrice" class="col-sm-2 control-label">Product price</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" name="frmProductPrice" class="form-control" step="any" value="{{productPrice}}"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductPrice" class="col-sm-2 control-label">Artist Name</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" name="frmProductArtist" class="form-control" value="{{productArtist}}" step="any"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductPrice" class="col-sm-2 control-label">Order</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="number" name="frmProductOrder" class="form-control" value="{{productOrder}}" step="any"/>
                    </div>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="frmProductPublishedAt" class="col-sm-2 control-label">Published At *</label>-->
                <!--<div class="col-sm-6">-->
                    <!--<div class="input-group">-->
                        <!--<input type="date" name="frmProductPublishedAt" class="form-control" value="{{productPublishedAt}}" step="any" required/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group" style="display: none">-->
                <!--<label for="frmProductPublished" class="col-sm-2 control-label">Status</label>-->
                <!--<div class="col-sm-6">-->
                    <!--<select class="form-control" id="frmProductPublished" name="frmProductPublished">-->
                        <!--<option value="true" selected>Published</option>-->
                        <!--<option value="false">Draft</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <!--{{#if config.trackStock}}-->
            <!--<div class="form-group">-->
                <!--<label for="frmProductStock" class="col-sm-2 control-label">Stock level</label>-->
                <!--<div class="col-sm-6">-->
                    <!--<input type="number" name="frmProductStock" class="form-control" value="{{productStock}}" step="any" />-->
                <!--</div>-->
            <!--</div>-->
            <!--{{/if}}-->
            <div class="form-group" id="editor-wrapper">
                <label for="editor" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea minlength="5" rows="10" name="frmProductDescription" class="form-control">{{productDescription}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="editor" class="col-sm-2 control-label">Specification</label>
                <div class="col-sm-10">
                    <textarea id="editor" minlength="5" rows="10" id="frmProductSpecification" name="frmProductSpecification" class="form-control">{{result.productSpecification}}</textarea>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">Permalink</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" name="frmProductPermalink" id="frmProductPermalink" placeholder="Permalink for the article" value={{productPermalink}}>-->
                        <!--<span class="input-group-btn">-->
                            <!--<button class="btn btn-success" id="validate_permalink" type="button">Validate</button>-->
                        <!--</span>-->
                    <!--</div>-->
                    <!--<p class="help-block">This sets a readable URL for the product</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<input type="hidden" id="productOptJson" name="productOptJson" value="{{result.productOptions}}" />-->
                <!--<label for="editor" class="col-sm-2 control-label">Product options</label>-->
                <!--<div class="col-lg-10">-->
                    <!--<ul class="list-group" id="product_opt_wrapper">-->
                        <!--<li class="list-group-item">-->
                            <!--<div class="row">-->
                            <!--<div class="col-lg-2">-->
                                <!--<strong>Name:</strong>-->
                                <!--<input type="text" id="product_optName" class="form-control" placeholder="Size" />-->
                            <!--</div>-->
                            <!--<div class="col-lg-2">-->
                                <!--<strong>Label:</strong>-->
                                <!--<input type="text" id="product_optLabel" class="form-control" placeholder="Select size"/>-->
                            <!--</div>-->
                            <!--<div class="col-lg-2">-->
                                <!--<strong>Type:</strong>-->
                                <!--<select id="product_optType" class="form-control">-->
                                    <!--<option value="select">Select</option>-->
                                    <!--<option value="radio">Radio</option>-->
                                    <!--<option value="checkbox">Checkbox</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <!--<div class="col-lg-4">-->
                                <!--<strong>Options:</strong>-->
                                <!--<input type="text" id="product_optOptions" class="form-control" placeholder="comma, seporated, list"/>-->
                            <!--</div>-->
                            <!--<div class="col-lg-2 text-right"></br>-->
                                <!--<button id="product_opt_add" class="btn btn-success">Add</button>-->
                            <!--</div></div>-->
                        <!--</li>-->
                        <!--{{#each options}}-->
                            <!--<li class="list-group-item">-->
                                <!--<div class="row">-->
                                    <!--<div class='col-lg-2 opt-name'>{{this.optName}}</div>-->
                                    <!--<div class='col-lg-2'>{{this.optLabel}}</div>-->
                                    <!--<div class='col-lg-2'>{{this.optType}}</div>-->
                                    <!--<div class='col-lg-4'>{{{this.optOptions}}}</div>-->
                                    <!--<div class='col-lg-2 text-right'>-->
                                        <!--<button class='product_opt_remove btn btn-danger btn-sm'>Remove</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--{{/each}}-->
                    <!--</ul>-->
                    <!--<p class="help-block">Here you can set options for your product. Eg: Size, color, style</p>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label for="editor" class="col-sm-2 control-label">Launch Timer</label>
                <div class="col-lg-10" id="launchDateGroup">
                    <ul class="list-group" id="">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-3">
                                    <strong>Date:</strong>
                                    <input type="date" id="frmProductLaunchDate" class="launch-Date-Picker form-control" placeholder="Date" name="frmProductLaunchDate" value="{{productLaunchDate}}" />
                                </div>
                                <div class="col-lg-3">
                                    <strong>Time:</strong>
                                    <input type="text" id="frmProductLaunchTime" class="launch-Date-Picker form-control" placeholder="HH:mm:ss" name="frmProductLaunchTime" value="{{productLaunchTime}}" />
                                </div>
                                <!-- <div class="col-lg-2">
                                    <strong>Color:</strong>
                                    <input type="color" id="frmProductLaunchColor" name="frmProductLaunchColor" class="form-control" placeholder="#0000" value="{{productLaunchColor}}"/>
                                </div> -->
                                <div class="col-lg-2">
                                    <strong>VIP Early Access:</strong>
                                    <select id="frmProductLaunchVipStatus" class="form-control" name="frmProductLaunchVipStatus">
                                        <option value="0">Select</option>
                                        <option value="true"  {{selectState productLaunchVipStatus "true"}}>Yes</option>
                                        <option value="false" {{selectState productLaunchVipStatus "false"}}>No</option>
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <strong>Status:</strong>
                                    <select id="frmProductLaunchStatus" class="form-control" name="frmProductLaunchStatus">
                                        <option value="0">Select</option>
                                        <option value="true"  {{selectState productLaunchStatus "true"}}>Enabled</option>
                                        <option value="false" {{selectState productLaunchStatus "false"}}>Disabled</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p class="help-block">Here you can set options for your product. Eg: Size, color, style</p>
                </div>
                <input type="text" class="form" id="fullDateLaunch" name="fullDateLaunch" hidden>
                <input type="text" class="form" id="fullDateLaunchVip" name="fullDateLaunchVip" hidden>
            </div>

            <div class="form-group">
                <label for="editor" class="col-sm-2 control-label">Sold out Timer</label>
                <div class="col-lg-10" id ="soldOutGroup">
                    <ul class="list-group" id="">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-3">
                                    <strong>Date:</strong>
                                    <input type="date" id="frmProductSoldOutDate" class="form-control" placeholder="date" name="frmProductSoldOutDate" value="{{productSoldOutDate}}" />
                                </div>
                                <div class="col-lg-3">
                                    <strong>Time:</strong>
                                    <input type="text" id="frmProductSoldOutTime" class="sold-Date-Picker form-control" placeholder="HH:mm:ss" name="frmProductSoldOutTime" value="{{productSoldOutTime}}" />
                                </div>
                                <input type="text" class="form" id="fullDateSoldOut" name="fullDateSoldOut" hidden>
                                <div class="col-lg-3">
                                    <strong>Status:</strong>
                                    <select id="frmProductSoldOutStatus" class="form-control" name="frmProductSoldOutStatus">
                                        <option value="0">Select</option>
                                        <option value="true"  {{selectState productSoldOutStatus "true"}}>Enabled</option>
                                        <option value="false" {{selectState productSoldOutStatus "false"}}>Disabled</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p class="help-block">Here you can set options for your product. Eg: Size, color, style</p>
                </div>
            </div>

            <div class="form-group">
                <label for="frmProductCrossSellStatus" class="col-sm-2 control-label">Allow cross selling</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input class="frmProductCrossSellStatus" type="checkbox" {{checkedState result.productCrossSellStatus}}
                                id="frmProductCrossSellStatus" name="frmProductCrossSellStatus">
                            <p class="help-block">Allow cross selling</p>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group cross-selling-input">
                <label for="frmProductCrossSellContentText" class="col-sm-2 control-label">Cross selling Text</label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                    <input type="text" id="frmProductCrossSellContentText" name="frmProductCrossSellContentText" class="form-control"
                        value="{{result.productCrossSellContentText}}" />
                </div>
                </div>
            </div>

            <div class="form-group cross-selling-input">
                <label for="frmProductCrossSellContent" class="col-sm-2 control-label">Cross selling Id</label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                    <input type="text" id="frmProductCrossSellContent" name="frmProductCrossSellContent" class="form-control"
                        value="{{result.productCrossSellContent}}" />
                </div>
                </div>
            </div>
            
            <!--<div class="form-group">-->
                <!--<label for="frmProductComment" class="col-sm-2 control-label">Allow comment</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<div class="checkbox">-->
                        <!--<label>-->
                            <!--<input class="frmProductComment" type="checkbox" {{checkedState result.productComment}} id="frmProductComment"-->
                                <!--name="frmProductComment">-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<p class="help-block">Allow free form comments when adding products to cart</p>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label for="frmProductIsNew" class="col-sm-2 control-label">Show StockX Banner?</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input class="frmIsShowStockxBanner" type="checkbox" {{checkedState isShowStockxBanner}} id="frmIsShowStockxBanner"
                                   name="frmIsShowStockxBanner">
                        </label>
                    </div>
                    <p class="help-block">Product will marked as New in Mobile app</p>
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductIsNew" class="col-sm-2 control-label">Is New?</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input class="frmProductIsNew" type="checkbox" {{checkedState productIsNew}} id="frmProductIsNew"
                                   name="frmProductIsNew">
                        </label>
                    </div>
                    <p class="help-block">Product will marked as New in Mobile app</p>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="frmProductIsTrending" class="col-sm-2 control-label">Is Trending?</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<div class="checkbox">-->
                        <!--<label>-->
                            <!--<input class="frmProductIsTrending" type="checkbox" {{checkedState productIsTrending}} id="frmProductIsTrending"-->
                                   <!--name="frmProductIsTrending">-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<p class="help-block">Product will marked as Trending in Mobile app</p>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label for="frmProductIsFeature" class="col-sm-2 control-label">Is Feature?</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input class="frmProductIsFeature" type="checkbox" {{checkedState productIsFeature}} id="frmProductIsFeature"
                                   name="frmProductIsFeature">
                        </label>
                    </div>
                    <p class="help-block">Product will show in Feature in Mobile app</p>
                </div>
            </div>
            <div class="form-group">
                <label for="frmZendeskUrl" class="col-sm-2 control-label">Zendesk Url </label>
                <div class="col-sm-10">
                    <input type="text" id="frmZendeskUrl" name="frmZendeskUrl" class="form-control" value="{{zendeskUrl}}"/>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="frmProductIsRecommendation" class="col-sm-2 control-label">Is Recommendation?</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<div class="checkbox">-->
                        <!--<label>-->
                            <!--<input class="frmProductIsRecommendation" type="checkbox" {{checkedState productIsHome}} id="frmProductIsRecommendation"-->
                                   <!--name="frmProductIsRecommendation">-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<p class="help-block">Product will show in Recommendation in Mobile app</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="frmProductIsHomePopup" class="col-sm-2 control-label">Is Home Popup?</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<div class="checkbox">-->
                        <!--<label>-->
                            <!--<input class="frmProductIsHomePopup" type="checkbox" {{checkedState frmProductIsHomePopup}} id="frmProductIsHomePopup"-->
                                   <!--name="frmProductIsHomePopup">-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<p class="help-block">Product will show as popup in Mobile app in home screen</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="frmProductTags" class="col-sm-2 control-label">Product tag words</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" id="frmProductTags" name="frmProductTags">-->
                    <!--<p class="help-block">Tag words used to indexed products, making them easier to find and filter.</p>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </form>
</div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
<link src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css">
</link>

<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<script src="/ckeditor/ckeditor.js"></script>
<script src="/ckeditor/samples/js/sample.js"></script>



<script>
    $(document).ready(function() {
        // $('#editor').summernote({
        //     height: 300,
        //     minHeight: null
        // });
        if ($('#frmProductCrossSellStatus').is(':checked')){
            console.log('CHECKED')
            $('.cross-selling-input').show();
            $('#frmProductCrossSellContentText').prop('required',true);
            $('#frmProductCrossSellContent').prop('required',true);
        } else {
            console.log('UNCHECK')
            $('.cross-selling-input').hide();
            $('#frmProductCrossSellContentText').prop('required',false);
            $('#frmProductCrossSellContent').prop('required',false);
        }
        $('#frmProductCrossSellStatus').change(function() {
            if($(this).is(":checked")) {
                $('.cross-selling-input').show();
                $('#frmProductCrossSellContentText').prop('required',true);
                $('#frmProductCrossSellContent').prop('required',true);
            } else {
                $('.cross-selling-input').hide();
                $('#frmProductCrossSellContentText').prop('required',false);
                $('#frmProductCrossSellContent').prop('required',false);
            }      
        });
        
        $("#soldOutGroup").find("input,select,textarea,button").prop("disabled",true);
        $("#launchDateGroup").find("input,select,textarea,button").prop("disabled",true);
        $('#frmProductSoldOutTime').change(function(){
            mergeDateTime();
        })
        $('#frmProductSoldOutDate').change(function(){
            mergeDateTime();
        })
        $('#frmProductLaunchTime').change(function(){
            mergeDateTime();
        })
        $('#frmProductLaunchDate').change(function(){
            mergeDateTime();
        })
        $(function() {
            $('#frmProductLaunchTime').datetimepicker({format: 'HH:mm:ss'});
        });
        $(function() {
            $('#frmProductSoldOutTime').datetimepicker({format: 'HH:mm:ss'});
        });
        $('[name="frmShopifyProductId"]').change(function(){
        const idShopify =$('[name="frmShopifyProductId"]').val();
        const url = document.location.origin + '/admin/shopify/' + idShopify;
            $.get( url, function() {
                
                    $("#soldOutGroup").find("input,select,textarea,button").prop("disabled",false);
                    $("#launchDateGroup").find("input,select,textarea,button").prop("disabled",false);
                
                
            }).fail(function(){
                    $("#soldOutGroup").find("input,select,textarea,button").prop("disabled",true);
                    $("#launchDateGroup").find("input,select,textarea,button").prop("disabled",true);
            });
        });

    });
       function mergeDateTime(){
          const fullDayLaunch =
          $('#frmProductLaunchDate').val().toString().split('-').reverse().join('-') +
          ' ' +
          $('#frmProductLaunchTime').val().slice(0, 5);
          $('#fullDateLaunch').val(fullDayLaunch);
          
          const fullDaySold =
          $('#frmProductSoldOutDate').val().toString().split('-').reverse().join('-') +
          ' ' +
          $('#frmProductSoldOutTime').val().slice(0, 5);
          $('#fullDateSoldOut').val(fullDaySold);

         
          const d = new Date($('#frmProductLaunchDate').val());
          d.setDate(d.getDate() - 1);
          const date = d.toISOString().slice(0, 10);
          const fullDayLaunchVip =
          date.toString().split('-').reverse().join('-') + ' ' + $('#frmProductLaunchTime').val().slice(0, 5);
          $('#fullDateLaunchVip').val(fullDayLaunchVip);
          console.log($('#fullDateLaunch').val())
    }
</script>
