{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 content-color">
    <form method="post" class="form-horizontal" id="insert_form" action="/admin/product/update" data-toggle="validator">
        <div class="col-lg-12">
            <div class="page-header">
                <div class="pull-right">
                    <a href="/admin/qrcode/view/{{result._id}}/0" type="button" class="btn btn-info">Encrypted
                        String</a>
                    <button type="button" class="btn btn-info" data-toggle="modal"
                        data-target="#myModalBackground">Upload background image</button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalProduct">Upload
                        product image</button>
                    <button id="frm_edit_product_save" class="btn btn-success">Save product <i
                            class="fa fa-floppy-o"></i></button>
                    {{#if admin}}
                        <a href="/admin/product/delete/{{result._id}}" type="button" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete all codes that have been uploaded?');">Delete</a>
                    {{/if}}
                </div>
                <h2>Edit product</h2>
            </div>
            <div class="form-group">
                <label for="frmShopifyProductId" class="col-sm-2 control-label">Product Image</label>
                <div class="col-sm-10">
                    <img id="productImage" class="pull-left" src="{{result.productImageUrl}}"
                        style="padding-left: 0px; width: 40px;" />
                </div>
            </div>
            <div class="form-group">
                <label for="frmShopifyProductId" class="col-sm-2 control-label">Shopify Product Id</label>
                <div class="col-sm-10">
                    <input type="text" name="frmShopifyProductId" class="form-control" minlength="5" maxlength="200"
                        value="{{result.shopifyProductId}}" />
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductStore" class="col-sm-2 control-label">Store *</label>
                <div class="col-sm-10">
                    <select class="form-control" id="frmProductStore" name="frmProductStore">
                        <option value="MightyJaxx" {{selectState result.productStore "MightyJaxx" }}>MightyJaxx</option>
                        <option value="MAMAFAKA" {{selectState result.productStore "MAMAFAKA" }}>MAMAFAKA</option>
                        <option value="KinjazGlobal" {{selectState result.productStore "KinjazGlobal" }}>KinjazGlobal
                        </option>
                        <option value="JasonFreeny" {{selectState result.productStore "JasonFreeny" }}>JasonFreeny
                        </option>
                        <option value="PremiumWorked" {{selectState result.productStore "PremiumWorked" }}>PremiumWorked
                        </option>
                    </select>
                    <!--<input type="text" name="frmProductStore" class="form-control" minlength="5" maxlength="200" value="{{result.productStore}}" required/>-->
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductTitle" class="col-sm-2 control-label">Product title *</label>
                <div class="col-sm-10">
                    <input type="text" name="frmProductTitle" class="form-control" minlength="5" maxlength="200"
                        value="{{result.productTitle}}" required />
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductTitleOnApp" class="col-sm-2 control-label">Product title On App</label>
                <div class="col-sm-10">
                    <input type="text" name="frmProductTitleOnApp" class="form-control" minlength="5" maxlength="200"
                        value="{{result.productTitleOnApp}}" />
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductStockXUrl" class="col-sm-2 control-label">Product StockX Url</label>
                <div class="col-sm-10">
                    <input type="text" id="frmProductStockXUrl"
                        placeholder="https://stockx.com/jason-freeny-xxray-dc-comics-deadshot-12-figure"
                        name="frmProductStockXUrl" class="form-control" minlength="5" maxlength="200"
                        value="{{result.stockxLink}}" />
                    <a href="https://{{result.stockxLink}}">{{result.stockxLink}}</a>
                </div>
            </div>
            <div class="form-group" style="display:none">
                <label for="frmProductUDID" class="col-sm-2 control-label">Product UDID *</label>
                <div class="col-sm-10">
                    <input type="text" id="frmProductUDID" placeholder="aa-bb-cc-dd-ee-ff-gg" name="frmProductUDID"
                        class="form-control" minlength="5" maxlength="200" value="{{result.udid}}" />
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductModel" class="col-sm-2 control-label">Product Model</label>
                <div class="col-sm-10">
                    <input type="text" id="frmProductModel" placeholder="" name="frmProductModel" class="form-control"
                        value="{{result.productModelNumber}}" />
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductVariant" class="col-sm-2 control-label">Product Variant</label>
                <div class="col-sm-10">
                    <input type="text" id="frmProductVariantId" placeholder="CBJFSW" name="frmProductVariantId"
                        class="form-control" maxlength="200" value="{{result.productVariantId}}" />
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductVariantSku" class="col-sm-2 control-label">Product Variant SKU</label>
                <div class="col-sm-10">
                    <input type="text" id="frmProductVariantSku" placeholder="CBJFSW" name="frmProductVariantSku"
                        class="form-control" maxlength="200" value="{{result.productVariantSku}}" />
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductPrice" class="col-sm-2 control-label">Product price</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">{{currencySymbol config.currencySymbol}}</span>
                        <input type="number" name="frmProductPrice" class="form-control" value="{{result.productPrice}}"
                            step="any" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductPrice" class="col-sm-2 control-label">Artist Name</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" name="frmProductArtist" class="form-control" value="{{result.productArtist}}"
                            step="any" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductPrice" class="col-sm-2 control-label">Order</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="number" name="frmProductOrder" class="form-control" value="{{result.productOrder}}"
                            step="any" />
                    </div>
                </div>
            </div>
            <div class="form-group" style="display: none">
                <label for="frmProductPublishedAt" class="col-sm-2 control-label">Published At *</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" name="frmProductPublishedAt" class="form-control"
                            value="{{result.productPublishedAt}}" step="any" />
                    </div>
                </div>
            </div>
            <div class="form-group" style="display: none">
                <label for="frmProductPublished" class="col-sm-2 control-label">Status</label>
                <div class="col-sm-6">
                    <select class="form-control" id="frmProductPublished" name="frmProductPublished">
                        <option value="true" {{selectState result.productPublished "true" }}>Published</option>
                        <option value="false" {{selectState result.productPublished "false" }}>Draft</option>
                    </select>
                </div>
            </div>
            {{#if config.trackStock}}
            <div class="form-group">
                <label for="frmProductStock" class="col-sm-2 control-label">Stock level</label>
                <div class="col-sm-6">
                    <input type="number" name="frmProductStock" class="form-control" value="{{result.productStock}}"
                        step="any" />
                </div>
            </div>
            {{/if}}
            <div class="form-group">
                <label for="editor" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea id="editor" rows="50" id="frmProductDescription" name="frmProductDescription"
                        class="form-control">{{result.productDescription}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="editor" class="col-sm-2 control-label">Specification</label>
                <div class="col-sm-10">
                    <textarea id="specification" rows="10" id="frmProductSpecification" name="frmProductSpecification"
                        class="form-control">{{result.productSpecification}}</textarea>
                </div>
            </div>
            <div class="form-group" style="display: none">
                <label class="col-sm-2 control-label">Permalink</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" name="frmProductPermalink" id="frmProductPermalink"
                            placeholder="Permalink for the article" value={{result.productPermalink}}>
                        <span class="input-group-btn">
                            <button class="btn btn-success" id="validate_permalink" type="button">Validate</button>
                        </span>
                    </div>
                    <p class="help-block">This sets a readable URL for the product</p>
                </div>
            </div>
            <div class="form-group" style="display: none">
                <input type="hidden" id="productOptJson" name="productOptJson" value="{{result.productOptions}}" />
                <label for="editor" class="col-sm-2 control-label">Product options</label>
                <div class="col-lg-10">
                    <ul class="list-group" id="product_opt_wrapper">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-2">
                                    <strong>Name:</strong>
                                    <input type="text" id="product_optName" class="form-control" placeholder="size" />
                                </div>
                                <div class="col-lg-2">
                                    <strong>Label:</strong>
                                    <input type="text" id="product_optLabel" class="form-control"
                                        placeholder="Select size" />
                                </div>
                                <div class="col-lg-2">
                                    <strong>Type:</strong>
                                    <select id="product_optType" class="form-control">
                                        <option value="select">Select</option>
                                        <option value="radio">Radio</option>
                                        <option value="checkbox">Checkbox</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <strong>Options:</strong>
                                    <input type="text" id="product_optOptions" class="form-control"
                                        placeholder="comma, seporated, list" />
                                </div>
                                <div class="col-lg-2 text-right"></br>
                                    <button id="product_opt_add" class="btn btn-success">Add</button>
                                </div>
                            </div>
                        </li>
                        {{#each options}}
                        <li class="list-group-item">
                            <div class="row">
                                <div class='col-lg-2 opt-name'>{{this.optName}}</div>
                                <div class='col-lg-2'>{{this.optLabel}}</div>
                                <div class='col-lg-2'>{{this.optType}}</div>
                                <div class='col-lg-4'>{{this.optOptions}}</div>
                                <div class='col-lg-2 text-right'>
                                    <button class='product_opt_remove btn btn-danger btn-sm'>Remove</button>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <p class="help-block">Here you can set options for your product. Eg: Size, color, style</p>
                </div>
            </div>

            <div class="form-group">
                <label for="editor" class="col-sm-2 control-label">Launch Timer</label>
                <div class="col-lg-10" id ="launchDateGroup">
                    <ul class="list-group" id="">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-3">
                                    <strong>Date:</strong>
                                    <input type="date" id="frmProductLaunchDate" class="launch-Date-Picker form-control"
                                        placeholder="Date" name="frmProductLaunchDate"
                                        value="{{result.productLaunchDate}}" />
                                </div>
                                <div class="col-lg-3">
                                    <strong>Time:</strong>
                                    <input type="text" id="frmProductLaunchTime" class="launch-Date-Picker form-control"
                                        placeholder="HH:mm:ss" name="frmProductLaunchTime"
                                        value="{{result.productLaunchTime}}" />
                                </div>
                                <!-- <div class="col-lg-2">
                                    <strong>Color:</strong>
                                    <input type="color" id="frmProductLaunchColor" name="frmProductLaunchColor"
                                        class="form-control" placeholder="#0000"
                                        value="{{result.productLaunchColor}}" />
                                </div> --><input type="text" class="form" id="fullDateLaunch" name="fullDateLaunch" hidden>
                                            <input type="text" class="form" id="fullDateLaunchVip" name="fullDateLaunchVip" hidden>
                                <div class="col-lg-2">
                                    <strong>VIP Early Access:</strong>
                                    <select id="frmProductLaunchVipStatus" class="form-control"
                                        name="frmProductLaunchVipStatus">
                                        <option value="0">Select</option>
                                        <option value="true" {{selectState result.productLaunchVipStatus "true" }}>Yes
                                        </option>
                                        <option value="false" {{selectState result.productLaunchVipStatus "false" }}>No
                                        </option>
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <strong>Status:</strong>
                                    <select id="frmProductLaunchStatus" class="form-control"
                                        name="frmProductLaunchStatus">
                                        <option value="0">Select</option>
                                        <option value="true" {{selectState result.productLaunchStatus "true" }}>Enabled
                                        </option>
                                        <option value="false" {{selectState result.productLaunchStatus "false" }}>
                                            Disabled</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p class="help-block">Here you can set options for your product. Eg: Size, color, style</p>
                </div>
            </div>

            <div class="form-group">
                <label for="editor" class="col-sm-2 control-label">Sold out Timer</label>
                <div class="col-lg-10" id = "soldOutGroup">
                    <ul class="list-group" id="">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-3">
                                    <strong>Date:</strong>
                                    <input type="date" id="frmProductSoldOutDate" class="form-control"
                                        placeholder="date" name="frmProductSoldOutDate"
                                        value="{{result.productSoldOutDate}}" />
                                </div>
                                <div class="col-lg-3">
                                    <strong>Time:</strong>
                                    <input type="text" id="frmProductSoldOutTime" class="sold-Date-Picker form-control"
                                        placeholder="HH:mm:ss" name="frmProductSoldOutTime"
                                        value="{{result.productSoldOutTime}}" />
                                </div>
                                <input type="text" class="form" id="fullDateSoldOut" name="fullDateSoldOut" hidden>
                                <div class="col-lg-3">
                                    <strong>Status:</strong>
                                    <select id="frmProductSoldOutStatus" class="form-control"
                                        name="frmProductSoldOutStatus">
                                        <option value="0">Select</option>
                                        <option value="true" {{selectState result.productSoldOutStatus "true" }}>Enabled
                                        </option>
                                        <option value="false" {{selectState result.productSoldOutStatus "false" }}>
                                            Disabled</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p class="help-block">Here you can set options for your product. Eg: Size, color, style</p>
                </div>
            </div>

            <div class="form-group">
                <label for="frmProductCrossSellStatus" class="col-sm-2 control-label">Allow cross selling</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input class="frmProductCrossSellStatus" type="checkbox" {{checkedState result.productCrossSellStatus}}
                                id="frmProductCrossSellStatus" name="frmProductCrossSellStatus">
                            <p class="help-block">Allow cross selling</p>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group cross-selling-input">
                <label for="frmProductCrossSellContentText" class="col-sm-2 control-label">Cross selling Text</label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                    <input type="text" id="frmProductCrossSellContentText" name="frmProductCrossSellContentText" class="form-control"
                        value="{{result.productCrossSellContentText}}" />
                </div>
                </div>
            </div>

            <div class="form-group cross-selling-input">
                <label for="frmProductCrossSellContent" class="col-sm-2 control-label">Cross selling Id</label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                    <input type="text" id="frmProductCrossSellContent" name="frmProductCrossSellContent" class="form-control"
                        value="{{result.productCrossSellContent}}" />
                </div>
                </div>
            </div>

            <div class="form-group" style="display: none">
                <label for="frmProductComment" class="col-sm-2 control-label">Allow comment</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input class="frmProductComment" type="checkbox" {{checkedState result.productComment}}
                                id="frmProductComment" name="frmProductComment">
                        </label>
                    </div>
                    <p class="help-block">Allow free form comments when adding products to cart</p>
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductIsNew" class="col-sm-2 control-label">Show StockX Banner?</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input class="frmIsShowStockxBanner margin-top-10" type="checkbox" {{checkedState result.isShowStockxBanner}} id="frmIsShowStockxBanner"
                                   name="frmIsShowStockxBanner">
                            <p class="help-block">Product will marked as New in Mobile app</p>

                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="frmenableEditionNumber" class="col-sm-2 control-label">Enable Edition Number?</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input class="frmenableEditionNumber margin-top-10" type="checkbox" {{checkedState result.enableEditionNumber}} id="frmenableEditionNumber"
                                   name="frmenableEditionNumber">
                            <input type="hidden" value="{{countEditionNumber}}" id="countEditionNumber"/>
                            <p class="help-block">This will show the products edition number in the vault</p>
                        </label>
                    </div>
                    <div class="upload-csv-edition-number form-group col-md-10 no-pad-left">
                        <div class="col-md-4">
                            <button id="upload-edition-number-file"  type="button" class="btn btn-info">Upload Edition Numbers</button>
                        </div>
                        <div class="col-md-4 text-right margin-top-10">
                            <span>Edition Size: </span>
                            {{#ifCond result.maxEditionNumber '>' 0 }}
                                <a id="size-number" style="text-decoration: underline; cursor: pointer" >{{result.maxEditionNumber}}</a>
                            {{else}}
                                <a id="size-number" data-toggle="modal" style="text-decoration: underline; cursor: pointer">Set Size</a>
                            {{/ifCond}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductIsNew" class="col-sm-2 control-label">Banner</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input class="frmProductIsNew margin-top-10" type="checkbox" {{checkedState result.productNew}} id="frmProductIsNew"
                                   name="frmProductIsNew">
                            <p class="help-block">Product will marked as New in Mobile app</p>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="frmProductIsFeature" class="col-sm-2 control-label">Thumbnail</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input class="frmProductIsFeature margin-top-10" type="checkbox" {{checkedState result.productFeature}} id="frmProductIsFeature"
                                   name="frmProductIsFeature">
                            <p class="help-block">Product will show in Feature section in Mobile app</p>

                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="frmZendeskUrl" class="col-sm-2 control-label">Zendesk Url</label>
                <div class="col-sm-10">
                    <input type="text" id="frmZendeskUrl" name="frmZendeskUrl" class="form-control"
                        value="{{result.zendeskUrl}}" />
                </div>
            </div>
           {{#ifCond result.productVariantSku 'in' 'LAB-21GBWLTTBSOG42|LAB-21WBSSATOG40|LAB-21GBWLTTBSOG54|LAB-21DFDWMBSOG49|LAB-21DFDWMMMPOG52|LAB-21DFDWMMROG50|LAB-21DFDWMSKOG51|LAB-21DFDWMTTOG47' }}
            <div class="form-group">
                <label for="frmUploadGameShiftCodes" class="col-sm-2 control-label">Upload Game/Shift Codes</label>
                 <div class="col-sm-10">
                    <div class="checkbox">
                    <button id="upload-game-shift-codes-file"  type="button" class="btn btn-info">Upload file</button>
                    </div>
                </div>
            </div>
               {{/ifCond}}
             {{#ifCond result.productVariantSku 'in' 'LAB-21GBWLTTBSOG42' }}
                <div class="form-group">
                <label for="frmUploadVoucherCodes" class="col-sm-2 control-label">Upload Voucher Codes</label>
                 <div class="col-sm-10">
                    <div class="checkbox">
                    <button id="upload-voucher-codes-file"  type="button" class="btn btn-info">Upload file</button>
                    </div>
                </div>
            </div>
              {{/ifCond}}
<div class="form-group">
                <label for="uploadAssets" class="col-sm-2 control-label">Upload Assets</label>
                <div class="col-sm-6">
                    <div class="image-upload-wrap">
                        <button class="file-upload-btn" type="button"
                            onclick="$('.file-upload-input').trigger( 'click' )"><i
                                class="icon-file-upload fa fa-upload"></i></button>
                        <input class="file-upload-input" type="file" id="assetsfiles" name="assetsfiles"
                            accept="image/*,video/*,mp4/*" multiple />
                        <input type="hidden" class="file-added-input" id="imageAdding" name="imageAdding[]">
                        <input type="hidden" id="imageAddingData" name="imageAddingData">
                        <div class="drag-text">
                            <h5><a>Add file</a> or drag file to upload</h5>
                            <h6>Your file should be in .jpg .png for the images and .mp4 for videos</h6>
                        </div>

                    </div>
                    <div style="text-align:left;">
                        <div id="divFiles" class="files">
                        </div>
                    </div>
                    <div style="text-align:right;">
                        <button type="button" style="display: none;" class="btn btn-primary button-loader"
                            data-loading-text="<iclass='fa fa-spinner fa-spin'></i> Uploading..." id="saveAssetsButton"
                            name="saveAssetsButton" type="submit">
                            Upload
                        </button>
                    </div>
                    <div class="image-list-result" style="display: none;">
                        <table id="assetsImageData"
                            class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th class="text-left container123">File name</th>
                                    <th>Downloadable</th>
                                    <th>Remove</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
                    <div class="form-group" style="display: none">
                <label for="frmProductTags" class="col-sm-2 control-label">Product tag words</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="frmProductTags" name="frmProductTags" value="{{result.productTags}}">
                    <p class="help-block">Tag words used to indexed products, making them easier to find and filter.</p>
                </div>
            </div>
            <div id="product-images">
                <h2>Product Background Images</h2>
                {{#if result.productBackgroundImage}}
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="col-md-3">
                                <img id="productBackgroundImage" src="{{result.productBackgroundImage}}" class="product-main-image img-responsive">
                            </div>
                        </div>
                    </div>
                {{else}}
                    {{#if result.productBackgroundImageS3}}
                        <div class="row">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="col-md-3">
                                    <img id="productBackgroundImage" src="{{result.productBackgroundImageS3}}" class="product-main-image img-responsive">
                                </div>
                            </div>
                        </div>
                    {{else}}
                    <h4 class="text-warning">No images have been uploaded for this product</h4>
                    {{/if}}
                {{/if}}
            </div>
        </div>
        <input type="hidden" name="frmProductId" id="frmProductId" value="{{result._id}}" />
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Product image upload</h4>
            </div>
            <div class="modal-body">
                <span class="btn btn-info btn-file">
                    Select file<input type="file" name="upload_file" id="upload_product_file" accept="image/*" required>
                </span>
                <label id="file_product_name"></label>
                <input type="hidden" id="productId" name="productId" value="{{result._id}}"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary button-loader"
                        onclick="uploadImageFileToServer('product')"
                        data-loading-text="<iclass='fa fa-spinner fa-spin'></i> Uploading..."
                        id="saveProductImageButton"
                        name="saveProductImageButton"
                        type="submit">
                    Upload
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalBackground" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Background image upload</h4>
            </div>
            <div class="modal-body">
                <span class="btn btn-info btn-file">
                    Select file<input type="file" name="upload_file" id="upload_file" accept="image/*" required>
                </span>
                <label id="file_name"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary button-loader" onclick="uploadImageFileToServer('backgroundImage')"
                    data-loading-text="<iclass='fa fa-spinner fa-spin'></i> Uploading..." id="saveBackgroundButton"
                    name="saveBackgroundButton" type="submit">
                    Upload
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="uploadEditionNumberModal" tabindex="-1" role="dialog" aria-labelledby="uploadEditionNumberModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload Edition Numbers</h4>
            </div>
            <div class="modal-body">
                <span>Upload a CSV containing two columns:<br/><br/>
                    - UDIDs<br/>
                    - Edition numbers to be tagged to the UDIDs <br/>
                    <br/>
                    If the UDIDs uploaded do not match the UDIDs assigned to the selected SKU,
                    the upload will fail
                </span><br/><br/>
                <span class="btn btn-info btn-file" style="min-width: 100px">
                    Upload
                    <input type="file" name="upload_edition_number_csv_file" id="upload_edition_number_csv_file" accept=".csv">
                </span>
                <label id="upload_edition_number_csv_file_name"></label>
                <br/>
            </div>
            <div class="modal-footer">
                <button class="pull-left btn btn-info btn-danger" style="min-width: 100px"
                        data-loading-text="<iclass='fa fa-spinner fa-spin'></i> Processing..."
                        onclick="resetEditionNumber()">Reset</button>
                <button class="btn btn-primary button-loader"
                        onclick="submitEditionNumber(true)"
                        data-loading-text="<iclass='fa fa-spinner fa-spin'></i> Processing..."
                        id="uploadEditionNumbeButton"
                        name="uploadEditionNumbeButton"
                        type="submit">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="uploadGameShiftCodesModal" tabindex="-1" role="dialog" aria-labelledby="uploadGameShiftCodesModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload Game/Shift Codes</h4>
            </div>
            <div class="modal-body">
                <span>Upload a CSV containing four columns:<br/><br/>
                    - Code<br/>
                    - UDID<br/>
                    - Allocated<br/>
                    - Expiry date (Required For Shift Codes)<br/>
                    <br/>
                    If the UDIDs uploaded do not match the UDIDs assigned to the selected SKU,
                    the upload will fail
                </span><br/><br/>
                <span class="btn btn-info btn-file" style="min-width: 100px">
                    Upload
                    <input type="file" name="upload_codes_excel_file" id="upload_codes_excel_file" accept=".csv">
                </span>
                <label id="upload_codes_excel_file_name"></label>
              
                <br/>
              
            </div>
            <div class="modal-footer">
                {{!-- <button class="pull-left btn btn-info btn-danger" style="min-width: 100px"
                        data-loading-text="<iclass='fa fa-spinner fa-spin'></i> Processing..."
                        onclick="resetGameShiftCodes()">Delete uploaded CSV</button> --}}
                <button class="btn btn-primary button-loader"
                        onclick="submitGameShiftCodes(true)"
                        data-loading-text="<iclass='fa fa-spinner fa-spin'></i> Processing..."
                        id="uploadGameShiftCodesButton"
                        name="uploadGameShiftCodesButton"
                        type="submit">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="uploadVoucherCodesModal" tabindex="-1" role="dialog" aria-labelledby="uploadVoucherCodesModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload Voucher Codes</h4>
            </div>
            <div class="modal-body">
                <span>Upload a CSV containing two columns:<br/><br/>
                    - User email<br/>
                    - SKU<br/>
                    <br/>
                    Emails in the CSV file may be duplicated or need to be assigned 2 sub-vouchers.
                </span><br/><br/>
                <span class="btn btn-info btn-file" style="min-width: 100px">
                    Upload
                    <input type="file" name="upload_voucher_codes_excel_file" id="upload_voucher_codes_excel_file" accept=".csv">
                </span>
                <label id="upload_voucher_codes_excel_file_name"></label>
                <br/>
              
            </div>
            <div class="modal-footer">
                {{!-- <button class="pull-left btn btn-info btn-danger" style="min-width: 100px"
                        data-loading-text="<iclass='fa fa-spinner fa-spin'></i> Processing..."
                        onclick="resetVoucherCodes()">Delete uploaded CSV</button> --}}
                <button class="btn btn-primary button-loader"
                        onclick="submitVoucherCodes(true)"
                        data-loading-text="<iclass='fa fa-spinner fa-spin'></i> Processing..."
                        id="uploadVoucherCodesButton"
                        name="uploadVoucherCodesButton"
                        type="submit">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="setEditionNumberModal" tabindex="-1" role="dialog" aria-labelledby="setEditionNumberModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Set Edition Size</h4>
            </div>
            <div class="modal-body">
                <span>Enter a number that will be the edition size displayed to users on their vault</span><br/><br/>
                <input class="form-control" type="number" step="1" id="maximumEditionNumber" ><br/>
                <p><strong>Warning: </strong>If the Edition Size is less than the total number of edition numbers
                    uploaded, only the edition numbers below the Edition Size will be displayed
                    in the user's vault</p>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary button-loader"
                        onclick="setEditionNumber(true)"
                        data-loading-text="<iclass='fa fa-spinner fa-spin'></i> Processing..."
                        id="setEditionNumberButton"
                        name="setEditionNumberButton"
                        type="submit">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
<link src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css">
</link>

<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<script src="/ckeditor/ckeditor.js"></script>
<script src="/ckeditor/samples/js/sample.js"></script>
<script>
    CKEDITOR.config.height = '450px';
    CKEDITOR.config.width = 'auto';
    CKEDITOR.replace('frmProductDescription');
    // var editor = CKEDITOR.inline( 'frmProductDescription' );
    var imageData = [];
    $(document).ready(function () {
        if ($('#frmProductCrossSellStatus').is(':checked')){
            console.log('CHECKED')
            $('.cross-selling-input').show();
            $('#frmProductCrossSellContentText').prop('required',true);
            $('#frmProductCrossSellContent').prop('required',true);
        } else {
            console.log('UNCHECK')
            $('.cross-selling-input').hide();
            $('#frmProductCrossSellContentText').prop('required',false);
            $('#frmProductCrossSellContent').prop('required',false);
        }
        $('#frmProductCrossSellStatus').change(function() {
            if($(this).is(":checked")) {
                $('.cross-selling-input').show();
                $('#frmProductCrossSellContentText').prop('required',true);
                $('#frmProductCrossSellContent').prop('required',true);
            } else {
                $('.cross-selling-input').hide();
                $('#frmProductCrossSellContentText').prop('required',false);
                $('#frmProductCrossSellContent').prop('required',false);
            }      
        });
        var imageFileAdding = [];
        var fileId = 0;
        if($('#frmenableEditionNumber').is(':checked')){
            $('.upload-csv-edition-number').show();
        }else{
            $('.upload-csv-edition-number').hide();
        }
        if($('#frmProductSoldOutTime').val().length ||
            $('#frmProductSoldOutDate').val().length ||
            $('#frmProductLaunchTime').val().length ||
            $('#frmProductLaunchDate').val().length
        )
        mergeDateTime();
        $('#frmProductSoldOutTime').change(function(e){
            mergeDateTime();
        })
        $('#frmProductSoldOutDate').change(function(e){
            mergeDateTime();
        })
        $('#frmProductLaunchTime').change(function(e){
            mergeDateTime();
        })
        $('#frmProductLaunchDate').change(function(e){
            mergeDateTime();
        })
        $(function () {
            $('#frmProductLaunchTime').datetimepicker({ format: 'HH:mm:ss' });
        });
        $(function () {
            $('#frmProductSoldOutTime').datetimepicker({ format: 'HH:mm:ss' });
        });
        
        $('#upload_edition_number_csv_file').change(function () {
            const file = $('#upload_edition_number_csv_file')[0].files[0].name;
            $('#upload_edition_number_csv_file_name').text(file);
        });

        $('#frmenableEditionNumber').change(function(e){
            e.preventDefault();
            if($(this).is(':checked')){
                $('.upload-csv-edition-number').show();
            } else {
                $('.upload-csv-edition-number').hide();
            }
        });

        $('#size-number').on("click",function(e){
            e.preventDefault();
            $('#setEditionNumberModal').modal('show');
            $('#maximumEditionNumber').val('');
        });

        $('#upload-edition-number-file').on("click",function(e){
            e.preventDefault();
            $('#uploadEditionNumberModal').modal('show');
            $('#upload_edition_number_csv_file_name').text('');
            $("#upload_edition_number_csv_file").val('');
        });

        //Upload Game/Shift Codes
         $('#upload_codes_excel_file').change(function () {
            const file = $('#upload_codes_excel_file')[0].files[0].name;
            $('#upload_codes_excel_file_name').text(file);
        });

         $('#upload-game-shift-codes-file').on("click",function(e){
            e.preventDefault();
            $('#uploadGameShiftCodesModal').modal('show');
            $('#upload_codes_excel_file_name').text('');
            $("#upload_codes_excel_file").val('');
        });

        //Upload Voucher Codes
         $('#upload_voucher_codes_excel_file').change(function () {
            const file = $('#upload_voucher_codes_excel_file')[0].files[0].name;
            $('#upload_voucher_codes_excel_file_name').text(file);
        });

         $('#upload-voucher-codes-file').on("click",function(e){
            e.preventDefault();
            $('#uploadVoucherCodesModal').modal('show');
            $('#upload_voucher_codes_excel_file_name').text('');
            $("#upload_voucher_codes_excel_file").val('');
        });

                // check id shopify and control launch or sold out
        const idShopify =$('[name="frmShopifyProductId"]').val();
        const url = document.location.origin + '/admin/shopify/' + idShopify;
            $.get( url, function() {
                
                    $("#soldOutGroup").find("input,select,textarea,button").prop("disabled",false);
                    $("#launchDateGroup").find("input,select,textarea,button").prop("disabled",false);
                
                
            }).fail(function(){
                    $("#soldOutGroup").find("input,select,textarea,button").prop("disabled",true);
                    $("#launchDateGroup").find("input,select,textarea,button").prop("disabled",true);
            });
        // check shopify and disable time when change input
        $('[name="frmShopifyProductId"]').change(function(){
            const idShopify =$('[name="frmShopifyProductId"]').val();
            const url = document.location.origin + '/admin/shopify/' + idShopify;
                $.get( url, function() {
                    
                        $("#soldOutGroup").find("input,select,textarea,button").prop("disabled",false);
                        $("#launchDateGroup").find("input,select,textarea,button").prop("disabled",false);
                    
                    
                }).fail(function(){
                        $("#soldOutGroup").find("input,select,textarea,button").prop("disabled",true);
                        $("#launchDateGroup").find("input,select,textarea,button").prop("disabled",true);
                });
        });
        // Get and draw table 
        getDataForTableAssetsFile($('#frmProductId').val());
        //Process upload Assets file
        $('.file-upload-input').change(function () {
            debugger;
            var imageAddingVal = $('input[name*=imageAdding]').val();
            if(imageAddingVal != '' && imageAddingVal  != '[]') {
                imageFileAdding = JSON.parse(imageAddingVal);
            }
            if (this.files.length > 0 && (imageAddingVal == '' || imageAddingVal == '[]')) {
                $('#saveAssetsButton').show();
                $('#divFiles').html('');
                $('#divFiles').append('<div class="col-md-12">' +
                    '<div class="col-md-4">' +
                    '<label class="control-label">FileName</label>' +
                    '</div>' +
                    '<div class="col-md-4">' +
                    '<label class="control-label">Type</label>' +
                    '</div>' +
                    '<div class="col-md-4">' +
                    '</div>' +
                    '</div>' +
                    '<div class="col-md-12">' +
                    '<p style="text-align: right;"></p>' +
                    '</div>');
            }
            else if (this.files.length == 0 && (imageAddingVal == '' || imageAddingVal == '[]')) {
                $('#saveAssetsButton').hide();
                $('#divFiles').html('');
            }
            for (var i = 0; i < this.files.length; i++) { //Progress bar and status label's for each file genarate dynamically
                $("#divFiles").append(
                    '<div class="col-md-12">' +
                    '<div class="col-md-4 ct-truncate">' +
                    '<span style="line-height:6px;height:25px" title="'+ this.files[i].name +'">' + this.files[i].name + '</span>' +
                    '</div>' +
                    '<div class="col-md-4">' +
                    '<span style="line-height:6px;height:25px">' + this.files[i].type + '</span>' +
                    '</div>' +
                    '<div class="col-md-4">' +
                    '<button type="button" class="btn btn-danger cancelData" style="line-height:6px;height:25px" id="cancel_' + fileId + '">cancel</button>' +
                    '</div>' +
                    '</div>' +
                    '<div class="col-md-12" id="notify_' + fileId + '">' +
                    '<p style="text-align: right;"></p>' +
                    '</div>');
                var newFile = {
                    idName: 'cancel_' + fileId,
                    name: this.files[i].name, type: this.files[i].type,
                    lastModified: this.files[i].lastModified,
                    lastModifiedDate: this.files[i].lastModifiedDate,
                    size: this.files[i].size,
                    webkitRelativePath: this.files[i].webkitRelativePath
                };
                imageData.push(this.files[i]);
                imageFileAdding.push(newFile);
                fileId++;
            }
            debugger;
            
                $('input[name*=imageAdding]').val(JSON.stringify(imageFileAdding));
            
            $(this).val('');
        });
        $('#saveAssetsButton').on('click', async function () {
            await uploadAssetsFilesToServer(imageData);
            imageData = [];
            imageFileAdding = [];
            fileId = 0;
            
        });
        $('#divFiles').on('click','.cancelData', function() {
            var idName = $(this).attr('id'); 
            var fileId = idName.split('_')[1];
            imageData = removeFileUpload(fileId,imageData);
            if(imageData.length == 0) {
                debugger;
                imageFileAdding = [];
                fileId = 0;
            }
        });

    });
    function mergeDateTime(){
          const fullDayLaunch =
          $('#frmProductLaunchDate').val().toString().split('-').reverse().join('-') +
          ' ' +
          $('#frmProductLaunchTime').val().slice(0, 5);
          $('#fullDateLaunch').val(fullDayLaunch);

          const fullDaySold =
          $('#frmProductSoldOutDate').val().toString().split('-').reverse().join('-') +
          ' ' +
          $('#frmProductSoldOutTime').val().slice(0, 5);
          $('#fullDateSoldOut').val(fullDaySold);

         
          const d = new Date($('#frmProductLaunchDate').val());
          d.setDate(d.getDate() - 1);
          const date = d.toISOString().slice(0, 10);
          const fullDayLaunchVip =
          date.toString().split('-').reverse().join('-') + ' ' + $('#frmProductLaunchTime').val().slice(0, 5);
          $('#fullDateLaunchVip').val(fullDayLaunchVip);
    }
    function resetEditionNumber(){
        const productId = $('#frmProductId').val();
        bootbox.confirm("Are you sure?", function(result){
            if(result){
                $.ajax({
                    url: '/admin/qrcode/reset-edition-number',
                    data: {productId: productId},
                    method: 'post',
                    success: function (response) {
                        $('#setEditionNumberButton').button('reset');
                        $('.modal-backdrop').hide();
                        $('#uploadEditionNumberModal').modal('hide');
                        showNotification(response.message, 'success', false);
                    },
                    error: function (response) {
                        $('#setEditionNumberButton').button('reset');
                        $('#uploadEditionNumberModal').modal('hide');
                        showNotification(response.responseJSON.message, 'danger');
                    },
                });
            }
        });
    }
    function isInt(value) {
        var x = parseFloat(value);
        return !isNaN(value) && (x | 0) === x;
    }
    function setEditionNumber(){
        const maxEditionNumber = $('#maximumEditionNumber').val();
        const countEditionNumber = $('#countEditionNumber').val();
        const productId = $('#frmProductId').val();
        if(maxEditionNumber < 0 || !isInt(maxEditionNumber)){
            bootbox.alert('Please enter a whole number');
            return;
        }

        if(countEditionNumber > 0 && maxEditionNumber < countEditionNumber){
            bootbox.confirm("The maximum edition number you are trying to set is lower than the number of edition numbers assigned to products.  Only those toys with edition sizes lower than the maximum edition size will have their edition number displayed in their vault", function(result){
                if(result){
                    submitEditionSize(maxEditionNumber, productId);
                }
            });
        }else{
            submitEditionSize(maxEditionNumber, productId);
        }
    }

    function submitEditionSize(maxEditionNumber, productId){
        $('#setEditionNumberButton').button('loading');
        $.ajax({
            url: '/admin/product/set-size-edition-number',
            data: {maxEditionNumber: maxEditionNumber, productId: productId},
            method: 'post',
            success: function (response) {
                $('#size-number').text(maxEditionNumber);
                $('#maxEditionNumber').val(maxEditionNumber);
                $('#setEditionNumberButton').button('reset');
                $('.modal-backdrop').hide();
                $('#setEditionNumberModal').modal('hide');
                $('#uploadEditionNumberModal').modal('hide');
                showNotification(response.message, 'success', false);
            },
            error: function (response) {
                $('#setEditionNumberButton').button('reset');
                showNotification(response.responseJSON.message, 'danger');
            },
        });
    }
    //Process Upload Games/Shift Codes

    function resetGameShiftCodes() {
      const productId = $('#frmProductId').val();
         bootbox.confirm("Are you sure you want to delete all codes that have been uploaded?", function(result){
            if(result){
                $.ajax({
                    url: '/admin/scan-to-unlock-code/reset-code',
                    data: {productId: productId},
                    method: 'post',
                    success: function (response) {
                        $('.modal-backdrop').hide();
                        $('#uploadGameShiftCodesModal').modal('hide');
                        showNotification(response.message, 'success', false);
                    },
                    error: function (response) {
                        $('#uploadGameShiftCodesModal').modal('hide');
                        showNotification(response.responseJSON.message, 'danger');
                    },
                });
            }
        });

    };
    function submitGameShiftCodes(withFile) {
        const productVariantSku = $('#frmProductVariantSku').val();
        const productId = $('#frmProductId').val();
        const file = $('#upload_codes_excel_file').prop('files')[0];
                           
        $.ajax({
                    url: '/api/v4/getGameAndShiftCodeBySku/'+productVariantSku,
                    method: 'get',
                    success: function (response) {
                      if(!response.result) {
                            submitCodesData(withFile ? file :null, productId);
                      }
                      else {
                        bootbox.confirm("Are you sure you want to overwrite the existing csv that has already been uploaded?", function(result){
                        if(result){
                            submitCodesData(withFile ? file :null, productId);
                    }
                    });                   
                      }
                    },
                    error: function (response) {
                    showNotification(response.responseJSON.message, 'danger');     
                }                 
                });
      
    };

    function submitCodesData(file, productId){
        if(!file){
            bootbox.alert('Please select excel file');
            return;
        }
        $('#uploadGameShiftCodesButton').button('loading');
        const form_data = new FormData();
        form_data.append('upload_file', file);
        form_data.append('productId', productId);
        $.ajax({
            url: '/admin/qrcode/upload-game-shift-codes',
            enctype: 'multipart/form-data',
            processData: false, // Important!
            contentType: false,
            cache: false,
            data: form_data,
            type: 'post',
            success: function (response) {
                $('#uploadGameShiftCodesModal').modal('hide');
                $('#uploadGameShiftCodesButton').button('reset');
                $('.modal-backdrop').hide();
                showNotification('CSV has been successfully updated. '+ response.message + ' ' + response.data.countCodesUploaded + ' rows', 'success', false);
            },
            error: function (response) {
                $('#uploadGameShiftCodesButton').button('reset');
                showNotification(response.responseJSON.message, 'danger');
            },
        });
    }

     //Process Upload Voucher Codes

    function resetVoucherCodes() {
      const productId = $('#frmProductId').val();
         bootbox.confirm("Are you sure you want to delete all codes that have been uploaded?", function(result){
            if(result){
                $.ajax({
                    url: '/admin/scan-to-unlock-voucher-code/reset-code',
                    data: {productId: productId},
                    method: 'post',
                    success: function (response) {
                        $('.modal-backdrop').hide();
                        $('#uploadVoucherCodesModal').modal('hide');
                        showNotification(response.message, 'success', false);
                    },
                    error: function (response) {
                        $('#uploadVoucherCodesModal').modal('hide');
                        showNotification(response.responseJSON.message, 'danger');
                    },
                });
            }
        });

    };
    function submitVoucherCodes(withFile) {
        const productVariantSku = $('#frmProductVariantSku').val();
        const productId = $('#frmProductId').val();
        const file = $('#upload_voucher_codes_excel_file').prop('files')[0];
        $.ajax({
                    url: '/api/v4/getVoucherCodeBySku/'+productVariantSku,
                    method: 'get',
                    success: function (response) {
                      if(!response.result) {
                            submitVoucherCodesData(withFile ? file :null, productId);
                      }
                      else {
                        bootbox.confirm("Are you sure you want to overwrite the existing csv that has already been uploaded?", function(result){
                        if(result){
                            submitVoucherCodesData(withFile ? file :null, productId);
                    }
                    });                   
                      }
                    },
                    error: function (response) {
                    showNotification(response.responseJSON.message, 'danger');     
                }                 
                });
      
    };

    function submitVoucherCodesData(file, productId){
        if(!file){
            bootbox.alert('Please select csv file');
            return;
        }
        $('#uploadVoucherCodesButton').button('loading');
        const form_data = new FormData();
        form_data.append('upload_file', file);
        form_data.append('productId', productId);
        $.ajax({
            url: '/admin/qrcode/upload-voucher-codes',
            enctype: 'multipart/form-data',
            processData: false, // Important!
            contentType: false,
            cache: false,
            data: form_data,
            type: 'post',
            success: function (response) {
                $('#uploadVoucherCodesModal').modal('hide');
                $('#uploadVoucherCodesButton').button('reset');
                $('.modal-backdrop').hide();
                showNotification('CSV has been successfully updated. '+ response.message + ' ' + response.data.countCodesUploaded + ' rows', 'success', false);
            },
            error: function (response) {
                $('#uploadVoucherCodesButton').button('reset');
                showNotification(response.responseJSON.message, 'danger');
            },
        });
    }

    function submitEditionNumber(withFile){
        const productId = $('#frmProductId').val();
        const maxEditionNumber = $('#maximumEditionNumber').val();
        const file = $('#upload_edition_number_csv_file').prop('files')[0];
        submitData(withFile? file :null, productId, maxEditionNumber)
    };
    function submitData(file, productId, maxEditionNumber){
        if(!file){
            bootbox.alert('Please select csv file');
            return;
        }
        $('#uploadEditionNumbeButton').button('loading');
        const form_data = new FormData();
        form_data.append('upload_file', file);
        form_data.append('productId', productId);
        $.ajax({
            url: '/admin/qrcode/batch-upload-edition-number',
            enctype: 'multipart/form-data',
            processData: false, // Important!
            contentType: false,
            cache: false,
            data: form_data,
            type: 'post',
            success: function (response) {
                $('#uploadEditionNumberModal').modal('hide');
                $('#uploadEditionNumbeButton').button('reset');
                $('.modal-backdrop').hide();
                $('#countEditionNumber').val(response.data.countEditionNumber);
                showNotification(response.message, 'success', false);
            },
            error: function (response) {
                $('#uploadEditionNumbeButton').button('reset');
                showNotification(response.responseJSON.message, 'danger');
            },
        });
    }
</script>

<style>
    .drag-text {
        text-align: center;
    }
    .drag-text {
        padding-bottom: 20px;
    }
    .drag-text h6 {
        color: #838383;
    }
    .image-upload-wrap {
        margin-top: 20px;
        border: 4px dashed #E0E0E0;
        position: relative;
    }
    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }
    .file-upload-btn {
        width: 100%;
        margin: 0;
        border: none;
        padding-top: 20px;
        border-radius: 4px;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }
    .icon-file-upload {
        font-size: 25px;
        color: #838383;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100% !important;
    }
    td,
    th {
        text-align: center;
        padding: 8px;
    }
    td .text-left {
        text-align: left;
    }
    .table-nowrap-form {
        margin-top: 20px;
    }
    table,
    tr,
    td {
        border: none !important;
    }
    .image-list-result {
        padding-top: 20px;
    }
    .inline-text {
       display: inline;
    }
    .container {
      margin: 10px;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .ct-truncate{
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
    }
    span.no-show{
    display: none;
    }
    span.show-ellipsis:after{
    content: "...";
    }
</style>