{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-8">
			<h2>Import Products</h2>
            <hr/>
			<form method="post" id="qrcode-import-csv" action="/admin/product/import" data-toggle="validator" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Select csv file - <a href="/upload-template/products_upload_template.csv">click here </a> to download template</label>
                    <br/>
                    <br/>
                    <input type="file" class="form-control" name="file" accept="text/csv" required>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" id="submit-csv-file" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
</div>
