{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-8">
			<h2>Sync Product from shopify</h2>
			<form method="post" id="edit_form" action="/admin/product/sync" data-toggle="validator">
                <div class="form-group">
                    <label>Product Id</label>
                    <input type="text" class="form-control" name="id" value="" required>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Sync</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
</div>
