{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-8">
			<h2>New Encrypted String</h2>
			<form method="post" id="qr_code_edit_form" action="/admin/qrcode/insert" data-toggle="validator">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <div class="form-group">
                    <label>Product Id *</label>
                    <input type="text" class="form-control" name="productId" value="{{product.shopifyProductId}}" readonly>
                    <input type="hidden" class="form-control" name="id" value="{{product._id}}" readonly>
                </div>
                <div class="form-group">
                    <label>Product title *</label>
                    <input type="text" class="form-control" name="productTitle" value="{{product.productTitle}}" required readonly>
                </div>
                <div class="form-group">
                    <label>Product Variant *</label>
                    <input type="text" class="form-control" name="productVariant" value="{{product.productVariantSku}}" required readonly>
                </div>
                <div class="form-group">
                    <label>Number of item</label>
                    <input type="number" id="qrcode-number" class="form-control" name="numberOfItem" value="{{qrcode.numberOfItem}}" required>
                </div>
                <div class="form-group">
                    <label>Generate password: </label>
                    <input class="settingsPageEnabled" type="checkbox" id="generatePassword" name="generatePassword">
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="button" id="btn-create-qrcode" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
</div>
