{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 content-color">
    <div class="col-lg-12">
        <h2>Encrypted String</h2>
        <h4>Product Title: {{product.productTitle}}</h4>
        <img class="pull-left" src="{{product.productImageUrl}}" style="padding-left: 0px; width: 50px;"/>
        <br/>
        <br/>
        <h4>Product Id: {{product.shopifyProductId}}</h4>
        <h4>SKU: {{product.productVariantSku}}</h4>
        <h4>Total Encrypted String: {{count}}</h4>
        <h4>Total UUID: {{countUdid}}</h4>
        {{#if totalPages}}
        <h4>Pages:
            <select id="slection-page" style="width:60px;text-align-last:center">
                <option value="{{page}}" hidden="hidden" selected="selected">{{page}}</option>
                {{#each totalPages}}
                    <option {{selectState this page}}>{{this}}</option>
                {{/each}}
            </select>
        </h4>
        {{/if}}
        <input type="hidden" value="{{count}}" id="qrcode_length"></input>
        <input type="hidden" value="{{product._id}}" id="product_id"></input>
        <input type="hidden" value="{{config.emailManufacture}}" id="emailManufacture"></input>
        <input type="hidden" value="{{config.emailCC}}" id="emailCC"></input>
        <input type="hidden" value="{{ countNotUUID }}" id="countNotUUID"></input>
        <a href="/admin/qrcode/new/{{product._id}}"><button type="button" class="btn btn-success">Create Encrypted String</button></a>
        <a href="/admin/qrcode/delete-all-qrcode/{{product._id}}" onclick="return confirm('Are you sure?')"><button type="button" class="btn btn-danger">Reset Encrypted String</button></a>
        <a href="/admin/qrcode/reset-all-udid/{{product._id}}" onclick="return confirm('Are you sure?')"><button type="button" class="btn btn-danger">Reset NFC UDID</button></a>
        <button type="button" id="btn-download-csv" class="btn btn-success">Export CSV</button>
        <a href="/admin/qrcode/import/{{product._id}}"><button type="button" id="btn-import-csv" class="btn btn-success">Import CSV/XLSX</button></a>
        <hr>

    </div>
    <div class="col-lg-12 search_bar">
        <div class="input-group">
            <input type="text" name="product_filter" id="qrcode_filter" class="form-control input-lg" placeholder="Filter Encrypted String">
            <span class="input-group-btn">
                <button class="btn btn-success btn-lg" id="btn_qrcode_filter">Filter</button>
                <a href="/admin/qrcode/view/{{product._id}}/0" class="hidden-xs btn btn-warning btn-lg"><i class="fa fa-times" aria-hidden="true"></i></a>
            </span>
        </div>
        <p class="text-warning top-pad-10">Store can be filtered by: Store title keywords</p>
    </div>
    {{#if qrcodes}}
        <div class="col-lg-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <!--<span class="pull-right"><strong>Published</strong></span>-->
                    <strong>Encrypted String list</strong>
                </li>
                {{#each qrcodes}}
                    <div class="container">
                        <h5 style="word-break: break-all">{{this.encrytedMessage}}</h5>
                        {{#if this.password }}
                            <h5 class="text-info">Password: {{this.password}}</h5>
                        {{else}}
                            <h5 class="text-info">Password: Empty</h5>
                        {{/if}}
                        {{#if this.udid }}
                            <h5>UDID: {{this.udid}}</h5>
                        {{else}}
                            <h5 class="text-danger">UUID: Empty</h5>
                        {{/if}}

                        <div class="container no-pad-left">
                            <a href="/admin/qrcode/reset-udid/{{this._id}}" onclick="return confirm('Are you sure?')" type="button" class="btn btn-info">Reset UUID</a>
                            <a href="/admin/qrcode/update-udid/{{this._id}}" type="button" class="btn btn-info">Update UUID</a>
                            <a tabindex="0" role="button" class="btn btn-success" onclick="generateQrcode('{{this._id}}','{{this.encrytedMessage}}')" data-trigger="focus" data-placement="bottom" title="QR Code">Show QR Code</a>
                            <div id="{{this._id}}" style="display:none; width:auto; height:auto;padding:15px;"></div>
                        </div>
                        <br/>
                    </div>
                {{/each}}
            </ul>
        </div>
    {{else}}

    {{/if}}
</div>
