{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-md-8">
            <h2>Encrypted String update</h2>
            <form method="post" id="qr_code_edit_form" action="/admin/qrcode/update-udid" data-toggle="validator"
                  onSubmit="alert('UDID cannot be recovered. Are you sure?')";>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <div class="form-group">
                    <label>Product Shopify Id</label>
                    <input type="text" class="form-control" name="productId" value="{{qrcode.productId}}" readonly>
                    <input type="hidden" class="form-control" name="qrcodeId" value="{{qrcode._id}}" readonly>
                </div>
                <div class="form-group">
                    <label>Product title</label>
                    <input type="text" class="form-control" name="productTitle" value="{{product.productTitle}}" required readonly>
                </div>
                <div class="form-group">
                    <label>Product Variant</label>
                    <input type="text" class="form-control" name="productVariant" value="{{product.productVariantSku}}" required readonly>
                </div>
                <div class="form-group">
                    <label>Encrypted message</label>
                    <input type="text" class="form-control" name="encryptedMessage" value="{{product.productVariantSku}}" required readonly>
                </div>
                <div class="form-group">
                    <label>Current UUID</label>
                    <input type="text" class="form-control" name="udid" value="{{qrcode.udid}}" required readonly>
                </div>
                <div class="form-group">
                    <label>New UUID (*)</label>
                    <input type="text" class="form-control" name="newUdid" placeholder="aabbccddee" required>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="button" id="btn-create-qrcode" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
