{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-8">
			<h2>Encrypted String import csv</h2>
			<form method="post" id="qrcode-import-csv" action="/admin/qrcode/import" data-toggle="validator" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Select csv file</label>
                    <input type="hidden" class="form-control" name="product_id" value="{{product._id}}" required>
                    <input type="file" class="form-control" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
                </div>
                <div class="form-group">
                    <label>File Type</label>
                    <select class="form-control" id="fileType" name="fileType">
                        <option value="0" selected>csv</option>
                        <option value="1">xlsx</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" id="submit-csv-file" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
</div>
