{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="col-lg-5" style="border-right-width:1px; border-right-style: solid; border-right-color: #dddddd">
        <h3>Send Encrypted String Email<br> to Manufacturer</h3>
        <div class="form-group">
            <label>Recipient</label>
            <input type="text" class="form-control" name="emailManufacture" id="emailManufacture" value="{{config.emailManufacture}}" readonly>
            <input type="hidden" class="form-control" name="id" id="productSku" value="{{productSkus}}" readonly>
        </div>
        <div class="form-group">
            <label>Email CC(s)</label>
            <input type="text" class="form-control" id="emailCC" name="emailCC" required>
        </div>
        <div class="form-group">
            <label>Subject</label>
            <input type="text" class="form-control" id="subject" name="subject" value="" required >
        </div>
        <div class="form-group">
            <label>Instructions</label>
            <Textarea type="text" placeholder="" id="content" style="min-height: 200px" class="bootbox-input bootbox-input-email form-control"></Textarea>
        </div>
    </div>
    <div class="col-lg-7">
        <h3>Attach SKU to email</h3>
        <br>
        <div class="form-group">
            <label>Search for Product SKU</label>
            <input type="text" class="form-control" name="attachedSku" id="attachedSku">
            <table class="table" style="display: block; max-height: 150px;overflow-y: scroll;">
                <tbody style="border: 1px solid #dddd;" id="resultSearch">
                </tbody>
            </table>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">SKU</th>
                <th scope="col">Remainder Chips
                    <i data-toggle="tooltip" data-placement="top" title="UDID that are not attached to encrypted string" class="fa fa-info fa-icon" aria-hidden="true" style="background-color: #dddddd;padding: 4px 9px;border-radius: 14px;"></i>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody style="border: 1px solid #dddd;" id="tableAddedSKU">

            </tbody>
        </table>
        <div class="form-group">
           <label id="label-error" class="text-danger"></label>
        </div>
        <div class="form-group">
            <div class="pull-right">
                <button type="button" id="btn-send-email-multiple" class="btn btn-warning"><span style="color: black">Send Email</span></button>
            </div>
        </div>
    </div>
</div>

