{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-12">
            <form id="settingsPageEditor">
                <h2 class="clearfix">Static page <div class="pull-right"><button type="submit" id="btnPageUpdate" class="btn btn-success">{{button_text}}</button></div></h2>
                <input type="hidden" id="page_id" value="{{page._id}}">
                <div class="form-group">
                    <label>Page name *</label>
                    <input type="text" class="form-control" id="pageName" name="pageName" value="{{page.pageName}}" required>
                    <p class="help-block">A friendly name to manage the static page.</p>
                </div>
                <div class="form-group">
                    <label>Page slug *</label>
                    <input type="text" class="form-control" id="pageSlug" name="pageSlug" value="{{page.pageSlug}}" required>
                    <p class="help-block">This is the relative URL of the page. Eg: A setting of "about" would make the page available at: mydomain.com/about</p>
                </div>
                <div class="form-group">
                    <label>Page Enabled: </label>
                    <div class="checkbox">
                        <label><input class="settingsPageEnabled" type="checkbox" {{checkedState page.pageEnabled}} id="pageEnabled" name="pageEnabled"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Page content *</label>
                    <textarea id="pageContent">{{page.pageContent}}</textarea>
                    <p class="help-block">Here you can enter the content you wish to be displayed on your static page.</p>
                </div>
            </form>
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<script>
    $(document).ready(function() {
        $('#pageContent').summernote({
            height: 300,
            minHeight: null
        });
    });
</script>
