{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 content-color">
    <div class="col-lg-12">
        <div class="col-lg-6 padding-left-0">
            <h2>StockX - Analytics</h2>
        </div>
        <div class="col-lg-6">
            <div class="product-create-new">
                <a href="/admin/stockx-analytics/new"><button class="btn btn-new">Upload Report</button></a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12">
        <label>Periods: </label>
        <select id="slection-page-stockx-report" class="selection-page">
            <option {{selectState "alltime" @root.selectedId}} value="alltime">All Time</option>
            {{#each stockReports}}
                <option {{selectState this._id @root.selectedId}} value="{{this._id}}"> {{this.startDate}} - {{this.endDate}}</option>
            {{/each}}
        </select>
        <br/>
        <h5>Total Click: {{stockReport.totalClickGA}}</h5>
        <h5>Total Purchase: ${{fixFormatCurrency stockReport.totalPurchase}}</h5>
        <h5>Commissions: ${{fixFormatCurrency stockReport.totalEarn}}</h5>
        <h5>Conversion rate: {{Divide stockReport.totalAction stockReport.totalClickGA}}</h5>
        <br/>
        <table class="table table-bordered table-sortable" id="stockx-productTable">
            <thead>
            <tr>
                <th>#</th>
                <th>SKU</th>
                <th>Product Title</th>
                <th>Total click</th>
            </tr>
            </thead>
            <tbody>
            {{#ifCond selectedId '===' 'alltime'}}
                {{#each stockReportDetail}}
                    <tr>
                        <td><img class="pull-left product-image-stockx-report" src="{{getImageFromProduct this._id.product}}"/></td>
                        {{#if this._id.product}}
                            <td><a href="/admin/product/edit/{{getProductId this._id.product}}">{{this._id.sku}}</a></td>
                        {{else}}
                            <td>{{this._id.sku}}</td>
                        {{/if}}
                        <td>{{this._id.productTitle}}</td>
                        <td>{{this.totalClick}}</td>
                    </tr>
                {{/each}}
            {{else}}
                {{#each stockReportDetail}}
                    <tr>
                        <td><img class="pull-left product-image-stockx-report" src="{{getImageFromProduct this.product}}"/></td>
                        {{#if this.product}}
                            <td><a href="/admin/product/edit/{{getProductId this.product}}">{{this.sku}}</a></td>
                        {{else}}
                            <td>{{this.sku}}</td>
                        {{/if}}
                        <td>{{this.productTitle}}</td>
                        <td>{{this.totalClick}}</td>
                    </tr>
                {{/each}}
            {{/ifCond}}
            </tbody>
        </table>
    </div>
</div>
