{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-md-8">
            <h2>Upload Report</h2>(Please upload report by month in CSV format))
            <br/>
            <br/>
            <form method="post" id="edit_form" action="/admin/stockx-analytics/insert" data-toggle="validator" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Start Date</label>
                    <input type="date" class="form-control" name="start_date" required>
                </div>
                <div class="form-group">
                    <label>End Date</label>
                    <input type="date" class="form-control" name="end_date" required>
                </div>
                <div class="form-group">
                    <label>Upload Google Analytics report</label>
                    <input type="file" class="form-control" name="file_ga" accept="text/csv" required>
                </div>
                <div class="form-group">
                    <label>Upload StockX Report</label>
                    <input type="file" class="form-control" name="file_stockx" accept="text/csv" required>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
