{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-8">
			<h2>New Store</h2>
			<form method="post" id="edit_form" action="/admin/store/insert" data-toggle="validator" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Store name *</label>
                    <input type="text" class="form-control" name="storeName" value="{{store.name}}" required>
                </div>
                <div class="form-group">
                    <label>Store handle *</label>
                    <input type="text" class="form-control" name="storeHandle" value="{{store.handle}}" required>
                </div>
                <div class="form-group" style="padding-left: 0px;">
                    <label for="isFeatureCollection" class="col-sm-4 control-label" style="padding-left: 0px;">Is Feature Collection?</label>
                    <input class="isFeatureCollection"
                           type="checkbox" {{checkedState store.isFeatureCollection}}
                           id="isFeatureCollection"
                           name="isFeatureCollection">
                </div>
                <div class="form-group" style="padding-left: 0px;">
                    <label for="isHideStore" class="col-sm-4 control-label" style="padding-left: 0px;">Is Hide Store?</label>
                    <input class="isHideStore"
                           type="checkbox" {{checkedState store.isHideStore}}
                           id="isHideStore"
                           name="isHideStore">
                </div>
                <br/>
                <div class="form-group">
                    <label>Store small image</label>
                    <input type="file" class="form-control" name="file" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label>Store bigger image</label>
                    <input type="file" class="form-control" name="file_biger_size" accept="image/*" required>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
</div>
