{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-8">
			<h2>Store edit</h2>
			<form method="post" id="edit_form" action="/admin/store/update" data-toggle="validator" enctype="multipart/form-data">
                <input type="hidden" name="storeId" value="{{store._id}}" />
                <div class="form-group">
                    <label>Store name</label>
                    <input type="text" class="form-control" name="storeName" value="{{store.name}}" required>
                </div>
                <div class="form-group">
                    <label>Store handle</label>
                    <input type="text" class="form-control" name="storeHandle" value="{{store.handle}}" required>
                </div>
                <div class="form-group" style="padding-left: 0px;">
                    <label for="isFeatureCollection" class="col-sm-4 control-label" style="padding-left: 0px;">Is Feature Collection?</label>
                    <input class="isFeatureCollection"
                           type="checkbox" {{checkedState store.isFeatureCollection}}
                           id="isFeatureCollection"
                           name="isFeatureCollection">
                </div>
                <div class="form-group" style="padding-left: 0px;">
                    <label for="isHideStore" class="col-sm-4 control-label" style="padding-left: 0px;">Is Hide Store?</label>
                    <input class="isHideStore"
                           type="checkbox" {{checkedState store.isHideStore}}
                           id="isHideStore"
                           name="isHideStore">
                </div>
                <br/>
                <label>Small Image</label>
                <div class="form-group">
                    <img style="width: 100px;" src="{{store.image}}"/>
                </div>
                <label>Bigger Image</label>
                <div class="form-group">
                    <img style="width: 100px;" src="{{store.image_bigger}}"/>
                </div>
                <div class="form-group">
                    <label>Upload new image</label>
                    <input type="file" class="form-control" name="file" accept="image/*">
                </div>
                <div class="form-group">
                    <label>Upload Bigger image</label>
                    <input type="file" class="form-control" name="file_biger_size" accept="image/*">
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
</div>
