{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-8">
			<h2>Users <span class="pull-right"><a href="/admin/user/new" class="btn btn-success btn-sm">New user</a></span></h2>
			<ul class="list-group">
				{{#each users}}
					<li class="list-group-item">
						<strong>User:</strong> {{this.usersName}} - ({{this.userEmail}})
				  		<span class="pull-right">
                            <strong>Role: </strong>
                            {{#ifCond this.groupRole '===' 'admin'}}
                                <span>Admin</span>
                            {{/ifCond}}
                            {{#ifCond this.groupRole '===' 'marketing'}}
                                <span>Marketing</span>
                            {{/ifCond}}
                            {{#ifCond this.groupRole '===' 'production'}}
                                <span>Production</span>
                            {{/ifCond}}
                            {{#ifCond this.groupRole '===' 'customer_service'}}
                                <span>Customer Service</span>
                            {{/ifCond}}
                            <a href="/admin/user/edit/{{this._id}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            <a href="/admin/user/delete/{{this._id}}" onclick="return confirm('Are you sure you want to delete?')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
						</span>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>