{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-8">
			<h2>User edit</h2>
			<form method="post" id="edit_form" action="/admin/user/update" data-toggle="validator">
			<input type="hidden" name="userId" value="{{user._id}}" />
            <div class="form-group">
		    	<label>Users name</label>
		    	<input type="text" class="form-control" name="usersName" value="{{user.usersName}}" required>
		  	</div>
			<div class="form-group">
		    	<label>User email</label>
		    	<input type="text" class="form-control" name="userEmail" value="{{user.userEmail}}" readonly>
		  	</div>
		  	<div class="form-group">
			    <label>User password {{#ifCond session.user '==' user.userEmail}}*{{/ifCond}}</label>
			    <input type="password" class="form-control" name="userPassword">
		  	</div>
		  	<div class="form-group">
			    <label>Password confirm {{#ifCond session.user '==' user.userEmail}}*{{/ifCond}}</label>
			    <input type="password" data-validation-match-match="userPassword" data-validation-match-message="Password values to not match" class="form-control" name="frm_userPassword_confirm">
		  	</div>
            {{#isAnAdmin session.isAdmin}}
                {{#ifCond session.user '!=' user.userEmail}}
                    <div class="form-group">
                        <label>Role</label>
                        <select class="form-control" id="userRole" name="groupRole" required>
                            <option value="">Select</option>
                            <option value="admin" {{selectState user.groupRole "admin"}} >Admin</option>
                            <option value="marketing" {{selectState user.groupRole "marketing"}} >Marketing</option>
                            <option value="production" {{selectState user.groupRole "production"}} >Production</option>
                            <option value="customer_service" {{selectState user.groupRole "customer_service"}} >Customer Service</option>
                        </select>
                    </div>
                {{/ifCond}}
            {{/isAnAdmin}}
                <div class="form-group">
                    <br/>
                    <img class="pull-left" src="{{user.qrcodeImage}}"/>
                </div>
		  	<div class="form-group">
    			<div class="pull-right">
      				<button type="submit" class="btn btn-success">Update</button>
    			</div>
  			</div>
            </form>
		</div>
	</div>
</div>