{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-8">
			<h2>New Release</h2>
			<form method="post" id="edit_form" action="/admin/app-release/insert" data-toggle="validator" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Version name *</label>
                    <input type="text" placeholder="2011232121" class="form-control" name="versionName" required>
                </div>
                <div class="form-group">
                    <label>Version Code *</label>
                    <input type="text" placeholder="3.0.5" class="form-control" name="versionCode" required>
                </div>
                <div class="form-group">
                    <label>Delay Hour To Release (hours)</label>
                    <input type="number" value="1" placeholder="1 hours" class="form-control" name="delayToRelease" required>
                </div>
                <div class="form-group">
                    <label>Note Release *</label>
                    <textarea type="text"
                          style="min-height: 150px; font-size: 11px"
                          class="form-control"
                          placeholder="Enter release note"
                          name="noteRelease"></textarea>
                </div>
                <div class="form-group">
                    <label>APK file</label>
                    <input type="file" class="form-control" name="file" accept=".apk"  required>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
</div>
