{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-8">
			<h2>Edit Release</h2>
			<form method="post" id="edit_form" action="/admin/app-release/update" data-toggle="validator" enctype="multipart/form-data">
                <input type="hidden" name="releaseId" value="{{release._id}}" />
                <div class="form-group">
                    <label>Version name *</label>
                    <input type="text" placeholder="2011232121" class="form-control" value="{{release.versionName}}" name="versionName" required>
                </div>
                <div class="form-group">
                    <label>Version Code *</label>
                    <input type="text" placeholder="3.0.5" class="form-control" value="{{release.versionCode}}" name="versionCode" required>
                </div>
                <div class="form-group">
                    <label>Delay Hour To Release (hours)</label>
                    <input type="number" placeholder="1 hours" class="form-control" value="{{release.delayToRelease}}" name="delayToRelease" required>
                </div>
                <div class="form-group">
                    <label>Note Release *</label>
                    <textarea type="text"
                          style="min-height: 150px; font-size: 11px"
                          class="form-control"
                          placeholder="Enter release note"
                          name="noteRelease">{{release.noteRelease}}</textarea>
                </div>
                <div class="form-group">
                    <label>APK file (current file: <span>{{release.appUrl}}</span>)</label>
                    <input type="file" class="form-control" name="file" accept=".apk">
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
</div>
