{{> partials/menu}}
<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6 padding-left-0">
                <h2>App release History</h2>
                <br/>
                {{#ifCond nextReleaseVersion '!=' null}}
                    <h5>Next Release Code {{nextReleaseVersion.versionCode}}: <label style="color: green" id="countDownRelease"></label></h5>
                    <input hidden id="dateRelease" value="{{nextReleaseVersion.dateRelease}}"/>
                    <input hidden id="delayToRelease" value="{{nextReleaseVersion.delayToRelease}}"/>
                {{/ifCond}}
                {{#ifCond currentReleaseVersion '!=' null}}
                    <h5>Active Release Code: {{currentReleaseVersion.versionCode}}</h5>
                    <h5>Active Release Version: {{currentReleaseVersion.versionName}}</h5>
                {{/ifCond}}
                <a href="/admin/app-release/download-url"><button class="btn btn-new">Download</button></a>
            </div>
            <div class="col-lg-6">
                <div class="product-create-new">
                    <a href="/admin/app-release/new"><button class="btn btn-new">New Release</button></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <br/>
            <table class="table table-bordered table-sortable" id="appReleaseTable">
                <thead>
                <tr>
                    <th>Version Name</th>
                    <th>Version Code</th>
                    <th>Note</th>
                    <th>Date Released</th>
                    <th>AppUrl</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each results}}
                    <tr>
                        <td><a href="/admin/app-release/edit/{{this._id}}"><span class="text-info">{{this.versionName}}</span></a></td>
                        <td><span class="text-info">{{this.versionCode}}</span></td>
                        <td><textarea style="min-height: 150px; min-width: 360px; font-size: 11px"
                                      class="form-control"
                                      readonly
                                      class="text-info">{{this.noteRelease}}
                        </textarea></td>
                        <td ><span class="text-info" style="min-width: 200px">{{ formatDate this.dateRelease "dddd, DD-MM-YYYY hh:mm A" }}</span></td>
                        <td><a href="{{this.appUrl}}"><span class="text-info">Link</span></a></td>
                        <td style="min-width: 50px;">
                            <a class="text-success" href="/admin/app-release/edit/{{this._id}}" > <i class="fa fa-edit"></i></a>
                            <a class="text-danger" href="/admin/app-release/delete/{{this._id}}" > <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        try {
            var delayHours = $('#delayToRelease').val();
            var countDownDate = new Date($('#dateRelease').val());
            if (countDownDate) {
                countDownDate.setHours(countDownDate.getHours() + parseInt(delayHours));
                console.log(countDownDate);
                // Set the date we're counting down to
                // Update the count down every 1 second
                var x = setInterval(function () {

                    // Get today's date and time
                    var now = new Date().getTime();

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;

                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    // Display the result in the element with id="demo"
                    $("#countDownRelease").text(days + "d " + hours + "h "
                            + minutes + "m " + seconds + "s ");

                    // If the count down is finished, write some text
                    if (distance < 0) {
                        clearInterval(x);
                        $("#countDownRelease").text("RELEASED");
                    }
                }, 1000);
            }
        }catch (ex){
            console.log(ex);
        }
    </script>
</div>
