{{> themes/Cloth/front-menu-verify}}
<div class="productsWrapper col-md-8 col-md-offset-2">
    {{#if errorMessage}}
        <label class="text-warning">{{errorMessage}}</label>
    {{/if}}
    {{#if UDID}}
        <p><label class="text-success">Smart contract Information is correct</label></p>
        <p><label class="text-success">UDID: {{UDID}}</label></p>
        <p><label style="word-break: break-all;" class="text-success">Encryted Message: {{encrytedMessage}}</label></p>
        <p><label style="word-break: break-all;" class="text-success">Decryted Message: {{decrytedMessage}}</label></p>
        <p><label style="word-break: break-all;" class="text-success">Owner Email: {{OnwersName}}</label></p>
        {{#if smartcontract}}
        <p><label style="word-break: break-all;" class="text-success">View on <a href="https://ropsten.etherscan.io/address/{{smartcontract}}">etherscan</a></label></p>
        {{/if}}
    {{/if}}
    <input type="text" name="smart-contract" id="frm-smart-contract" class="form-control" value="{{smartcontract}}" placeholder="Please enter smart contract">
    <br/>
    <span class="input-group-btn">
        <button class="btn btn-primary" id="btn_verify" type="submit">Verify</button>
    </span>
</div>
<div class="col-md-12">
    <div id="pager" class="text-center"></div>
</div>
